* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus
{
	outline:0;
}
ul {
	list-style-type: none;
}
/* Overlay */
#simplemodal-overlay {
	background-color: #000;
}

/* Container */
#simplemodal-container {
	height: 100%;
	width: 100%;	
	border: 4px solid #FF4500;	
	background-color: #fff;
}
#simplemodal-container .simplemodal-data {
	/*padding: 8px;*/
}
#simplemodal-container code {
	background: #141414;
	border-left: 3px solid #65B43D;
	color: #bbb;
	display: block;
	font-size: 12px;
	margin-bottom: 12px;
	padding: 4px 6px 6px;
}

#simplemodal-container a.modalCloseImg {
	background: url(/static/images/x.png) no-repeat;
	width: 25px;
	height: 29px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: -15px;
	right: -16px;
	cursor: pointer;
}
#simplemodal-container h3 {
	color: #84b8d9;
}

#container {
	display: none;
	border-style: solid;
	border-width: 5px;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.editor {
	position: relative;
	width: 80%;
	height: auto;
}

.sidePane {
	position: relative;
	float: left;
	resize: none;
	width: 20%;
	height: inherit;
}


.stretch {
	width: 100%;
	height: 100%;
}

div {
	display: block;
}

header {
	position:fixed;
	width:100%;
	height: 60px;
	display: block;
	margin-bottom: 20px;
	z-index: 900;
}

footer{
	text-align: center;
	height:150px;
	font-weight:bold;
	color:#333;
}
.sideBarSubHeader {
	width: 150px;
	height: 24px;
	display: inline-block;
	font-size: 16px;
	background-color: #005FB3;
	color: #F4F4F4;	
	padding-left: 5px;
	font-weight: bold;
}

#headerBox {
	margin: 0 auto;
	width: 960px;
	height: 100%;
}

#subHeader {
	height: 60px;	
	background-color:#313131;
	box-shadow: 0 0 8px #000;	
	
}
#box{
	overflow: hidden;
	width: 300px;
	float: left;
}


.appBody {
	display: block;
	background-attachment:fixed;
	background-image: url('/static/images/gamealoon_bg.jpeg');	
	background-size:cover;	
	color: #000000;
	line-height: 150%;
	font-family: 'Open Sans', Helvetica, Arial, san;
}

#changePasswordModal
{
	width:100%; 
	height:100%;
	display:none; 
	background-color:#003869;
	
}
.resetPasswordButton
{
	background-color:#FF4500; 
	border-color:#FF4500; 
	padding:5px; 
	font-size:13px;
}
.textureBg{
	background:#474747 url('/static/images/bg.png') repeat repeat;
}

.grayBoxShadow{
	box-shadow: 0 0 8px #ccc;
	-webkit-box-shadow: 0 0 8px #ccc;
	-moz-box-shadow: 0 0 8px #ccc;
}

.blackBoxShadow{
	box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0 8px #000;
	-moz-box-shadow: 0 0 8px #000;
}

.colorBlack
{
	color:#000000;
}
.colorGray
{
	color:#a4a4a4;
}

.singleUserPageMain
{
	width: 310px;
	height: 940px;
	margin-bottom: 20px;
	position: absolute;
	z-index: 510;
}
.userPageTextValues
{
	width: 282px;
	padding:5px;
	color: #76A7F5;
	text-shadow: 0px 2px 3px #000;
	font-size: 13px;
	font-weight: bolder;
}
.userFollowersAndGamePanelTable
{
	margin-top: 40px;
	width: 260px;
	padding: 10px 10px 10px 0px;
	text-align: center;
}

.userFollowersAndGamePanelTable p
{
	font-size: 13px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}



#userDetails
{
	width: 920px;
	height: 320px;
}
#userAvatar
{
	width: 282px;	
	padding-top: 10px;
	overflow: hidden;
}
#userAvatar a
{
	margin-left: 30px;
	overflow: hidden;
}

#userAvatar img#userAvatarPic
{
	border-radius: 10%;
	border-style: solid;
	border-color: #E7E6DD;
	border-width: 10px;
}

#userInformation
{
	width: 638px;	
}
#userNameDetails
{
	width: 100%;
	height: 64px;
	padding: 20px;
}
.userProfileNameFont
{
	font-size: 38px;
}
.userPageNameFont
{
	font-size: 50px;
}
.userNameFont
{
	
	margin-left:10px;	
	color: #0087FF;
	text-shadow: 0px 3px 8px #005;	
	text-transform: capitalize;
}
.colorSideBarText
{
	color: #3A81FF;
}
#aka
{	
	margin-left: 10px;
	margin-right: 10px;	
}
#userName a, #userName
{
	color: #FF5555;	
	text-shadow: 0px 3px 8px #500;
}

#socialInteraction
{
	font-weight: bolder;
	font-style: italic;
	width: 150px;
	height: 35px;
	font-size: 14px;	
	
}
.follow
{
	border-color: #005FB3;
	background-color: #005FB3;	
	
}
.unfollow
{
	border-color: #FF2222;
	background-color: #FF2222;	
}
.block
{
	border-color: #005FB3;
	background-color: #005FB3;	
	
}
.unblock
{
	border-color: #FF2222;
	background-color: #FF2222;	
}
.marginLeft25
{
	margin-left: 25px;
}
.marginLeft40
{
	margin-left: 40px;
}

.fontSize30
{
	font-size: 30px;
}
#userContact
{
	width: 100%;
	height: 30%;
	padding: 10px 30px 10px 30px;
	margin-top: 30px;
}

#contactDetails
{
	width: 100%;
	height: 50%;
	line-height: 2;
}

#emailLabel
{	
	font-size: 13px;
}

#emailId
{	
	margin-left: 10px;	
}

.leftGap
{
	margin-left: 20px;
}

#birthdayLabel
{
	font-size: 13px;
}
#birthdayData
{
  margin-left:10px;  
}

.cursorPointer
{
	cursor:pointer;
}
.visibilityFont
{
	padding: 1px 5px 1px 1px;
	color: white;
	font-size: 10px;
}

.private
{
	background-color: #f00;
	border-color: #f00;
}

.public
{
	background-color: #008000;
	border-color: #008000;
}

.noCarouselData
{
	color: #222;
	text-shadow: 0px 2px 3px #555;
	font-size: 13px;
	font-weight: bolder;
}

#place
{
	width: 100%;
	height: 50%;
	margin-top: 10px;
}

#placeLabel
{	
	font-size: 13px;
}

#placeData
{
	margin-left: 10px;	
}

#gameBio
{
	width: 638px;
	height: 96px;
	padding: 10px 30px 10px 30px;
}

#gameBioContent
{
	color:#FF4500;
	padding-left: 80px;
	font-style: italic;
	font-size: 15px;
	text-shadow: 0px 3px 8px #000;
}

#gameBioHeader
{
	font-size: 13px;
}

#genreSet,#platformSet
{
	background-color: #005FB3;
	border-color:#005FB3;
	padding: 2px;
	color:#fff;
}

.marginRight10
{
	margin-right: 10px;
}
.marginRight20
{
	margin-right: 20px;
}
.marginRight30
{
	margin-right: 30px;
}
.marginBottom10
{
	margin-bottom: 10px;
}
.marginTop5
{
	margin-top: 5px;
}
.marginTopMinus5
{
	margin-top: -5px;
}
.marginTop10
{
	margin-top: 10px;
}
.marginTop20
{
	margin-top: 20px;
}

.marginTop30
{
	margin-top: 30px;
}

.textShadowBlack
{
	text-shadow: 0px 3px 8px #000;
}

#userSettings:hover
{
	text-shadow: 0px 0px 8px #fff;
}
#createPostButton
{
	background-color: #00A3FF;
	padding: 2px;
}
#createPostButton:hover
{
	text-shadow: 0px 0px 8px #fff;
}
.textShadowWhite
{
	text-shadow: 0px 0px 8px #fff;
}
.textShadowOrange
{
	text-shadow: -5px -1px 20px #FF4500;
}
.userContactsFont
{
	color: #76A7F5;
	text-shadow: 0px 2px 3px #000;
	font-size: 15px;
	font-weight: bolder;
}
.userProfileUserInterestsWidth
{
	width: 368px;
}
.userProfileUserInterestsPadding
{
	padding: 32px 10px 50px 30px;
}

.fontWeightBold
{
	font-weight: bolder;
}
.singleUserInterestsPadding
{
	padding: 0 10px 50px 30px;
}
#userInterests
{
	
	height: 400px;	
		
}
#toggleWindow
{
	position: absolute;
	top: 10px;
	left: 253px;
}
#toggleWindow span
{	
	background-color: #222;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
.userProfileStatsWidth
{
	width: 500px;
}


.singleUserStatsWidth
{
	width: 552px;
}
#interestHeading
{
	font-size: 17px;	
}

#platformInterests
{
	margin-top: 30px;
	margin-left: 20px;
}
#genreInterests
{
	margin-top: 10px;
	margin-left: 20px;
}

#platformListForm, #genreListForm
{
	width: 350px;
	height:260px;
}

.checkBoxFont
{
	font-size: 12px;
}
.divTable
{
	display: table;
}
.divRow
{
	display: table-row;
}
.divCell
{
	display: table-cell;
}
.divTableFooterHeight
{
	height: 40px;
}
#platformList, #genreList
{
	background-color: #f4f4f4;
}
#platformList h4, #genreList h4
{
	margin-left: 10px;
	width: 350px;
}

#platformListForm div, #platformListForm div
{
	width: 350px;	
}

.userInterestListBorderBottom
{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #003869;
}
#userStats
{	
	height: 475px;
	
}
.userProfileStatsPadding
{
	padding: 30px 10px 10px 10px;
}

.singleUserStatsPadding
{
	padding: 53px 10px 10px 30px;
}
#statsContent
{
	width: 100%;
	height: 95%;
	margin-top:20px;
}

#mainStats1
{
	width: 100%;
	height: 34%;
	padding: 10px;
}



#passwordButton
{
	margin-left: 35px;
	width: 200px;
	height: 50px;
	border-color: #005FB3;
	background-color: #005FB3;
	color: #FFF;
	font-size: medium;
	font-weight: bolder;
	font-style: italic;
}

.userInterestButtons
{
	padding: 5px;
	background-color: #FF4500;
	border-color: #FF4500;	
	font-weight: bolder;
}
.userInterestLists
{
	display:none; 
	position: absolute; 
	width: 0px; 
	height: 0px; 
	background-color: #fff;
	z-index: 10;
	margin-top: -20px; 
	margin-left: 50px;
	border-style: solid;
	border-width: 5px;	
}

.marginLeft30
{
	margin-left: 30px;
}
.height940
{
	height: 940px;
}

.height320
{
	height: 320px;
}
.height200
{
	height: 200px;
}
.padding20
{
	padding: 20px;
}

#userStats p
{
	font-size: 17px;	
}

.marginLeft50
{
	margin-left: 50px;
}

.marginLeft70
{
	margin-left: 70px;
}
#moreButton
{
	width: 100%;  
	height: 10%;
}
#moreButton span button
{
	padding:10px; 
	background-color:#E46F62;
	border-color:#E46F62
}

.postTr
{
	border-bottom: 2px solid;
	padding-bottom: 5px;
}

.tabWidth
{
	width: 800px;
}
.tabGrid
{
	border-style: solid; 
	border-color: #F4F4F4; 
	border-width:5px; 
	margin-left: 5px; 
	margin-top: 5px;
	border-radius: 50%;
	width:100px;
	height: 100px;
}
.userCircle
{
	display:none; 
	margin-left:85px; 
	margin-top: 50px; 
	position: absolute; 
	width:200px; 
	height:200px; 
	border-style: solid; 
	background-color: #fff; 
	box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0 8px #ccc;
	-moz-box-shadow: 0 0 8px #ccc;
}

.conversationDiv
{
	width: 800px; 
	min-height: 400px; 
	border-style: solid;
}

.displayInline
{
	display: inline;
}

.hiddenDiv
{
	display: none;
}
.showDivBlock
{
	display: block;
}

#editor
{
	width: 600px; 
	display: none;
}
.relative {
	position: relative;
}
.mainContainer {
	margin: 0 auto 12px;
	width: 980px;
	display: block;
	background-color: #FFFFFF;
	box-shadow: 0 0 8px #ccc;
	-webkit-box-shadow: 0 0 8px #ccc;
	-moz-box-shadow: 0 0 8px #ccc;
	margin-bottom: 100px;
}

.signupOrLogin {
	display: none;
	width: 100%;
	height: 100%;
	padding: 40px;
}

.signin {
	position: relative;
	margin-top: 58px;
	float: left;
}
.signInButton
{
	padding: 5px;
	border-color: #005FB3;
	background-color: #005FB3;
	color: #fff;	
	font-size: 15px;
}
#userDetailsBox
{
		border-right-style: solid;
		border-right-width: 5px;
		border-right-color: #222;
}
#userdetailsbox {
	position: relative;
	margin-top: 50px;
	margin-left: 10px;
	float: left;
	color:#FFFFFF;	

}

.colorWhite{
	color: #FFF;
}
.colorOrange
{
	color: #FF4500;
}
fieldset{
	padding:0 5px 0 5px;
}
#userdetailsbox span {	
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 3px 8px #000;
}
#errorMessage {
	display: none;	
	font-size:13px;
}
.error
{
	color: #FC5353;	
}
.success
{
	color: #3399FF;	
}
#signInBox {	
	width: 45%;
	height: inherit;	
	float: left;
	margin: 0 auto;
	border-right: solid 2px #545454;
}

.signupHeader
{
	color: #FF7000;
	font-size: 40px;
}
form {
	padding: 10px;
	margin: 0 auto;
}
.formFields {
	display: block;	
	margin: 0 auto;
}
#registerBox {	
	width: 55%;
	height: inherit;	
	float: left;
	margin: 0 auto;
	padding-left: 50px;
}
#logo {
	position: relative;
	float: right;
	color: #006DCC;
}
#logoBeta
{
	position: absolute;
	top: 0;
	right: 0;
}

#logo a {
	border: 0;
}
#logo img {
	border: 0;		
}
#searchDiv
{
	position: absolute;
	margin-left: 230px; 
	margin-top: 30px;
}
#searchBox
{
	width: 300px;
	padding-left: 20px;
	color:#005FB3; 
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}
#search
{
	padding: 0.5px 10px; 
	border-bottom-right-radius: 15px; 
	border-top-right-radius: 15px; 
	margin-left: -5px; 	
	background: -webkit-linear-gradient(top,#005FB3 0,#151515 120%);
	background: -moz-linear-gradient(top,#005FB3 0,#151515 120%);
	background: -o-linear-gradient(top,#005FB3 0,#151515 120%);
	background: -ms-linear-gradient(top,#005FB3 0,#151515 120%);
	background: linear-gradient(top,#005FB3 0,#151515 120%);	
}
#container_layout {		
	margin: 0 auto;	
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	min-height: 1080px;
}



img {
	border: 0;
}




/*---Videos---*/


.videoCaption {
	position: relative;
}

/*---News--*/
.gridDim
{
	width:110px;
	min-height: 200px;
}
.otherGridDim
{
	width:100px;
	height: 100px;
}
.height260
{
	height: 260px;
}
.width100
{
	width:100px;
}
.width300
{
	width: 300px;
}

.width500
{
	width: 500px;
}
.width400
{
	width:400px;
}




#divider {
	width: 900px;
	border-top: 10px #005FB3 solid;
}


#restContent {
	position: relative;
	width: 950px;
	margin-top: 20px;
	overflow: hidden;
}
#recentArticles {	
	float: left; 
	width: 100%;		
}
.articleUsernameBox
{
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
	background-color: #4065C4;
}
.articleContentHeader
{
	height: 30px;
	padding: 5px;
	overflow: hidden;
	margin-bottom: 10px;
}
.articleContentPreview
{
	height: 240px;
	overflow: hidden;
}
.articleContentPreviewData
{
	background-color: #222;
	opacity: 0.8;
}
.articleContentFooter
{
	height: 30px;
	padding: 5px;
}
.smallPostDiv
{
	width: 300px;
	height: 240px;
}
.bigPostDiv
{
	width: 620px;
	height: 240px;
}
.recentArticleDiv {		
	background-color: #f4f4f4;
	box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0 8px #000;
	-moz-box-shadow: 0 0 8px #000;
	margin-top: 20px;
}
.textCapitalization
{
	text-transform: capitalize;
}
.textUpperCase
{
	text-transform: uppercase;
}
/*Gloon font sizes begin*/
.font7
{
	font-size: 7px;
}
.font10
{
	font-size: 10px;
}
.font11
{
	font-size: 11px;
}
.font12
{
	font-size: 12px;
}
.font13
{
	font-size: 13px;
}
.font14
{
	font-size: 14px;
}
.font15
{
	font-size: 15px;
}
.font16
{
	font-size: 16px;
}
.font17
{
	font-size: 17px;
}
.font18
{
	font-size: 18px;
}
.font19
{
	font-size: 19px;
}
.font20
{
	font-size: 20px;
}
.font21
{
	font-size: 21px;
}
.font22
{
	font-size: 22px;
}
.font23
{
	font-size: 23px;
}
.font25
{
	font-size: 25px;
}
.font26
{
	font-size: 26px;	
}
.font27
{
	font-size: 27px;	
}
.font28
{
	font-size: 28px;
}
.font29
{
	font-size: 29px;
}
.font35
{
	font-size: 35px;
}

.font37
{
	font-size: 37px;
}

.font40
{
	font-size: 40px;
}

.font50
{
	font-size: 50px;
}
/*Gloon font sizes end*/

.colorLightGray
{
	color: #f3f3f3;
}
.moreLink
{
	background-color: #009AF0;
	margin-left: 5px;
}
#gameAndUserLists {				
	overflow: hidden;	
	margin-top: 25px;
}
#adbox1 {
	height: 260px;
	position: relative;
	border-style: solid;
	display: none;
}
#adbox2 {
	height: 260px;
	position: relative;
	border-style: solid;
	display: none;
}
#topUsers, #topGames {
	position: relative;
}

#searchWidget {
	min-height: 800px;
}
.sideBarHeader {
	border-top: 3px solid #005FB3;
	margin-bottom: 15px;
}
.topUserDiv {
	width: 260px;
	height: 40px;
	overflow: hidden;
	border-bottom: 1.5px solid #C5C5C5;
	margin-bottom: 5px;
}

.topAndRecentVideoDiv {
	width: 260px;
	height: 65px;
	overflow: hidden;
	border-bottom: 1.5px solid #C5C5C5;
	margin-bottom: 5px;
}
.userDetailTable {
	display: table;
	float: left;
	height: 40px;
	padding: 0 5px 0 0;
}
.userDetailTableData {
	width:200px;
	display: table-cell;
	vertical-align: middle;
}
.textDecorationNone
{
	text-decoration: none;
}
.bottommargin {
	margin-bottom: 40px;
}

.bannerad {
	height: 102px;
	margin: 0 auto;
	text-align: center;
}

.banner {
	height: 90px;
	width: 728px;
	border-style: solid;
	margin: 0 auto 15px auto;
	display: none;
	text-align: center;
}

/*user profile*/

#labeldiv {
	position: absolute;
	width: 200px;
}

.userdetailstext {
	float: left;
	font-size: 13px;
	color: #FFFFFF;
	margin-left: 10px;
}
.marginleft {
	margin-left: 2px;
}
.marginLeft5{
	margin-left:5px;
}
.marginLeft10 {
	margin-left: 10px;
}
.marginLeft20 {
	margin-left: 20px;
}
.labeltext {
	margin-bottom: 15px;
	color: white;
	font-size: 16px;
}

#activityContent
{
	padding: 5px;
	margin: 70px 5px 20px 0px;
}

.userProfileActivityRowWidth
{
	width: 700px;
}

#postsContent:hover {
	overflow: scroll;
}

.postTh{
	font-size: 16px;
	font-weight: bolder;
	color: #005FB3;
	padding: 10px;
}

.postTd{
	font-size: 13px;
	padding-left: 10px;
}

#postsBody tr:hover{
	background-color: #76A7F5;
}

#postsContent, #activityContent
{
	height:500px;
	overflow: hidden;
}
#activityContent:hover {
	overflow: scroll;
}
#user_profile_picture {
	position: relative;
	width: 200px;
	height: 200px;
	border-color: #002B80;
	border-width: 2px;
}
#fullName {
	/*display: inline;*/
}
#username{
	font-size: 20px;
	border-style: solid;
	border-color: white;
	margin-top: 5px;
	width: 200px;
	text-align: center;
}


.shadow {
	box-shadow: 10px 10px 11px #888888;
	-webkit-box-shadow: 10px 10px 11px #888888;
	-moz-box-shadow: 10px 10px 11px #888888;
}
#userProfilePictureHolder{
	background-color: #FF4500;
	padding: 10px 10px 10px 15px;
}
#userdetailheader {
	background-color: #005FB3;
	height: 40px;
}

#userdetail {
	padding: 25px;	
}

.count {
	float: right;
	color: #FFFFFF;
	font-size: 12px;
}

.achievementsandfollowebyandfollowingbox {
	position: relative;	
	height: 150px;
}
.allcontent {
	margin-top: 50px;
}
.paddingUserCard
{
	padding: 0 10px 5px 10px;
}
.itemList {
	float: left;
	display: block;
	overflow: hidden;
	margin-right: 4px;
}
.contentheader {
	position: absolute;
	width: 100px;
	height: 60px;
	left: 295px;
	color: white;
	text-align: center;
	line-height: 322%;
	text-shadow: 0px 3px 8px #2a2a2a;
}
#gamebioheaderbg {
	background-color: #E46F62;
}
#postsheaderbg {
	background-color: #76A7F5;
	top: 300px;
}
#activitesheaderbg {
	background-color: #4DBFDB;
	top: 680px;
}
.semiangle {
	height: 0;
	width: 0;
	left: 395px;
	border-right: 25px solid transparent;
	position: absolute;
}

#gamebioangle {
	border-top: 60px solid #E46F62;
}
#postsangle {
	border-top: 60px solid #76A7F5;
	top: 300px;
}
#activitesangle {
	border-top: 60px solid #4DBFDB;
	top: 680px;
}
.floatRight {
	float: right;
}

.floatLeft
{
	float:left
}
#addGame
{
	padding: 5px;
	border-color: #285FA5;
	background-color: #285FA5;
}
#gameSearchBox
{
	width: 100%;
}
#createOrEditUserPost
{
	width: 960px;
}
.editorButtons
{
	padding: 5px;	
	background-color: #38CAEE;
	border-color: #38CAEE;
}

#userAvatarUploadBox
{
	height: 100%;
	text-align: center;
	padding-top:100px;
}
.userPost {
	display: none;	
	width: 100%;		
	opacity.0.3;
}
.overflowHidden {
	overflow: hidden;
}
.overflowScroll
{
	overflow: scroll;
}

#selectedGame
{
	display: none;
	height: 100px;
	padding: 5px;
	border-style:dotted;
	border-width: 1px;
	border-color: #aaa;	
}
#createPost {
	background-color: #76A7F5;
	border-color:#76A7F5;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin: 5px;
	padding: 10px;
}
#postsContent{
	padding:5px;
	margin:70px 5px 20px 50px;
}

#postsContent table{
	width: 800px;
}
#conversationBox
{
	width: 800px;
}
#postButtons
{
	display: inline; 
	padding: 5px;
	width: 100%;
	margin: 10px 0px 20px 0px;
}
#articleFormContent
{
	width: 100%;
}
#articleFields
{
	width:620px;
}
#editorFooter
{
	height:30%;	
}
#articleFormOtherControls
{
	width:300px;
}
#title, #subTitle
{
	width: 600px;	
}

a {
	text-decoration: none;
}

.interestUserProfileFontSize
{
	font-size: 10px;
}
.platformMenu
{
	position: absolute;top: 240px;text-align: center;z-index: 700;
}
.ps3
{
	background-color: #000055;
	color: #fff;	
	padding: 2px;
}
.xbox360
{
	background-color: #008000;
	color: #fff;	
	padding: 2px;
}
.xboxOne
{
	background-color: #025a02;
	color: #fff;	
	padding: 2px;
}
.ps4
{
	background-color: #005FB3;
	color: #fff;	
	padding: 2px;
}
.wiiu
{
	background-color: #0077B3;
	color: #fff;	
	padding: 2px;
}
.pc
{
	background-color: #ff0000;
	color: #fff;	
	padding: 2px;
}
.vita
{
	background-color: #222222;
	color: #fff;	
	padding: 2px;
}
.n3ds
{
	background-color: #555555;
	color: #fff;	
	padding: 2px;
}
.android
{
	background-color: #a4c739;
	color: #fff;	
	padding: 2px;
}
.ios
{
	background-color: #949494;
	color: #fff;	
	padding: 2px;
}
.all
{
	background-color: #4E4EB4;
	color: #fff;
	padding: 2px;
}
.news
{
	background-color: #A83E68;  
	padding: 2px;
}
.news:before
{
  font-family: "gloonfont";
  font-style: normal;
  font-weight: normal;
  speak: none; 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;     
  font-variant: normal;
  text-transform: none;      
  line-height: 1em;
  margin-left: .2em;
  content: '\eb11';
}


.interested
{
	background-color: #00A3FF;
}
.notInterested
{
	background-color: #F84747;
}
.review
{
	background-color: #AC4EB4;  
	padding: 2px;
	
}
.review:before
{
  font-family: "gloonfont";
  font-style: normal;
  font-weight: normal;
  speak: none; 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;     
  font-variant: normal;
  text-transform: none;      
  line-height: 1em;
  margin-left: .2em;
  content: '\e9b5';
}
.feature
{
	background-color: #36A3D6;  
	padding: 2px;
}
.gloonicle
{
	background-color: #34B3BE;  
	padding: 2px;
}
.gloonicle:before
{
  font-family: "gloonfont";
  font-style: normal;
  font-weight: normal;
  speak: none; 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;     
  font-variant: normal;
  text-transform: none;      
  line-height: 1em;
  margin-left: .2em;
  content: '\e82d';
}
.video
{
	background-color: #EC660C;  
	padding: 2px;
}
.video:before
{
  font-family: "gloonfont";
  font-style: normal;
  font-weight: normal;
  speak: none; 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;     
  font-variant: normal;
  text-transform: none;      
  line-height: 1em;
  margin-left: .2em;
  content: '\eaab';
}
.genreStyle
{
	background-color: #CD0A0A;
	color: #fff;	
	padding: 2px;
}

.imageUploaderOverlay
{
	width: 100%; 
	height: 100%;
	background-color: #fff;
	opacity: 0.7;
}

.selectorBox
{
	/*display: none;*/
	width: 100%; 
	height: 100%;
	top:0px;
	left: 0px; 
	z-index: 20000;
	position: absolute;
}
.imageUploaderBox
{
	display: none;
	width: 100%; 
	height: 100%;
	top:0px;
	left: 0px; 
	z-index: 1000;
	position: fixed;
}


#imageUploader
{
	z-index: 30001;
} 
.imageUploaderSidePane
{
	width: 20%;
	height: 1000px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #444;
}

.sidePaneItem
{
	border-bottom-style: solid;
	border-bottom-color: #444;
	border-bottom-width: 1px;
	padding: 10px 0 10px 0;
	text-align: center;	
}
#editorImageSelector
{
	position: absolute;
	width: 960px;
	height: 620px;
	left: 25%;
	top: 15%;
	background-color: #444;
	z-index: 20001;
}

#editorVideoSelector
{
	
	position: absolute;
	width: 640px;
	height: 400px;
	left: 20%;
	top: 15%;
	background-color: #555;
	z-index: 20001;
}
#imageSection
{
	height: 560px;
	text-align: center;
	padding-top: 20px;
}
#imageHolder
{
	height: 533px;
	width: 700px;
	margin: 0 auto;
	background-color: #FCEEE2;
	padding-top: 10px;
	padding-bottom: 2px;
}
#buttonSection
{
	height: 40px;
	text-align: center;	
}
#videoButtonSection
{
	text-align: center;
}
#previewForm
{
	display: none;
}
#firefoxHack
{
	width:0;
	height:0;
	border:0;
	padding:0;
	margin:0;
	
}
.imageAndVideoButtons
{
	padding: 5px;
	font-size: 16px;		
	background-color: #0077B3;
	border-color: #0077B3;
}
#videoUrl 
{
	width: 600px;
	height:30px;
}
#urlInput
{
	height: 60%;
	text-align: center;
	line-height: 13;
}
#noImage
{
	color: #444;
	font-size: 40px;
	padding-top: 70px;
	position: absolute;
	top: 120px;
	left: 370px;	
}
#closeButton
{
	text-align: center;
	padding: 5px;
}
#uploadImage
{
	padding: 5px;
	font-size: 20px;		
	background-color: #0077B3;
	border-color: #0077B3;
}
#closeWindow
{
	padding: 5px;
	background-color: #0077B3;
	border-color: #0077B3;	
}
#imagePreview
{
	height: 500px;
	padding: 20px;
	text-align: center;
}
#imagePreviewHolder
{	
	height: 400px;
	border-style: dotted;
	border-width: 1px;
	border-color: #444;	
}
#imageUploadForm
{	
	text-align: center;
}
#uploadFormBox
{
}
#imageBrowser
{
	display: none;
	overflow: scroll;
}
.uploadBrowserBox
{
	width: 80%;
	height: 100%;
}
.previewImage
{
	border-style: dashed;
	border-color: #444;
	border-width: 1px;
}
#bottomMenu{
	position: fixed;
	bottom: 0;
	z-index: 1000;
	width: 100%;
}

.donutHolder
{
	text-align: center;
	position: relative;
}

.donutHolderSize80
{
	width: 80px;
    height: 80px;    
    line-height: 80px;
}

.donutHolderSize100
{
	width: 100px;
    height: 100px;    
    line-height: 100px;    
}
.donutHolderSize150
{
	width: 150px;
    height: 150px;    
    line-height: 150px;     
    margin-left: 3px;
	margin-top: 3px;
}
.donutHolderSize200
{
	width: 200px;
    height: 200px;    
    line-height: 200px;     
}

.donut
{
	width: 100%;
    height: 100%;
}

.padding2
{
	padding: 2px;
}
.padding5
{
	padding: 5px;
}
.donutData
{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    font-weight:bolder;    
}

.donutDataMediumSize
{
	font-size: 50px;    
    color: #fff;
}

.donutDataSmallSize
{
	font-size: 30px;
	color: #fff;
}
.donutDataSmallerSize
{
	font-size: 14px;
	color: #FF4500;
}
#gameScoredonutData
{	
    font-size: 50px;    
    color: #76A7F5;   
	
}

.ratingDimension
{
	height: 63px; 
	width:44px;
}	 
#ratingPending
{
	background: url('/static/images/esrb.png') no-repeat -127px -70px;
}
#earlyChildhood
{
	background: url('/static/images/esrb.png') no-repeat -8px 0px;
}
#everyone
{
	background: url('/static/images/esrb.png') no-repeat -54px 0px;
}
#everyoneTenPlus
{
	background: url('/static/images/esrb.png') no-repeat -102px 0px;
}
#teen
{
	background: url('/static/images/esrb.png') no-repeat -150px 0px;
}
#mature
{
	background: url('/static/images/esrb.png') no-repeat -30px -70px;
}
#adultsOnly
{
	background: url('/static/images/esrb.png') no-repeat -78px -70px;
}


.statsLabel
{
	margin-left: 10px;	
	font-weight:bolder;
}

.commentData
{
	 min-height: 60px; 
	 width: 550px; 
	 margin-top: 20px; 
	 padding: 5px 5px 20px 5px; 
	 border-bottom-style: dashed; 
	 border-bottom-width: 1px;
}

.commentUserBox
{
	overflow: hidden;
	padding-top: 20px;
	width: 500px;
	height: 80px;
}

.commentuserAvatarCircle
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-style: solid;
	border-radius: 50px;
	border-color: #FF5555;
	border-width: 5px;
	box-shadow: 0 0 8px #000;
	overflow: hidden;
	margin-left: 5px;
	text-align: center;
	z-index: 5;
}

.commentUserName
{
	height: 40px;
	max-width: 300px;
	margin-top: -42px;
	margin-left: 15px; 
	box-shadow: 0 0 8px #ccc;
	z-index: 1;
	padding: 5px 10px 10px 30px;
}

.commentUserName a span
{
	font-size: 17px;
	font-weight: bolder;
	color: #005FB3;
}

.commentVoteControl
{
	width: 30px;
	margin-top: -34px;
	margin-left: 200px;
	height: 40px;
	z-index: 6;
	color: #afb8c5;
}

.upArrow, .downArrow
{
	height: 30%;
	text-align: center;
	font-size: 12px;
}

.val
{
	text-align: center;
	font-size: 10px;
	height: 30%;
}

.commentFlag
{
	width: 30px;height: 20px;
	margin-top: -25px;
	margin-left: 232px;
	padding-left: 15px;
}

.commentBody
{
    font-size: 14px;	
}
img.fade
{
	 filter:alpha(opacity=30);
   	 opacity:0.3; 
}

#userCarousel
{
	width:940px; 
	height:950px; 
	margin-left:-20px; 
	background-color: #F4F4F4;
}

#userPostsAndOtherContents
{
	padding-top:20px;		
	width:950px;	
}

/*Single article css begin*/

#voteButtons
{
	color:#005FB3;
	font-size: 16px;
	line-height: 3;
}
#voteButtons span.notSelected
{
	padding: 3px 8px;
	 transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}
#voteButtons span.notSelected:hover
{
	background-color:#005FB3;
	color: #fff; 
}
.selected
{
	background-color:#005FB3;
	color: #fff; 
	padding: 3px 8px;
}
#moreInformation
{
	font-size: 14px;
	line-height: 3;
	color: #fff;
	margin-right: 20px;
}
#userInfoAndReview
{
	width: 295px; 
	height: 480px;
}
#userInfoBox
{
	width: 295px;
	height: 45%;
	padding: 5px;
}
#userInfoUsername
{
	display: inline-block;
	padding: 5px 10px;
	margin-left: 15px;
}
#reviewScoreBox
{
	width: 295px;
	height: 55%;
	padding: 10px 15px 0 15px;
}
#trophyRank
{
	min-width: 152px;
	text-align: center;
	padding: 5px;
	border-width: 5px;
	border-color: #fff;
	border-style: solid;
	margin-top: 5px;
}
#trophyBase
{
	background-color: #fff;
	text-align: center;
	font-size: 14px;
	color: #005FB3;
}
#articleBodyContainer
{
	width: 100%;
	padding-right: 5px;
	border-top-style: solid;
	border-top-width: 10px;
	border-top-color: #005FB3;
}
#quoteBox
{
	margin: 50px 40px 80px 80px;  
	padding: 30px;
	color: #BC8F8F;
	font-size: 2.5em;
	font-weight: bolder;
	line-height: 1.1;
}
#quoteBox p i
{
	font-size: 1.5em;
	color: #F3D7CA;
}
#postContent
{
	background-color: #474747;
	border-color: #474747;
	padding: 10px;
}
#commentsBox
{
	
	min-height: 30%;
	margin-top: 20px;
	padding: 50px 10px 10px 10px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #474747;
}
#noComments
{
	margin-left: 10px;
	font-size: 15px;
	font-weight: bolder;
	color: #3BA0FD;
}
.articleBody
{
	width: 550px;
	font-size: 16px;
	margin-bottom: 30px;
}
#sidePanel
{
	width: 300px;	
}
#gameInformationBox
{
	width:250px;	
	margin-top: 4px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #005FB3;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #005FB3;
}
#gameDetailHeader
{
	background-color: #005FB3;
	width: 50%;
	text-align: center;
	font-weight: bolder;
}
#gameInformationTable
{
	width: 312px;
	border-spacing: 12px;
	color: #1059C7;
	margin-left: -10px;
	background-color: #f8f8f8;
}



/*Single article css end*/

/*Post Preview Begins*/
#previewOverlay
{
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    opacity: 0.5;
    text-align: center;
    font-size: 250px;
    line-height: 3;
    color: #444;
}
/*Post Preview Ends*/

/*Game Page Begins*/
#gameStat
{
	width: 640px;
	height: 450px;
	padding:20px 10px 10px 50px; 	
}
#gameCarousel
{
	width: 940px;
	margin-left: -20px;
	height: 800px;
	background-color: #f4f4f4;
}
#gameDetails
{
	width: 310px;
	border-spacing: 8px;
}

#interestedInButton
{
	padding: 5px;	
}
#gameDesc
{
	width: 350px;
	height: 250px;
	padding: 15px 30px 5px 30px;
	text-shadow: 0px 3px 8px #500;
}

#gameDetailsBox
{
	position:absolute; 
	width: 940px;
	height: 370px;
	z-index: 501;
	border-bottom-style: solid;
	border-bottom-color:#111;
	border-bottom-width: 5px;
}
#gameBoxLeft
{
	width: 300px;
	height: 800px;
	padding: 10px;
}
.textCenter
{
	text-align: center;
}
#buyButton button
{
	background-color: #FF4500;
	border-color: #FF4500;
	width: 200px;
	height: 40px;
}
#gameDetails
{
	padding: 10px;
}
#gameStatsContent
{
	width: 588px;
	height: 378px;
}
#gameStatsContent #mainStats1
{
	width: 300px;height: 300px;padding: 10px;
}

#gameToggleWindow
{
	position: absolute;
	top: 345px;
	right: 461px;
	background-color: #222;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
#gameNameBox
{
	width: 640px;
	height: 66px;
	padding: 10px;
}
#gameName
{
	color: #FF5555;
	font-size: 24px;
	text-shadow: 0px 3px 8px #500;		
}

#featuredArticles
{
	width: 570px; 
	height:430px; 
	margin-top: 370px;
}

#gameVideos
{
	width: 370px; 
	height:278px; 
	margin-left:570px; 
	margin-top: -430px;
}

#gameRecentActivites
{
	width: 370px; 
	height:152px; 
	margin-left:570px;
}
#gameScoreHolder
{
	width: 200px;
	height: 295px;
	padding: 1px 10px 10px 0px;
}
.width570
{
	width: 570px;
}

.width370
{
	width: 370px;
}
.height152
{
	height: 152px;
}
.marginTop70
{
	margin-top: 70px;
}
.gameActivity
{	
	padding: 50px 5px 5px 10px;	
}
/*Game Page ends*/
/*Single User page begins*/
#featuredCategory
{
	width: 610px;
	height: 480px;
	margin-left: 315px;
	overflow: hidden;
}
#featuredTopTab
{
	width: 610px;
	height:80px;
}
#featuredBottomTab
{
	width: 610px;
	height:60px;
}
#notFeatured1, #notFeatured3
{
	width: 305px;
	margin-left: 315px;
	margin-top: 5px;
}
#notFeatured2, #notFeatured4
{
	width: 300px;
	margin-left: 625px;
	margin-top: -225px;
}
.nonFeatured
{	
	height: 225px;
	margin-left: 315px;
	margin-top: 5px;
	overflow: hidden;
}
.featured
{
	background-color: #AC4ECC;  
	padding: 2px;
}
.activity
{
	background-color: #BE416E;
	padding:2px;
}
.width305
{
	width: 305px;
}
/*Single User page ends*/
.loadMore
{
	margin-top: 10px;
	margin-left: 60px;
	padding: 4px;
	background-color: #5AA4F5;
	border-color: #5AA4F5;
	color: #fff;
	font-weight: bold;
}
.noData
{
	width: 100%;
	text-align: center;
	line-height: 3;
	color: #ccc;	
	font-size: 70px;
}
.platormHeading
{
	line-height: 1.5;
	display: inline;
	font-size: 30px;
	padding: 5px;
}
.disableOpacity
{
	opacity: 0.6;
}
/*About begins*/
#aboutContainer
{
	min-height: 2500px;
	margin-left: -25px;
}
.aboutSection
{
	padding: 20px;
	margin-bottom: 50px;
}
.aboutSectionTitle
{
	font-size: 70px;
	margin: 0px 20px 20px 20px;
	overflow: hidden;
	padding-top: 20px;
	height: 100px;
}
.aboutSectionContent
{
	padding-left: 30px;
    padding-right: 30px;
    font-size: 23px;
    color: #fff;
}
#what
{
	height: 500px;
}
#who
{
	height: 600px;
}
#feedback
{
	height: 400px;
}
.topSpacer
{
	height: 200px;
}
.coverContainer
{
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}
/*About ends*/

/*User Page begins*/

.carouselEntityDetails
{
	height: 100px;
	text-align: center;
	margin-top: 10px;
}
.carouselMainRing
{
	margin-top: 115px;
	margin-left: 390px;
}
.carouselContent
{
	width: 950px;
	margin-top: 110px;
	height: 200px;
	padding: 5px;
	z-index: 10;
}
.socialList
{
	height: 240px;overflow-y: scroll;
}
.socialHeaders
{
	display: block;
	width: 300px; 
	font-size:20px;
	margin-bottom: 30px;
	background-color: #3B6EAF;
	color: #fff;
	padding: 5px;
}

/*User Page ends*/
/*User Settings begins*/
#userDetailsContainer
{
	width:950px; 
	min-height: 800px;	
	margin-bottom: 20px;
}

#profile_container {
	position: relative;
	width: 950px;
	overflow: hidden;
	padding: 10px;	
}

/*User Settings end*/
/*Home begins*/
#carouselNav
{
	z-index:10; 
	margin-top:200px;
}
#carouselNav li span
{
	display: block;
	width: 125px;
}

.carouselHeaderPadding
{
	padding: 5px;
}
.positionAbsolute
{
	position: absolute;
}
.marginTopMinus60
{
	margin-top: -60px;
}

.marginTopMinus40
{
	margin-top: -40px;
}

.height40
{
	height: 40px;
}
.height60
{
	height: 60px;
}
.z500
{
	z-index: 500;
}
.carouselHeader
{
	background-color: #222;
	opacity: 0.95;	
}
.dashedBorder
{
	border-bottom-style: dashed;
	border-bottom-width: 2px;
	border-bottom-color: #f0f0f0;
}
.carousalFooter
{
	background-color: #f4f4f4;
	opacity: 0.95;
}
#carousel {	
	width: 950px;
	overflow: hidden;
	margin-bottom: 10px;
}
.carouselContainer
{
	width: 950px; 
	height: 610px;
}
.carouselTopTabDim
{
	width: 950px; 
	height: 60px;		
}
.carouselBottomTabDim
{
	width:950px; 
	height: 200px;
	margin-top: -200px;
	background-color: #11151d;
	border-top-style: dashed;
	border-width: 2px;
	border-color: #fff;
	opacity: 0.9;
}
.carouselTitle
{
	margin-left: 50px;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-top: 20px;
	font-size: 45px;
	line-height: 1;
}
.carouselOuterRing
{
	width: 100px;
	height: 100px;	
	margin-top: -50px;
}
.carouselOuterRingMarginLeft
{
	margin-left: 100px
}
.carouselOuterRingMarginRight
{
	margin-right: 100px
}
.carouselInnerRing
{
	width: 90px;
	height: 90px;
}
.carouselInnerRing span
{
	display: block; 
	font-size: 50px;
	line-height: 1.5;
	height: 90px;
}
.leaderBoardToppers
{
	width: 950px; 
	height: 350px;
	background-image: url(/static/images/diagmonds.png); 
	padding-top: 5px;
}
#learderboardUserContainer
{
	margin-left: 220px;
	margin-top: 30px;
}
#leaderboardText
{
	width: 720px;
	height: 240px;
	text-align: center;
	margin-top: -153px;
	margin-left: 100px;
	border-style: dashed;
	border-color: #fff;
	border-width: 2px;
	padding-top: 179px;
}
#number2user .outerBox
{
	width: 110px;
	height: 110px;
	margin-left: 20px;
}

#number2user .outerBox .innerBox
{
	width: 100px;
	height: 100px;
}

#number1user .outerBox
{
	width: 130px;
	height: 130px;
	margin-left: 10px;
}

#number1user .outerBox .innerBox
{
	height: 120px;
	width: 120px;
}

#number3user .outerBox
{
	width: 90px;
	height: 90px;
	margin-left: 30px;
}

#number3user .outerBox .innerBox
{
	width: 80px;
	height: 80px;
}

#number2UserData
{
	width: 153px;
	overflow: hidden;
}
#number1UserData
{
	width: 160px;
	overflow: hidden;
}
#number3UserData
{
	width: 152px;
	overflow: hidden;
}

.leaderBoardToppersData
{
	padding-top: 10px;
	min-width: 152px;
	text-align: center;
	padding: 5px;
	margin-top: 5px;
}

.postTop
{
	height: 30px;
	position: absolute;
	overflow: hidden;
	background-color: #222;
	opacity: 0.8;
	padding-left: 2px;
	padding-right: 2px;
}

.postBottom
{
	height: 100px;
	margin-top: 140px;
	background-color: #11151d;
	border-top-style: dashed;
	border-width: 2px;
	border-color: #fff;
	opacity: 0.9;
}

.postTitle
{
	margin-left: 30px;
	margin-bottom: 5px;
	margin-right: 10px;
}

.postListOuterBoxRing
{
	width: 50px;
	height: 50px;	
	margin-top: -20px;
}

.userCarouselOuterBoxRing
{
	width: 50px;
	height: 50px;
}
.postListOuterBoxRingMarginRight
{
	margin-right: 30px;
}

.postListOuterBoxRingMarginLeft
{
	margin-left: 30px;
}
.postListInnerRing
{
	width: 40px;
	height: 40px;
}
.postListCategoryDim
{
	display: block; 
	font-size: 20px;
	height: 40px;
}
/*Home ends*/
/*Post Creator/Article start*/
.editorButtons
{	
	width:500px;
	background-color: #fff;
	font-size:19px;
	opacity: 0.9;
}



#postContainer
{
	min-height: 200px;
	background-color: #11151d;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #00A3FF;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #00A3FF;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 40px;
}

.editButton
{
   
    background-color: #f1f1f1;
    color: #000;
    font-size: 20px;
    margin-left: 10px;
}
.coverSection
{
	width:950px;
	height: 610px;		
	box-shadow: 0px 0px 8px #000;
	background-image: url('http://192.168.0.103:9000/assets/images/default/featuredBg.png');
	background-size: 960px 720px;
}
.coverSectionHeaderFooter
{
	position: absolute;
	width: 950px;
	opacity: 0.9;
}
#coverSectionHeadPostCreator
{
	height: 145px;
	background-color: #0f1115;	
	font-size: 35px;
	padding-left: 30px;
	line-height: 1.5;
	color: #005FB3;
}
#coverSectionHead
{
	
	height: 60px;
	background-color: #0f1115;	
	font-size: 35px;
	padding-left: 30px;
	line-height: 1.5;
	color: #005FB3;
}
#coverSectionFoot
{	
	height: 200px;
	background-color: #11151d;
	margin-top: 410px;
	opacity: 0.9;
	padding: 5px;
	border-top-style: dashed;
	border-width: 2px;
	border-color: #fff;
}

#postCreatorCategorySelector
{
	position: absolute;
	padding: 5px;
	width: 170px;
	background-color: #f1f1f1;
	display: none;
}

.doneEditiingButton
{
	background-color: #00A3FF;
	color: #fff;
	border-radius: 50%;
}
.authorPostMargin
{
	margin-top: -78px;
}
#gameRow
{
	margin-top: -70px;
	width: 600px;
	float: left;
}
#gameBoxArt
{
	float: left;
	margin-right: 5px;
}
#userPostAndCreatorOuterCircle
{
	width: 160px;
	height: 160px;
}
.outerBox
{	
	border-style: dashed;
	border-color: #fff;
	border-width: 2px;
	border-radius: 50%;
}
#userPostAndCreatorInnerCircle
{
	height: 150px;
	width: 150px;
}
.followRing
{
	border-color: #E07979;
}

.unfollowRing
{
	border-color: #00A3FF;
}
.innerBox
{
	text-align: center;
	border-style: solid;	
	border-width: 3px;
	border-radius: 50%;	
	overflow: hidden;
	margin-left: 3px;
	margin-top: 3px;
}
.innerBox a
{
	margin-left: -4px;
}
#contentRow
{
	margin-top: 130px;
}
#postData
{
	width: 560px;
}
#setGame
{
	padding: 5px;
	font-size: 20px;
	background-color: #0077B3;
	border-color: #0077B3;
}
#postCreatorButtons
{
	position: fixed;
	top: 177px;
	margin-left: 560px;
	background-color: #0a0a0a;
	padding: 20px;
	opacity: 0.8;
}
.marginRight61
{
	margin-right: 61px;
}

/*Review start*/
#platformOptions
{
	display:none; 
	position: absolute; 
	width: 0px; 
	height: 0px; 
	background-color: #fff;
	z-index: 10;	
	border-style: solid;
	border-width: 5px;	
	margin-left: 255px;
}

#score
{
	width: 290px;
	height: 100%;
}
#authorScore
{
	height: 117px;
	margin-left: 58px;
}
.dottedScoreBorder
{
	border-style: dashed;
	border-width:2px;
	border-color: #fff;
	border-radius: 50%;
}

#lineSegment1
{
	height: 100px;
}
#lineSegment1 div
{
	position: absolute;
	height: 150px;
	margin-top: -47px;
}
#lineSegment2
{
	height: 50px;
}
#lineSegment2 div
{
	height: 50px;
}
.reviewLine
{
	width: 0.5px;
	border-style: dashed;
	border-color: #fff;
	border-width: 1px;
	margin-left: 115px;
}
#reviewGamePlayedOn
{
	line-height: 2;
}
.sweetIcon
{
	border-style: dotted;
	border-radius: 50%;
	border-color: #00A3FF;
	color: #00A3FF;
	margin-right: 5px;
}
.stinkIcon
{
	 border-style: dotted;
     border-radius: 50%;
     border-color: #F84747;
     color: #F84747;
     margin-right: 5px;
}
.reviewPointWidth
{
	width: 50%;
}
.divider
{
	height: 100px;
}
.reviewPointButtons
{
	color: #fff;
	font-size: 15px;
	margin-left: 10px;
	padding: 5px;
	font-weight: bold;
}
.reviewPointDd
{
	margin-bottom: 5px;
	font-size: 13px;
}
.noReviewPoints
{
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px 0px 8px;
}
#sweet dt
{
	margin-bottom: 1rem;
	color: #00A3FF;
}
#stink dt
{
	margin-bottom: 1rem;
	color: #F84747;
}
#noSweetPoint
{
	color: #00A3FF;
}
#noStinkPoint
{
	color: #F84747;
}
#sweetButton
{
	background-color: #00A3FF;
}
#stinkButton
{
	background-color: #F84747;
}
#gameScore
{
	height: 270px;	
}
#gameScoreDonutContainer
{
	width: 160px;
	height: 160px;
	margin-left: 35px;
}

#userScoreDonutContainer
{
	width: 115px;
	height: 115px;
	padding-top: 5px;
	padding-left: 6px;
}
/*Review end*/
/*News start */
.newsLink
{
	color:#00A4EF;
}
.linkDesign
{
	width: 800px;
	min-height: 300px;
	border-style: dashed;
	border-color: #f4f4f4;
	border-width: 1px;
	padding-top: 20px;
	padding-left: 20px;
}
.linkColor
{
	color: #81C4F8;
}
/*News end */
/*Video start */
.videoPlayButton
{
	color: #fff;
	position: absolute;
	margin-top: 250px;
	margin-left: 360px;
	font-size: 150px;
}
.videoPlayButton:hover
{
	text-shadow: 0px 0px 8px #fff; 
}
/*Video end */
/*Gloonicle start */
.gloonicleEditButtons
{
	width: 800px;
}
.glooniclePostSnippet
{
	width: 800px;
	height: 600px;
}
/*Gloonicle end */
.nonGlooniclePostSnippet
{
	width: 500px; 
	height: 80px; 
}
#richEditor
{	
	border: none;
	background-color: #FFFFFF
}
/*Post Creator/Article end*/	
nav {
	
	height: 152px;
	width: 550px;	
	margin: 0 auto -100px;
	background: -webkit-linear-gradient(top,#003869 0,#151515 120%);
	background: -moz-linear-gradient(top,#003869 0,#151515 120%);
	background: -o-linear-gradient(top,#003869 0,#151515 120%);
	background: -ms-linear-gradient(top,#003869 0,#151515 120%);
	background: linear-gradient(top,#003869 0,#151515 120%);		
	overflow: hidden;
	box-shadow: inset -3px 0 5px rgba(0,0,0,.5);
	text-align: center;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	font-size: 13px;
}

nav:hover {

	-webkit-transition: margin .2s ease-in;
	-moz-transition: margin .2s ease-in;
	transition: margin .2s ease-in;
	margin-bottom: 0;
}

nav ul li {
	display: inline;	
}

nav ul li a {	
	display: inline-block;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(255,255,255,0.1);
	padding: 20px;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

nav ul li a:hover, nav ul li a.current {
	background-color: rgba(0,0,0,0.2);
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

nav ul li a.current:before {
	content: '';
	display: inline;
	position: absolute;
	top: 2.85em;
	right: -7px;
	width: 10px;
	height: 10px;
	background: #FFF;
	border-left: 1px solid #FFF;
	border-top: 1px solid #FFF;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

nav ul li:last-child a {
	margin-bottom: 0;
}

.buttonIcons
{		
	color: #005FB3;
	display: inline-block;		
}



nav ul li a span:last-child {
	float: left;
	display: inline;
	margin-right: 10px;
	color: #fff;
	padding: 1.35em 1em;
	text-shadow: 0 -1px 0 #000;
}

nav:hover ul li a span:last-child {
	margin: 0 10px 0 0;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}