* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus
{
	outline:0;
}
ul {
	list-style-type: none;
}
/* Overlay */
#simplemodal-overlay {
	background-color: #000;
}

/* Container */
#simplemodal-container {
	height: 100%;
	width: 100%;	
	border: 4px solid #FF4500;	
	background-color: #fff;
}
#simplemodal-container .simplemodal-data {
	/*padding: 8px;*/
}
#simplemodal-container code {
	background: #141414;
	border-left: 3px solid #65B43D;
	color: #bbb;
	display: block;
	font-size: 12px;
	margin-bottom: 12px;
	padding: 4px 6px 6px;
}

#simplemodal-container a.modalCloseImg {
	background: url(/static/images/x.png) no-repeat;
	width: 25px;
	height: 29px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: -15px;
	right: -16px;
	cursor: pointer;
}
#simplemodal-container h3 {
	color: #84b8d9;
}

#container {
	display: none;
	border-style: solid;
	border-width: 5px;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.editor {
	position: relative;
	width: 80%;
	height: auto;
}

.sidePane {
	position: relative;
	float: left;
	resize: none;
	width: 20%;
	height: inherit;
}


.stretch {
	width: 100%;
	height: 100%;
}

div {
	display: block;
}

header {
	height: 150px;
	display: block;
	margin-bottom: 20px;
}

footer{
	text-align: center;
	height:150px;
	font-weight:bold;
	color:#333;
}
.sideBarSubHeader {
	width: 150px;
	height: 24px;
	display: inline-block;
	font-size: 16px;
	background-color: #005FB3;
	color: #F4F4F4;	
	padding-left: 5px;
	font-weight: bold;
}

#headerBox {
	margin: 0 auto;
	width: 960px;
	height: 100%;
}

#subHeader {
	height: 80px;	
	background-color:#003869;
	box-shadow: 0 0 8px #000;	
	
}
#box{
	overflow: hidden;
	width: 300px;
	float: left;
}
body {
	display: block;
	background-attachment:fixed;
	background-image: url('/static/images/gamealoon_bg.jpeg');	
	background-size:cover;	
	color: #000000;
	line-height: 150%;
	font-family: 'Open Sans', Helvetica, Arial, san;
}

#changePasswordModal
{
	width:100%; 
	height:100%;
	display:none; 
	background-color:#003869;
	
}
.resetPasswordButton
{
	background-color:#FF4500; 
	border-color:#FF4500; 
	padding:5px; 
	font-size:13px;
}
.textureBg{
	background:#474747 url('/static/images/bg.png') repeat repeat;
}

.grayBoxShadow{
	box-shadow: 0 0 8px #ccc;
	-webkit-box-shadow: 0 0 8px #ccc;
	-moz-box-shadow: 0 0 8px #ccc;
}

.blackBoxShadow{
	box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0 8px #000;
	-moz-box-shadow: 0 0 8px #000;
}

.colorBlack
{
	color:#000000;
}
.colorGray
{
	color:#a4a4a4;
}

.singleUserPageMain
{
	width: 310px;
	height: 940px;
	margin-bottom: 20px;
	position: absolute;
	z-index: 510;
}
.userPageTextValues
{
	width: 282px;
	padding:5px;
	color: #76A7F5;
	text-shadow: 0px 2px 3px #000;
	font-size: 13px;
	font-weight: bolder;
}
.userFollowersAndGamePanelTable
{
	margin-top: 40px;
	width: 260px;
	padding: 10px 10px 10px 0px;
	text-align: center;
}

.userFollowersAndGamePanelTable p
{
	font-size: 13px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

#userDetailsContainer
{
	width:920px; 
	height: 800px;	
	margin-bottom: 20px;
}

#userDetails
{
	width: 920px;
	height: 320px;
}
#userAvatar
{
	width: 282px;	
	padding-top: 10px;
	overflow: hidden;
}
#userAvatar a
{
	margin-left: 30px;
	overflow: hidden;
}

#userAvatar img#userAvatarPic
{
	border-radius: 10%;
	border-style: solid;
	border-color: #E7E6DD;
	border-width: 10px;
}

#userInformation
{
	width: 638px;	
}
#userNameDetails
{
	width: 100%;
	height: 64px;
	padding: 20px;
}
.userProfileNameFont
{
	font-size: 38px;
}
.userPageNameFont
{
	font-size: 50px;
}
.userNameFont
{
	
	margin-left:10px;	
	color: #0087FF;
	text-shadow: 0px 3px 8px #005;	
	text-transform: capitalize;
}
.colorSideBarText
{
	color: #3A81FF;
}
#aka
{	
	margin-left: 10px;
	margin-right: 10px;	
}
#userName a, #userName
{
	color: #FF5555;	
	text-shadow: 0px 3px 8px #500;
}

#socialInteraction
{
	font-size: medium;
	font-weight: bolder;
	font-style: italic;
	margin-left: 35px;
	width: 200px;
	height: 50px;
}
.follow
{
	border-color: #005FB3;
	background-color: #005FB3;	
	
}
.unfollow
{
	border-color: #FF2222;
	background-color: #FF2222;	
}
.block
{
	border-color: #005FB3;
	background-color: #005FB3;	
	
}
.unblock
{
	border-color: #FF2222;
	background-color: #FF2222;	
}
.marginLeft25
{
	margin-left: 25px;
}
.marginLeft40
{
	margin-left: 40px;
}

.fontSize30
{
	font-size: 30px;
}
#userContact
{
	width: 100%;
	height: 30%;
	padding: 10px 30px 10px 30px;
	margin-top: 30px;
}

#contactDetails
{
	width: 100%;
	height: 50%;
	line-height: 2;
}

#emailLabel
{	
	font-size: 13px;
}

#emailId
{	
	margin-left: 10px;	
}

.leftGap
{
	margin-left: 20px;
}

#birthdayLabel
{
	font-size: 13px;
}
#birthdayData
{
  margin-left:10px;  
}

.cursorPointer
{
	cursor:pointer;
}
.visibilityFont
{
	padding: 1px 5px 1px 1px;
	color: white;
	font-size: 10px;
}

.private
{
	background-color: #f00;
	border-color: #f00;
}

.public
{
	background-color: #008000;
	border-color: #008000;
}

.noCarouselData
{
	color: #222;
	text-shadow: 0px 2px 3px #555;
	font-size: 13px;
	font-weight: bolder;
}

#place
{
	width: 100%;
	height: 50%;
	margin-top: 10px;
}

#placeLabel
{	
	font-size: 13px;
}

#placeData
{
	margin-left: 10px;	
}

#gameBio
{
	width: 638px;
	height: 96px;
	padding: 10px 30px 10px 30px;
}

#gameBioContent
{
	color:#FF4500;
	padding-left: 80px;
	font-style: italic;
	font-size: 15px;
	text-shadow: 0px 3px 8px #000;
}

#gameBioHeader
{
	font-size: 13px;
}

#genreSet,#platformSet
{
	background-color: #005FB3;
	border-color:#005FB3;
	padding: 2px;
	color:#fff;
}

.marginRight10
{
	margin-right: 10px;
}
.marginRight20
{
	margin-right: 20px;
}
.marginRight30
{
	margin-right: 30px;
}
.marginBottom10
{
	margin-bottom: 10px;
}
.marginTop5
{
	margin-top: 5px;
}
.marginTop10
{
	margin-top: 10px;
}
.marginTop20
{
	margin-top: 20px;
}

.textShadowBlack
{
	text-shadow: 0px 3px 8px #000;
}
.textShadowOrange
{
	text-shadow: -5px -1px 20px #FF4500;
}
.userContactsFont
{
	color: #76A7F5;
	text-shadow: 0px 2px 3px #000;
	font-size: 15px;
	font-weight: bolder;
}
.userProfileUserInterestsWidth
{
	width: 368px;
}
.userProfileUserInterestsPadding
{
	padding: 32px 10px 50px 30px;
}

.fontWeightBold
{
	font-weight: bolder;
}
.singleUserInterestsPadding
{
	padding: 0 10px 50px 30px;
}
#userInterests
{
	
	height: 400px;	
		
}
#toggleWindow
{
	position: absolute;
	top: 10px;
	left: 253px;
}
#toggleWindow span
{	
	background-color: #222;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
.userProfileStatsWidth
{
	width: 500px;
}

#editorButtons
{
	width:600px;
	background-color: #fff;
	font-size:19px;
}
.singleUserStatsWidth
{
	width: 552px;
}
#interestHeading
{
	font-size: 17px;	
}

#platformInterests
{
	margin-top: 30px;
	margin-left: 20px;
}
#genreInterests
{
	margin-top: 10px;
	margin-left: 20px;
}

#platformListForm, #genreListForm
{
	width: 350px;
	height:260px;
}

.checkBoxFont
{
	font-size: 12px;
}
.divTable
{
	display: table;
}
.divRow
{
	display: table-row;
}
.divCell
{
	display: table-cell;
}
.divTableFooterHeight
{
	height: 40px;
}
#platformList, #genreList
{
	background-color: #f4f4f4;
}
#platformList h4, #genreList h4
{
	margin-left: 10px;
	width: 350px;
}

#platformListForm div, #platformListForm div
{
	width: 350px;	
}

.userInterestListBorderBottom
{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #003869;
}
#userStats
{	
	height: 475px;
	
}
.userProfileStatsPadding
{
	padding: 30px 10px 10px 10px;
}

.singleUserStatsPadding
{
	padding: 53px 10px 10px 30px;
}
#statsContent
{
	width: 100%;
	height: 95%;
	margin-top:20px;
}

#mainStats1
{
	width: 100%;
	height: 34%;
	padding: 10px;
}



#passwordButton
{
	margin-left: 35px;
	width: 200px;
	height: 50px;
	border-color: #005FB3;
	background-color: #005FB3;
	color: #FFF;
	font-size: medium;
	font-weight: bolder;
	font-style: italic;
}

.userInterestButtons
{
	padding: 5px;
	background-color: #FF4500;
	border-color: #FF4500;	
	font-weight: bolder;
}
.userInterestLists
{
	display:none; 
	position: absolute; 
	width: 0px; 
	height: 0px; 
	background-color: #fff;
	z-index: 10;
	margin-top: -20px; 
	margin-left: 50px;
	border-style: solid;
	border-width: 5px;	
}

.marginLeft30
{
	margin-left: 30px;
}
.height940
{
	height: 940px;
}

.height320
{
	height: 320px;
}
.height200
{
	height: 200px;
}
.padding20
{
	padding: 20px;
}

#userStats p
{
	font-size: 17px;	
}

.marginLeft50
{
	margin-left: 50px;
}

#moreButton
{
	width: 100%;  
	height: 10%;
}
#moreButton span button
{
	padding:10px; 
	background-color:#E46F62;
	border-color:#E46F62
}

#userActivityContent
{
	min-height: 800px;
}

.postTr
{
	border-bottom: 2px solid;
	padding-bottom: 5px;
}

.tabWidth
{
	width: 800px;
}
.tabGrid
{
	border-style: solid; 
	border-color: #F4F4F4; 
	border-width:5px; 
	margin-left: 5px; 
	margin-top: 5px;
	border-radius: 50%;
	width:100px;
	height: 100px;
}
.userCircle
{
	display:none; 
	margin-left:85px; 
	margin-top: 50px; 
	position: absolute; 
	width:200px; 
	height:200px; 
	border-style: solid; 
	background-color: #fff; 
	box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0 8px #ccc;
	-moz-box-shadow: 0 0 8px #ccc;
}

.conversationDiv
{
	width: 800px; 
	min-height: 400px; 
	border-style: solid;
}

.displayInline
{
	display: inline;
}

.hiddenDiv
{
	display: none;
}
.showDivBlock
{
	display: block;
}
#richEditor
{
	width: 600px; 
	height: 800px; 
	border: none;
	background-color: #FFFFFF
}
#editor
{
	width: 600px; 
	display: none;
}
.relative {
	position: relative;
}
.mainContainer {
	margin: 0 auto 12px;
	width: 980px;
	display: block;
	background-color: #FFFFFF;
	box-shadow: 0 0 8px #ccc;
	-webkit-box-shadow: 0 0 8px #ccc;
	-moz-box-shadow: 0 0 8px #ccc;
	margin-bottom: 100px;
}

.signupOrLogin {
	display: none;
	width: 100%;
	height: 100%;
	padding: 40px;
}

.signin {
	position: relative;
	margin-top: 58px;
	float: left;
}
.signInButton
{
	padding: 5px;
	border-color: #005FB3;
	background-color: #005FB3;
	color: #fff;	
	font-size: 15px;
}
#userDetailsBox
{
		border-right-style: solid;
		border-right-width: 5px;
		border-right-color: #222;
}
#userdetailsbox {
	position: relative;
	margin-top: 50px;
	margin-left: 10px;
	float: left;
	color:#FFFFFF;	

}

.colorWhite{
	color: #FFF;
}
.colorOrange
{
	color: #FF4500;
}
fieldset{
	padding:0 5px 0 5px;
}
#userdetailsbox span {	
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 3px 8px #000;
}
#errorMessage {
	display: none;	
	font-size:13px;
}
.error
{
	color: #FC5353;	
}
.success
{
	color: #3399FF;	
}
#signInBox {	
	width: 45%;
	height: inherit;	
	float: left;
	margin: 0 auto;
	border-right: solid 2px #545454;
}

.signupHeader
{
	color: #FF7000;
	font-size: 40px;
}
form {
	padding: 10px;
	margin: 0 auto;
}
.formFields {
	display: block;	
	margin: 0 auto;
}
#registerBox {	
	width: 55%;
	height: inherit;	
	float: left;
	margin: 0 auto;
	padding-left: 50px;
}
#logo {
	position: relative;
	float: right;
	color: #006DCC;
}
#logoBeta
{
	position: absolute;
	top: 0;
	right: 0;
}

#logo a {
	border: 0;
}
#logo img {
	border: 0;		
}
#searchDiv
{
	position: absolute;
	margin-left: 230px; 
	margin-top: 30px;
}
#searchBox
{
	width: 300px;
	padding-left: 20px;
	color:#005FB3; 
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}
#search
{
	padding: 0.5px 10px; 
	border-bottom-right-radius: 15px; 
	border-top-right-radius: 15px; 
	margin-left: -5px; 	
	background: -webkit-linear-gradient(top,#005FB3 0,#151515 120%);
	background: -moz-linear-gradient(top,#005FB3 0,#151515 120%);
	background: -o-linear-gradient(top,#005FB3 0,#151515 120%);
	background: -ms-linear-gradient(top,#005FB3 0,#151515 120%);
	background: linear-gradient(top,#005FB3 0,#151515 120%);	
}
#container_layout {
	width: 960px;
	min-height:2500px;
	margin: 0 auto;
	padding-top: 20px;
	padding-left: 25px;
	padding-bottom: 20px;
}

#carousel {
	position: relative;
	width: 920px;
	overflow: hidden;
	margin-bottom: 10px;
}

img {
	border: 0;
}
/* Carousel CSS*/

.carouselHeaderFooterPadding
{
	padding: 5px;
}
.positionAbsolute
{
	position: absolute;
}
.marginTopMinus60
{
	margin-top: -60px;
}

.marginTopMinus40
{
	margin-top: -40px;
}

.height40
{
	height: 40px;
}
.height60
{
	height: 60px;
}
.z500
{
	z-index: 500;
}
.carousalHeader
{
	background-color: #222;
	opacity: 0.95;
}
.carousalFooter
{
	background-color: #f4f4f4;
	opacity: 0.95;
}

/*---Videos---*/


.videoCaption {
	position: relative;
}

/*---News--*/
.height260
{
	height: 260px;
}
.width300
{
	width: 300px;
}

.width500
{
	width: 500px;
}
.width400
{
	width:400px;
}
#newsBox {
	margin-left: 305px;
	margin-top: -260px;	
	
}


/*---Features---*/

#featureBox {		
	margin-left: 610px;
	margin-top: -260px;
}


/*---Reviews---*/

#reviewBox {	
	margin-top: 5px;
}


/*---Gloonicles---*/

#gloonicleBox {		
	margin-left: 505px;
	margin-top: -260px;
}



#divider {
	width: 900px;
	border-top: 10px #005FB3 solid;
}


#restcontent {
	position: relative;
	width: 948px;
	margin-top: 20px;
	overflow: hidden;
}
#recentArticles {	
	float: left;
	width: 600px;		
}
.articleUsernameBox
{
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
	background-color: #4065C4;
}
.articleContentHeader
{
	height: 30px;
	padding: 5px;
	overflow: hidden;
	margin-bottom: 10px;
}
.articleContentPreview
{
	height: 200px;
	overflow: hidden;
}
.articleContentPreviewData
{
	background-color: #222;
	opacity: 0.8;
}
.articleContentFooter
{
	height: 30px;
	padding: 5px;
}

.recentArticleDiv {
	position: relative;
	width: 570px;
	height: 270px;
	background-color: #f4f4f4;
	box-shadow: 0 0 8px #ccc;
	-webkit-box-shadow: 0 0 8px #ccc;
	-moz-box-shadow: 0 0 8px #ccc;
	margin-top: 20px;
}
.textCapitalization
{
	text-transform: capitalize;
}
.textUpperCase
{
	text-transform: uppercase;
}
.font7
{
	font-size: 7px;
}
.font10
{
	font-size: 10px;
}
.font11
{
	font-size: 11px;
}
.font12
{
	font-size: 12px;
}
.font13
{
	font-size: 13px;
}
.font14
{
	font-size: 14px;
}
.font15
{
	font-size: 15px;
}
.font16
{
	font-size: 16px;
}
.font17
{
	font-size: 17px;
}
.font18
{
	font-size: 18px;
}
.font19
{
	font-size: 19px;
}
.font20
{
	font-size: 20px;
}
.font21
{
	font-size: 21px;
}
.font22
{
	font-size: 22px;
}
.font23
{
	font-size: 23px;
}
.font25
{
	font-size: 25px;
}
.colorLightGray
{
	color: #f3f3f3;
}
.moreLink
{
	background-color: #009AF0;
	margin-left: 5px;
}
#rightBoxRestContent {	
	position:relative;
	float: left;
	width: 300px;
	padding: 35px 20px 20px 20px;
	overflow: hidden;
	margin-right: 0;
	margin-top: 25px;
}
#adbox1 {
	height: 260px;
	position: relative;
	border-style: solid;
	display: none;
}
#adbox2 {
	height: 260px;
	position: relative;
	border-style: solid;
	display: none;
}
#topUsers, #topGames {
	position: relative;
}

#searchWidget {
	min-height: 800px;
}
.sideBarHeader {
	border-top: 3px solid #005FB3;
	margin-bottom: 15px;
}
.topUserDiv {
	width: 260px;
	height: 40px;
	overflow: hidden;
	border-bottom: 1.5px solid #C5C5C5;
	margin-bottom: 5px;
}

.topAndRecentVideoDiv {
	width: 260px;
	height: 65px;
	overflow: hidden;
	border-bottom: 1.5px solid #C5C5C5;
	margin-bottom: 5px;
}
.userDetailTable {
	display: table;
	float: left;
	height: 40px;
	padding: 0 5px 0 0;
}
.userDetailTableData {
	width:200px;
	display: table-cell;
	vertical-align: middle;
}
.textDecorationNone
{
	text-decoration: none;
}
.bottommargin {
	margin-bottom: 40px;
}

.bannerad {
	height: 102px;
	margin: 0 auto;
	text-align: center;
}

.banner {
	height: 90px;
	width: 728px;
	border-style: solid;
	margin: 0 auto 15px auto;
	display: none;
	text-align: center;
}

/*user profile*/
#profile_container {
	position: relative;
	width: 940px;
	overflow: hidden;
	padding: 10px;
	margin-left: -10px;
}

#user_card {
	float: left;
	width: 250px;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px;
	word-wrap: break-word;
	background: -webkit-linear-gradient(top,#000000 0,#FAFAFA 200%);
	background: -moz-linear-gradient(top,#000000 0,#FAFAFA 200%);
	background: -o-linear-gradient(top,#000000 0,#FAFAFA 200%);
	background: -ms-linear-gradient(top,#000000 0,#FAFAFA 200%);
	background: linear-gradient(top,#000000 0,#FAFAFA 200%);	 
}
#labeldiv {
	position: absolute;
	width: 200px;
}

.userdetailstext {
	float: left;
	font-size: 13px;
	color: #FFFFFF;
	margin-left: 10px;
}
.marginleft {
	margin-left: 2px;
}
.marginLeft5{
	margin-left:5px;
}
.marginLeft10 {
	margin-left: 10px;
}
.marginLeft20 {
	margin-left: 20px;
}
.labeltext {
	margin-bottom: 15px;
	color: white;
	font-size: 16px;
}

#activityContent
{
	padding: 5px;
	margin: 70px 5px 20px 0px;
}

.userProfileActivityRowWidth
{
	width: 700px;
}
.activityRow{
	padding: 20px;
	font-size: 15px;
	margin-top:20px;
	box-shadow: 0 0 8px #ccc;
	-webkit-box-shadow: 0 0 8px #ccc;
	-moz-box-shadow: 0 0 8px #ccc;	
}
#postsContent:hover {
	overflow: scroll;
}

.postTh{
	font-size: 16px;
	font-weight: bolder;
	color: #005FB3;
	padding: 10px;
}

.postTd{
	font-size: 13px;
	padding-left: 10px;
}

#postsBody tr:hover{
	background-color: #76A7F5;
}

#postsContent, #activityContent
{
	height:500px;
	overflow: hidden;
}
#activityContent:hover {
	overflow: scroll;
}
#user_profile_picture {
	position: relative;
	width: 200px;
	height: 200px;
	border-color: #002B80;
	border-width: 2px;
}
#fullName {
	/*display: inline;*/
}
#username{
	font-size: 20px;
	border-style: solid;
	border-color: white;
	margin-top: 5px;
	width: 200px;
	text-align: center;
}


.shadow {
	box-shadow: 10px 10px 11px #888888;
	-webkit-box-shadow: 10px 10px 11px #888888;
	-moz-box-shadow: 10px 10px 11px #888888;
}
#userProfilePictureHolder{
	background-color: #FF4500;
	padding: 10px 10px 10px 15px;
}
#userdetailheader {
	background-color: #005FB3;
	height: 40px;
}

#userdetail {
	padding: 25px;	
}

.count {
	float: right;
	color: #FFFFFF;
	font-size: 12px;
}

.achievementsandfollowebyandfollowingbox {
	position: relative;	
	height: 150px;
}
.allcontent {
	margin-top: 50px;
}
.paddingUserCard
{
	padding: 0 10px 5px 10px;
}
.itemList {
	float: left;
	display: block;
	overflow: hidden;
	margin-right: 4px;
}
.contentheader {
	position: absolute;
	width: 100px;
	height: 60px;
	left: 295px;
	color: white;
	text-align: center;
	line-height: 322%;
	text-shadow: 0px 3px 8px #2a2a2a;
}
#gamebioheaderbg {
	background-color: #E46F62;
}
#postsheaderbg {
	background-color: #76A7F5;
	top: 300px;
}
#activitesheaderbg {
	background-color: #4DBFDB;
	top: 680px;
}
.semiangle {
	height: 0;
	width: 0;
	left: 395px;
	border-right: 25px solid transparent;
	position: absolute;
}

#gamebioangle {
	border-top: 60px solid #E46F62;
}
#postsangle {
	border-top: 60px solid #76A7F5;
	top: 300px;
}
#activitesangle {
	border-top: 60px solid #4DBFDB;
	top: 680px;
}
.floatRight {
	float: right;
}

.floatLeft
{
	float:left
}
#gameSearchBox
{
	width: 300px;
}
#createOrEditUserPost
{
	width: 960px;
}
.editorButtons
{
	padding: 5px;	
	background-color: #38CAEE;
	border-color: #38CAEE;
}

#userAvatarUploadBox
{
	height: 100%;
	text-align: center;
	padding-top:100px;
}
.userPost {
	display: none;	
	width: 100%;		
	opacity.0.3;
}
.overflowHidden {
	overflow: hidden;
}
.overflowScroll
{
	overflow: scroll;
}

#selectedGame
{
	display: none;
	height: 100px;
	padding: 5px;
	border-style:dotted;
	border-width: 1px;
	border-color: #aaa;	
}
#createPost {
	background-color: #76A7F5;
	border-color:#76A7F5;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin: 5px;
	padding: 10px;
}
#postsContent{
	padding:5px;
	margin:70px 5px 20px 50px;
}

#postsContent table{
	width: 800px;
}
#conversationBox
{
	width: 800px;
}
#postButtons
{
	display: inline; 
	padding: 5px;
	width: 100%;
	margin: 10px 0px 20px 0px;
}
#articleFormContent
{
	width: 100%;
}
#articleFields
{
	width:620px;
}
#editorFooter
{
	height:30%;	
}
#articleFormOtherControls
{
	width:300px;
}
#title, #subTitle
{
	width: 600px;	
}

a {
	text-decoration: none;
}

.interestUserProfileFontSize
{
	font-size: 10px;
}
.platformMenu
{
	position: absolute;top: 240px;text-align: center;z-index: 700;
}
.ps3
{
	background-color: #000055;
	color: #fff;	
	padding: 2px;
}
.xbox360
{
	background-color: #008000;
	color: #fff;	
	padding: 2px;
}
.xboxOne
{
	background-color: #025a02;
	color: #fff;	
	padding: 2px;
}
.ps4
{
	background-color: #005FB3;
	color: #fff;	
	padding: 2px;
}
.wiiu
{
	background-color: #0077B3;
	color: #fff;	
	padding: 2px;
}
.pc
{
	background-color: #ff0000;
	color: #fff;	
	padding: 2px;
}
.vita
{
	background-color: #222222;
	color: #fff;	
	padding: 2px;
}
.n3ds
{
	background-color: #555555;
	color: #fff;	
	padding: 2px;
}
.android
{
	background-color: #a4c739;
	color: #fff;	
	padding: 2px;
}
.ios
{
	background-color: #949494;
	color: #fff;	
	padding: 2px;
}
.all
{
	background-color: #4E4EB4;
	padding: 2px;
}
.news
{
	background-color: #A83E68;  
	padding: 2px;
}
.review
{
	background-color: #AC4EB4;  
	padding: 2px;
}
.feature
{
	background-color: #36A3D6;  
	padding: 2px;
}
.gloonicle
{
	background-color: #34B3BE;  
	padding: 2px;
}
.video
{
	background-color: #EC660C;  
	padding: 2px;
}
.genreStyle
{
	background-color: #CD0A0A;
	color: #fff;	
	padding: 2px;
}

.imageUploaderOverlay
{
	width: 100%; 
	height: 100%;
	background-color: #fff;
	opacity: 0.7;
}
.imageUploaderBox
{
	display: none;
	width: 100%; 
	height: 100%;
	top:0px;
	left: 0px; 
	z-index: 20000;
	position: absolute;
}
.imageUploaderContainer
{
	position: absolute;
	width: 1024px;
	height: 768px;
	left: 10%;
	top: 5px;
	background-color: #222;	
}

#imageUploader
{
	z-index: 30001;
}
.imageUploaderSidePane
{
	width: 20%;
	height: 100%;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #444;
}

.sidePaneItem
{
	border-bottom-style: solid;
	border-bottom-color: #444;
	border-bottom-width: 1px;
	padding: 10px 0 10px 0;
	text-align: center;	
}
#editorImageSelector
{
	position: absolute;
	width: 800px;
	height: 600px;
	left: 20%;
	top: 15%;
	background-color: #444;
	z-index: 20001;
}

#editorVideoSelector
{
	
	position: absolute;
	width: 640px;
	height: 400px;
	left: 20%;
	top: 15%;
	background-color: #555;
	z-index: 20001;
}
#imageSection
{
	height: 400px;
	text-align: center;
	padding-top: 20px;
}
#imageHolder
{
	height: 363px;
	width: 420px;	
	margin: 0 auto;
	background-color: #FCEEE2;
	padding-top: 10px;
	padding-bottom: 2px;
}
#buttonSection
{
	height: 200px;
	text-align: center;
	line-height: 9;
}
#videoButtonSection
{
	text-align: center;
}
#previewForm
{
	display: none;
}
#firefoxHack
{
	width:0;
	height:0;
	border:0;
	padding:0;
	margin:0;
	
}
.imageAndVideoButtons
{
	padding: 5px;
	font-size: 16px;		
	background-color: #0077B3;
	border-color: #0077B3;
}
#videoUrl 
{
	width: 600px;
	height:30px;
}
#urlInput
{
	height: 60%;
	text-align: center;
	line-height: 13;
}
#noImage
{
	color: #444;
	font-size: 40px;
	padding-top: 70px;
	position: absolute;
	top: 120px;
	left: 470px;	
}
#closeButton
{
	text-align: center;
	padding: 5px;
}
#uploadImage
{
	padding: 5px;
	font-size: 20px;		
	background-color: #0077B3;
	border-color: #0077B3;
}
#closeWindow
{
	padding: 5px;
	background-color: #0077B3;
	border-color: #0077B3;	
}
#imagePreview
{
	height: 500px;
	padding: 20px;
	text-align: center;
}
#imagePreviewHolder
{
	width: 640px;
	height: 400px;
	border-style: dotted;
	border-width: 1px;
	border-color: #444;	
}
#imageUploadForm
{
	height:268px;
	padding:10px;
	text-align: center;
}
#uploadFormBox
{
}
#imageBrowser
{
	display: none;
	overflow: scroll;
}
.uploadBrowserBox
{
	width: 80%;
	height: 100%;
}
.previewImage
{
	border-style: dashed;
	border-color: #444;
	border-width: 1px;
}
#bottomMenu{
	position: fixed;
	bottom: 0;
	z-index: 1000;
	width: 100%;
}

.donutHolder
{
	text-align: center;
	position: relative;
}

.donutHolderSize80
{
	width: 80px;
    height: 80px;    
    line-height: 80px;
}

.donutHolderSize100
{
	width: 100px;
    height: 100px;    
    line-height: 100px;
}
.donutHolderSize150
{
	width: 150px;
    height: 150px;    
    line-height: 150px;     
}
.donutHolderSize200
{
	width: 200px;
    height: 200px;    
    line-height: 200px;     
}

.donut
{
	width: 100%;
    height: 100%;
}

.donutData
{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    font-weight:bolder;    
}

.donutDataMediumSize
{
	font-size: 50px;    
    color: #76A7F5;
}

.donutDataSmallSize
{
	font-size: 20px;    
    color: #FF4500;
}
.donutDataSmallerSize
{
	font-size: 14px;
	color: #FF4500;
}
#gameScoredonutData
{	
    font-size: 50px;    
    color: #76A7F5;   
	
}

.ratingDimension
{
	height: 63px; 
	width:44px;
}	 
#ratingPending
{
	background: url('/static/images/esrb.png') no-repeat -127px -70px;
}
#earlyChildhood
{
	background: url('/static/images/esrb.png') no-repeat -8px 0px;
}
#everyone
{
	background: url('/static/images/esrb.png') no-repeat -54px 0px;
}
#everyoneTenPlus
{
	background: url('/static/images/esrb.png') no-repeat -102px 0px;
}
#teen
{
	background: url('/static/images/esrb.png') no-repeat -150px 0px;
}
#mature
{
	background: url('/static/images/esrb.png') no-repeat -30px -70px;
}
#adultsOnly
{
	background: url('/static/images/esrb.png') no-repeat -78px -70px;
}


.statsLabel
{
	margin-left: 10px;
	font-size: 15px;
	font-weight:bolder;
}

.commentData
{
	 min-height: 60px; 
	 width: 550px; 
	 margin-top: 20px; 
	 padding: 5px 5px 20px 5px; 
	 border-bottom-style: dashed; 
	 border-bottom-width: 1px;
}

.commentUserBox
{
	overflow: hidden;
	padding-top: 20px;
	width: 500px;
	height: 80px;
}

.commentuserAvatarCircle
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-style: solid;
	border-radius: 50px;
	border-color: #FF5555;
	border-width: 5px;
	box-shadow: 0 0 8px #000;
	overflow: hidden;
	margin-left: 5px;
	text-align: center;
	z-index: 5;
}

.commentUserName
{
	height: 40px;
	max-width: 300px;
	margin-top: -42px;
	margin-left: 15px; 
	box-shadow: 0 0 8px #ccc;
	z-index: 1;
	padding: 5px 10px 10px 30px;
}

.commentUserName a span
{
	font-size: 17px;
	font-weight: bolder;
	color: #005FB3;
}

.commentVoteControl
{
	width: 30px;
	margin-top: -34px;
	margin-left: 200px;
	height: 40px;
	z-index: 6;
	color: #afb8c5;
}

.upArrow, .downArrow
{
	height: 30%;
	text-align: center;
	font-size: 12px;
}

.val
{
	text-align: center;
	font-size: 10px;
	height: 30%;
}

.commentFlag
{
	width: 30px;height: 20px;
	margin-top: -25px;
	margin-left: 232px;
	padding-left: 15px;
}

.commentBody
{
    font-size: 14px;	
}
img.fade
{
	 filter:alpha(opacity=30);
   	 opacity:0.3; 
}

#userCarousel
{
	width:940px; 
	height:950px; 
	margin-left:-20px; 
	background-color: #F4F4F4;
}

#userPostsAndOtherContents
{
	padding-top:20px;	
	margin-left:-20px;
	width:940px;
	border-top-style: solid;
	border-top-width: 10px;
	border-top-color: #005FB3;
}

#userTabContents
{
	width:600px;
	
}
/*Single article css begin*/
#coverSection
{
	height: 480px;	
}
.coverSectionHeaderFooter
{
	position: absolute;
	width: 640px;
	opacity: 0.9;
}
#coverSectionHead
{
	
	height: 120px;
	background-color: #0f1115;	
	font-size: 35px;
	padding-left: 30px;
	line-height: 1.5;
	color: #005FB3;
}
#coverSectionFoot
{	
	height: 60px;
	background-color: #fff;		
	margin-top: 420px;
	padding: 5px;
}
#voteButtons
{
	color:#005FB3;
	font-size: 16px;
	line-height: 3;
}
#voteButtons span.notSelected
{
	padding: 3px 8px;
	 transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}
#voteButtons span.notSelected:hover
{
	background-color:#005FB3;
	color: #fff; 
}
.selected
{
	background-color:#005FB3;
	color: #fff; 
	padding: 3px 8px;
}
#moreInformation
{
	font-size: 14px;
	line-height: 3;
	color: #333;
}
#userInfoAndReview
{
	width: 295px; 
	height: 480px;
}
#userInfoBox
{
	width: 295px;
	height: 45%;
	padding: 5px;
}
#userInfoUsername
{
	display: inline-block;
	padding: 5px 10px;
	margin-left: 15px;
}
#reviewScoreBox
{
	width: 295px;
	height: 55%;
	padding: 10px 15px 0 15px;
}
#trophyRank
{
	min-width: 152px;
	text-align: center;
	padding: 5px;
	border-width: 5px;
	border-color: #fff;
	border-style: solid;
	margin-top: 5px;
}
#trophyBase
{
	background-color: #fff;
	text-align: center;
	font-size: 14px;
	color: #005FB3;
}
#articleBodyContainer
{
	width: 100%;
	padding-right: 5px;
	border-top-style: solid;
	border-top-width: 10px;
	border-top-color: #005FB3;
}
#quoteBox
{
	margin: 50px 40px 80px 80px;  
	padding: 30px;
	color: #BC8F8F;
	font-size: 2.5em;
	font-weight: bolder;
	line-height: 1.1;
}
#quoteBox p i
{
	font-size: 1.5em;
	color: #F3D7CA;
}
#postContent
{
	background-color: #474747;
	border-color: #474747;
	padding: 10px;
}
#commentsBox
{
	width: 550px;
	min-height: 30%;
	margin-top: 20px;
	padding: 50px 10px 10px 10px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #474747;
}
#noComments
{
	margin-left: 10px;
	font-size: 15px;
	font-weight: bolder;
	color: #3BA0FD;
}
.articleBody
{
	width: 550px;
	font-size: 16px;
	margin-bottom: 30px;
}
#sidePanel
{
	width: 300px;	
}
#gameInformationBox
{
	width:250px;	
	margin-top: 4px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #005FB3;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #005FB3;
}
#gameDetailHeader
{
	background-color: #005FB3;
	width: 50%;
	text-align: center;
	font-weight: bolder;
}
#gameInformationTable
{
	width: 312px;
	border-spacing: 12px;
	color: #1059C7;
	margin-left: -10px;
}



/*Single article css end*/

/*Post Preview Begins*/
#previewOverlay
{
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    opacity: 0.5;
    text-align: center;
    font-size: 250px;
    line-height: 3;
    color: #444;
}
/*Post Preview Ends*/

/*Game Page Begins*/
#gameStat
{
	width: 640px;
	height: 450px;
	padding:20px 10px 10px 50px; 	
}
#gameCarousel
{
	width: 940px;
	margin-left: -20px;
	height: 800px;
	background-color: #f4f4f4;
}
#gameDetails
{
	width: 310px;
	border-spacing: 8px;
}

#interestedInButton
{
	padding: 5px;	
}
#gameDesc
{
	width: 350px;
	height: 250px;
	padding: 15px 30px 5px 30px;
	text-shadow: 0px 3px 8px #500;
}

#gameDetailsBox
{
	position:absolute; 
	width: 940px;
	height: 370px;
	z-index: 501;
	border-bottom-style: solid;
	border-bottom-color:#111;
	border-bottom-width: 5px;
}
#gameBoxLeft
{
	width: 300px;
	height: 800px;
	padding: 10px;
}
.textCenter
{
	text-align: center;
}
#buyButton button
{
	background-color: #FF4500;
	border-color: #FF4500;
	width: 200px;
	height: 40px;
}
#gameDetails
{
	padding: 10px;
}
#gameStatsContent
{
	width: 588px;
	height: 378px;
}
#gameStatsContent #mainStats1
{
	width: 300px;height: 300px;padding: 10px;
}

#gameToggleWindow
{
	position: absolute;
	top: 345px;
	right: 461px;
	background-color: #222;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
#gameNameBox
{
	width: 640px;
	height: 66px;
	padding: 10px;
}
#gameName
{
	color: #FF5555;
	font-size: 24px;
	text-shadow: 0px 3px 8px #500;		
}

#featuredArticles
{
	width: 570px; 
	height:430px; 
	margin-top: 370px;
}

#gameVideos
{
	width: 370px; 
	height:278px; 
	margin-left:570px; 
	margin-top: -430px;
}

#gameRecentActivites
{
	width: 370px; 
	height:152px; 
	margin-left:570px;
}
#gameScoreHolder
{
	width: 200px;
	height: 295px;
	padding: 1px 10px 10px 0px;
}
.width570
{
	width: 570px;
}

.width370
{
	width: 370px;
}
.height152
{
	height: 152px;
}
.marginTop70
{
	margin-top: 70px;
}
.gameActivity
{	
	padding: 50px 5px 5px 10px;	
}
/*Game Page ends*/
/*Single User page begins*/
#featuredCategory
{
	width: 610px;
	height: 480px;
	margin-left: 315px;
	overflow: hidden;
}
#featuredTopTab
{
	width: 610px;
	height:80px;
}
#featuredBottomTab
{
	width: 610px;
	height:60px;
}
#notFeatured1, #notFeatured3
{
	width: 305px;
	margin-left: 315px;
	margin-top: 5px;
}
#notFeatured2, #notFeatured4
{
	width: 300px;
	margin-left: 625px;
	margin-top: -225px;
}
.nonFeatured
{	
	height: 225px;
	margin-left: 315px;
	margin-top: 5px;
	overflow: hidden;
}
.featured
{
	background-color: #AC4ECC;  
	padding: 2px;
}
.activity
{
	background-color: #BE416E;
	padding:2px;
}
.width305
{
	width: 305px;
}
/*Single User page ends*/
.loadMore
{
	margin-top: 10px;
	margin-left: 60px;
	padding: 4px;
	background-color: #5AA4F5;
	border-color: #5AA4F5;
	color: #fff;
	font-weight: bold;
}
.noData
{
	width: 100%;
	text-align: center;
	line-height: 3;
	color: #ccc;	
	font-size: 70px;
}
.platormHeading
{
	line-height: 1.5;
	display: inline;
	font-size: 30px;
	padding: 5px;
}
.disableOpacity
{
	opacity: 0.6;
}
/*About begins*/
#aboutContainer
{
	min-height: 2500px;
	margin-left: -25px;
}
.aboutSection
{
	padding: 20px;
	margin-bottom: 50px;
}
.aboutSectionTitle
{
	font-size: 70px;
	margin: 0px 20px 20px 20px;
	overflow: hidden;
	padding-top: 20px;
	height: 100px;
}
.aboutSectionContent
{
	padding-left: 30px;
    padding-right: 30px;
    font-size: 23px;
    color: #fff;
}
#what
{
	height: 500px;
}
#who
{
	height: 600px;
}
#feedback
{
	height: 400px;
}
/*About ends*/
nav {
	
	height: 152px;
	width: 825px;	
	margin: 0 auto -100px;
	background: -webkit-linear-gradient(top,#003869 0,#151515 120%);
	background: -moz-linear-gradient(top,#003869 0,#151515 120%);
	background: -o-linear-gradient(top,#003869 0,#151515 120%);
	background: -ms-linear-gradient(top,#003869 0,#151515 120%);
	background: linear-gradient(top,#003869 0,#151515 120%);		
	overflow: hidden;
	box-shadow: inset -3px 0 5px rgba(0,0,0,.5);
	text-align: center;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	font-size: 13px;
}

nav:hover {

	-webkit-transition: margin .2s ease-in;
	-moz-transition: margin .2s ease-in;
	transition: margin .2s ease-in;
	margin-bottom: 0;
}

nav ul li {
	display: inline;	
}

nav ul li a {	
	display: inline-block;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(255,255,255,0.1);
	padding: 20px;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

nav ul li a:hover, nav ul li a.current {
	background-color: rgba(0,0,0,0.2);
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

nav ul li a.current:before {
	content: '';
	display: inline;
	position: absolute;
	top: 2.85em;
	right: -7px;
	width: 10px;
	height: 10px;
	background: #FFF;
	border-left: 1px solid #FFF;
	border-top: 1px solid #FFF;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

nav ul li:last-child a {
	margin-bottom: 0;
}

.buttonIcons
{		
	color: #005FB3;
	display: inline-block;		
}



nav ul li a span:last-child {
	float: left;
	display: inline;
	margin-right: 10px;
	color: #fff;
	padding: 1.35em 1em;
	text-shadow: 0 -1px 0 #000;
}

nav:hover ul li a span:last-child {
	margin: 0 10px 0 0;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}