/* outer wrapper, fixed to left */
#share-wrapper {
    margin-top: 100px;
    position:fixed;
    left: 0;
}

/* inner wrapper */
#share-wrapper ul.share-inner-wrp{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/* the list */
#share-wrapper li.button-wrap {
    background: #E4EFF0;
    padding: 0px 0px 0px 10px;
    display: block;
    width: 140px;
    margin: 0px 0px 1px -117px;
}

/* share link */
#share-wrapper li.button-wrap > a {
    padding-right: 60px;
    height: 32px;
    display: block;
    line-height: 32px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#share-wrapper .facebook > a {
	background: url(/static/images/social/facebook.jpg) no-repeat right;
}

#share-wrapper .twitter > a {
	background: url(/static/images/social/twitter.jpg) no-repeat right;
}

#share-wrapper .digg > a {
	background: url(/static/images/social/digg.jpg) no-repeat right;
}

#share-wrapper .stumbleupon > a {
	background: url(/static/images/social/stumbleupon.jpg) no-repeat right;
}

#share-wrapper .delicious > a {
	background: url(/static/images/social/delicious.jpg) no-repeat right;
}

#share-wrapper .reddit > a {
	background: url(/static/images/social/reddit.jpg) no-repeat right;
}

#share-wrapper .google > a {
	background: url(/static/images/social/google.jpg) no-repeat right;
}

#share-wrapper .email > a {
	background: url(/static/images/social/email.jpg) no-repeat right;
}
