$var title: All About Gamealoon.com: What is it, Who built it, feedback and more
<div id="aboutContainer" class="textureBg">
        <div id="what" style="
    padding: 20px;
    height: 400px;
    margin-bottom: 50px;
">
  <div id="whatTitle" class="applyOstrichSansBlack colorOrange textShadowBlack" style="
    font-size: 70px;
    margin: 0px 20px 20px 20px;
    overflow: hidden;
    padding-top: 20px;
    height: 200px;
">WHAT IS GAMEALOON?<img width="234" height="94" alt="Gamealoon" src="/static/images/logo.png"></div>
  <div id="whatContent" style="
    padding-left: 30px;
    padding-right: 30px;
    font-size: 23px;
    color: #fff;
" class="applyFranklinGothic textShadowBlack">
  What started as a personal video game blog in mid- 2012... and died down, turned up into a whole new thing in 2013. Gamealoon is probably world's first gamer sourced video game entertainment and media system which provides gamer generated reviews, features , news, gloonicles and videos about video games. What this mean that gamers get to share their experience, opinions and point of view in a professional way just like how articles are created in many gaming entertainment websites and that way, the world gets to know what people actually think about video games and Gaming industry in general.That means if a game gets 9.7/10, that is what the gamers think too thanks to gameloon's custom made game scoring algorithm. Also, gamealoon features a fully functional social network which allows gamers to create their network, interact and find out what their fellow gaming peers are doing. So what are you waiting for, register, login and go crazy over gaming. Welcome to Gamealoon. 
  
</div></div>
        
        <div id="who" style="
    padding: 20px;  height: 400px;
">
  <div id="whoTitle" class="applyOstrichSansBlack colorOrange textShadowBlack" style="
    font-size: 70px;  margin: 0px 20px 20px 20px;  overflow: hidden;  padding-top: 20px;  
    height: 100px;
">WHO ARE THE BRAINS BEHIND?</div>  
  <div id="whoContent" style="
    padding-left: 30px;  padding-right: 30px;  font-size: 23px;  color: #fff;
" class="applyFranklinGothic textShadowBlack"><img src="/static/images/photo.jpg" height="200" alt="Partho Ghosh" title="Partho Ghosh"><span class="marginLeft5">...Or should I say who is the brain behind, then it has to be me, Partho Ghosh(loonatic86). Athough my friends and family supported me and my idea like anything, but ya, it was my head where the germ was first born and I gave a shape to it. I started coding Gamealoon.com in May 2013 day in-day out and after almost on the verge of completion of 6 months, I finally managed to finish the BETA build of Gamealoon.com. Frankly, My love for video games and the thirst of building something useful related to video games kept me going.</span> </div>
        </div>

        <div id="feedback">
                
        </div>
</div>