$def with (jsonData)

<div id="articleFilter" style="float: right">
	<select class="articleSelector" onchange="if(this.value) window.location.href='/article/'+this.value+'/';">
		<option selected value="choose"> Choose </option>
		<option value="all"> All </option>
		<option value="review"> Review </option>		
		<option value="feature"> Feature </option>
		<option value="news"> News </option>
		<option value="gloonicle"> Gloonicle </option>				
	</select>
</div>
<div id="carousel">
	<ul>
		$for article in jsonData:
		     $ author = article['articleAuthor']
		     $ title  = article['articleTitle']
		     $ encodedUrlTitle = article['articleEncodedUrlTitle']
			 <li>
				<a href="/article/$author/$encodedUrlTitle">$title</a>
			 </li>
	</ul>
</div>
