$def with (games)
$var title: All Games at Gamealoon
$var description:All PS3, PS4, Xbox 360, Xbox One, Wii u, Vita, 3DS, Android, IOS, PC and more Games at Gamealoon

<div class="mainContainer">
			<div id="container_layout">			
				<div class="divider"> </div>
				<div id='games' class="overflowHidden">
					$if len(games) == 0:
	    				<div id="noGames" class="noData applyBevan">No Games</div>
	    			$else:
	    				$for game in games:    		
	    				    <div class="floatLeft textCenter gridDim">
	    				    	<div id="$game['gameId']" class="overflowHidden tabGrid" >		    			 		
			    			    	<a href ="/game/$game['gameEncodedUrl']"><img src="$game['gameBoxShot']" alt="$game['gameTitle']" title="$game['gameTitle']" height="150"/></a>
			    			    </div>
			    			    <a href ="/game/$game['gameEncodedUrl']"><span class="applyBevan colorGray">$game['gameTitle']</span></a>
	    				    </div>	
    				     	    					
				</div>
			</div>
</div>							
