$def with (jsonData)
$ carouselData = jsonData['carouselArticles']
$ recentNArticles=jsonData['recentNArticles']
$ platformValue = jsonData['platform']
$ platformMessageMap ={"ps3":"Latest Playstation 3 Articles","all":"Latest All Articles","ps4":"Latest Playstation 4 Articles","xbox360":"Latest Xbox 360 Articles","xboxOne":"Latest Xbox One Articles", "pc":"Latest PC Articles", "n3ds":"Latest Nintendo 3DS Articles", "vita":"Latest Playstation Vita Articles","wiiu":"Latest Nintendo Wii-U Articles","ios":"Latest IOS Articles","android":"Latest Android Articles"}
$if platformValue == 'all':
	$var title:Welcome to gamealoon Beta- Find all gamer generated reviews, gloonicles, videos, news and more at Gamealoon	
	$var description: Gamealoon is world's first totally video gamer centric video game entertainment and media website and also a social network. Gamealoon is a platform which lets video gamers from all around the world come, make a network, collaborate and generate reviews, videos, news, and gloonicles for their favorite video games and platforms such as PS3, PS4, Vita, Xbox 360, Xbox one ,Wii u, 3ds, Android, PC and iOS or video games in general. 
					    		
<div class="mainContainer">
			<div id="container_layout">			
				<div class="divider"> </div>

<div id="carousel" class="blackBoxShadow">
	<ul id="carouselNav" class="blackBoxShadow positionAbsolute">
		<li class="cursorPointer"><span class="applyMontserratBold icon-thumbs-up-1 review font15 colorWhite">REVIEW</span></li>
		<li class="cursorPointer"><span class="applyMontserratBold icon-signal-2 news font15 colorWhite">NEWS</span></li>
		<li class="cursorPointer"><span class="applyMontserratBold icon-play-3 video font15 colorWhite">VIDEO</span></li>
		<li class="cursorPointer"><span class="applyMontserratBold icon-user gloonicle font15 colorWhite">GLOONICLE</span></li>
	</ul>
	<div id="carouselContent">
		<div id='reviewBox' class="carouselContainer">
				$if len(carouselData['carouselReviews']) == 0:
					<div id='rTopTab' class="carouselTopTabDim z500 positionAbsolute carouselHeader carouselHeaderPadding">
						<span class="floatRight colorWhite">
							<span class="font10"><i class="font13 icon-users"></i>No Comments</span>							
						</span>							
					</div>
					<div class="overflowHidden carouselContainer">
						<img src="$session.baseUrl/assets/images/default/featuredBg.png" width="960" height="720" />	
					</div>
					<div id="rBottomTab" class="z500 positionAbsolute carouselBottomTabDim" >
							<div class="outerBox floatRight carouselOuterRingMarginRight carouselOuterRing">
								<div class="innerBox carouselInnerRing">									
										<img src="$session.baseUrl/assets/images/default/avatar.png" alt="no user" width="90" height="90" title="No User" style="margin-left: -4px;">
								</div>
							</div>
							<div class="outerBox carouselOuterRing carouselOuterRingMarginLeft">
								<div class="innerBox carouselInnerRing">
									<span class="icon-thumbs-up-1 review colorWhite" title="Review- User created crisp and micro reviews."></span>
								</div>
							</div>							
								<p class="applyFranklinGothic font23 colorLightGray carouselTitle">No Review</p>							
					</div>	
				$else:
					<div id='rTopTab' class="carouselTopTabDim z500 positionAbsolute carouselHeader carouselHeaderPadding">	
						<span class="floatLeft">
							<span class="marginRight10">
								<a class='playPause' href='javascript:;'><i class='icon-pause-3 colorWhite'></i></a>
							</span>
							<span id='rCarouselNav'>
								$for article in carouselData['carouselReviews']:						       							
										<span><a href='javascript:;'><i class="icon-circle font7 colorWhite"></i></a></span>								
							</span>
						</span>
						<span class="floatRight colorWhite">
							<span class="font10"><i class="font13 icon-users"></i><span id="reviewCommentCount">$carouselData['carouselReviews'][0]['articleCommentCount']</span></span>							
						</span>																								
					</div>
					<div id="cReviews" class="slider overflowHidden carouselContainer">
						$for article in carouselData['carouselReviews']:
							<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']" data-encodedtitle="$article['articleEncodedUrlTitle']" data-title="$article['articleTitle']" data-username="$article['articleAuthor']" data-commentcount="$article['articleCommentCount']"><img src="$article['articleFeaturedImage']" width="960" height="720"/></a>				
			
					</div>
					<div id="rBottomTab" class="z500 positionAbsolute carouselBottomTabDim" >
							<div class="outerBox carouselOuterRing carouselOuterRingMarginRight floatRight">
								<div class="innerBox carouselInnerRing">
									<a id='rArticleAuthor' href="/$carouselData['carouselReviews'][0]['articleAuthor']">
										<img src="/static/images/photo.jpg" alt="maxpayne" title="maxpayne" width="90" height="90" title="$carouselData['carouselReviews'][0]['articleAuthor']">
									</a>
								</div>
							</div>
							<div class="outerBox carouselOuterRing carouselOuterRingMarginLeft">
								<div class="innerBox carouselInnerRing">
									<span class="icon-thumbs-up-1 review colorWhite" title="Review- User created crisp and micro reviews."></span>
								</div>
							</div>
							<a id='rArticleTitle' href="/article/$carouselData['carouselReviews'][0]['articleAuthor']/$carouselData['carouselReviews'][0]['articleEncodedUrlTitle']">
								<p class="applyFranklinGothic font23 colorLightGray carouselTitle">$carouselData['carouselReviews'][0]['articleTitle']</p>
							</a>
					</div>					
	</div>		
	<div id="newsBox" class="carouselContainer">
				$if len(carouselData['carouselNews']) == 0:
					<div id='nTopTab' class="carouselTopTabDim z500 positionAbsolute carouselHeader carouselHeaderPadding">			
						<span class="floatRight colorWhite">
							<span class="font10"><i class="font13 icon-users"></i>No Comments</span>							
						</span>	
					</div>
					<div class="overflowHidden carouselContainer">
						<img src="$session.baseUrl/assets/images/default/featuredBg.png" width="960" height="720" />	
					</div>					
					<div id="nBottomTab" class="z500 positionAbsolute carouselBottomTabDim" >
							<div class="outerBox carouselOuterRing carouselOuterRingMarginRight floatRight">
								<div class="innerBox carouselInnerRing">									
										<img src="$session.baseUrl/assets/images/default/avatar.png" alt="no user" width="90" height="90" title="No User" style="margin-left: -4px;">
								</div>
							</div>
							<div class="outerBox carouselOuterRing carouselOuterRingMarginLeft">
								<div class="innerBox carouselInnerRing">
									<span class="icon-signal-2 news colorWhite" title="News- user shared news"></span>
								</div>
							</div>							
								<p class="applyFranklinGothic font23 colorLightGray carouselTitle">No News</p>							
					</div>
				
				$else:					
					<div id='nTopTab' class="carouselTopTabDim z500 positionAbsolute carouselHeader carouselHeaderPadding">	
						<span class="floatLeft">
							<span class="marginRight10">
								<a class='playPause' href='javascript:;'><i class='icon-pause-3 colorWhite'></i></a>
							</span>
							<span id='nCarouselNav'>
								$for article in carouselData['carouselNews']:						       							
										<span><a href='javascript:;'><i class="icon-circle font7 colorWhite"></i></a></span>								
							</span>
						</span>
						<span class="floatRight colorWhite">
							<span class="font10"><i class="font13 icon-users"></i><span id="newsCommentCount">$carouselData['carouselNews'][0]['articleCommentCount']</span></span>							
						</span>																								
					</div>
					<div id="cNews" class="slider overflowHidden carouselContainer">
						
						$for article in carouselData['carouselNews']:
							<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']" data-encodedtitle="$article['articleEncodedUrlTitle']" data-title="$article['articleTitle']" data-username="$article['articleAuthor']" data-commentcount="$article['articleCommentCount']"><img src="$article['articleFeaturedImage']" width="960" height="720"/></a>				
						
					</div>					
					<div id="nBottomTab" class="z500 positionAbsolute carouselBottomTabDim" >
							<div class="outerBox carouselOuterRing carouselOuterRingMarginRight floatRight">
								<div class="innerBox carouselInnerRing">
									<a id='nArticleAuthor' href="/$carouselData['carouselNews'][0]['articleAuthor']">
										<img src="/static/images/photo.jpg" alt="$carouselData['carouselNews'][0]['articleAuthor']" width="90" height="90" title="$carouselData['carouselNews'][0]['articleAuthor']">
									</a>
								</div>
							</div>
							<div class="outerBox carouselOuterRing carouselOuterRingMarginLeft">
								<div class="innerBox carouselInnerRing">
									<span class="icon-signal-2 news colorWhite" title="News- user shared news"></span>
								</div>
							</div>
							<a id='nArticleTitle' href="/article/$carouselData['carouselNews'][0]['articleAuthor']/$carouselData['carouselNews'][0]['articleEncodedUrlTitle']">
								<p class="applyFranklinGothic font23 colorLightGray carouselTitle">$carouselData['carouselNews'][0]['articleTitle']</p>
							</a>
					</div>	
	</div>

	<div id="videoBox" class="carouselContainer">
		
			$if len(carouselData['carouselVideos']) == 0:
				<div id='vTopTab' class="carouselTopTabDim z500 positionAbsolute carouselHeader carouselHeaderPadding">
					<span class="floatRight colorWhite">
							<span class="font10"><i class="font13 icon-users"></i>No Comments</span>							
						</span>					
				</div>
		
				<div class="overflowHidden carouselContainer">
					<img src="$session.baseUrl/assets/images/default/featuredBg.png" width="960" height="720" />			
				</div>				
				<div id="vBottomTab" class="z500 positionAbsolute carouselBottomTabDim" >
							<div class="outerBox carouselOuterRing carouselOuterRingMarginRight floatRight">
								<div class="innerBox carouselInnerRing">									
										<img src="$session.baseUrl/assets/images/default/avatar.png" alt="no user" width="90" height="90" title="No User" style="margin-left: -4px;">
								</div>
							</div>
							<div class="outerBox carouselOuterRing carouselOuterRingMarginLeft">
								<div class="innerBox carouselInnerRing">
									<span class="icon-play-3 video colorWhite" title="Video- user created and shared videos"></span>
								</div>
							</div>							
								<p class="applyFranklinGothic font23 colorLightGray carouselTitle">No Video</p>							
					</div>
				
			
			$else:				
				<div id='vTopTab' class="carouselTopTabDim z500 positionAbsolute carouselHeader carouselHeaderPadding">	
						<span class="floatLeft">
							<span class="marginRight10">
								<a class='playPause' href='javascript:;'><i class='icon-pause-3 colorWhite'></i></a>
							</span>
							<span id='rCarouselNav'>
								$for article in carouselData['carouselVideos']:						       							
										<span><a href='javascript:;'><i class="icon-circle font7 colorWhite"></i></a></span>								
							</span>
						</span>
						<span class="floatRight colorWhite">
							<span class="font10"><i class="font13 icon-users"></i><span id="videoCommentCount">$carouselData['carouselVideos'][0]['articleCommentCount']</span></span>							
						</span>																								
					</div>
			
				<div id="cVideos" class="slider overflowHidden carouselContainer">
					$for article in carouselData['carouselVideos']:
						<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']" data-encodedtitle="$article['articleEncodedUrlTitle']" data-title="$article['articleTitle']" data-username="$article['articleAuthor']" data-commentcount="$article['articleCommentCount']"><img src="$article['articleFeaturedImage']" width="960" height="720"/></a>
				</div>				
				<div id="vBottomTab" class="z500 positionAbsolute carouselBottomTabDim" >
							<div class="outerBox carouselOuterRing carouselOuterRingMarginRight floatRight">
								<div class="innerBox carouselInnerRing">
									<a id='vArticleAuthor' href="/$carouselData['carouselVideos'][0]['articleAuthor']">
										<img src="/static/images/photo.jpg" alt="maxpayne" width="90" height="90" title="$carouselData['carouselVideos'][0]['articleAuthor']">
									</a>
								</div>
							</div>
							<div class="outerBox carouselOuterRing carouselOuterRingMarginLeft">
								<div class="innerBox carouselInnerRing">
									<span class="icon-play-3 video colorWhite" title="Video- user created and shared videos"></span>
								</div>
							</div>
							<a id='vArticleTitle' href="/article/$carouselData['carouselReviews'][0]['articleAuthor']/$carouselData['carouselReviews'][0]['articleEncodedUrlTitle']">
								<p class="applyFranklinGothic font23 colorLightGray carouselTitle" >$carouselData['carouselVideos'][0]['articleTitle']</p>
							</a>
				</div>	
	</div>

	<div id="gloonicleBox" class="carouselContainer">
				$if len(carouselData['carouselGloonicles']) == 0:
					<div id='gTopTab' class="carouselTopTabDim z500 positionAbsolute carouselHeader carouselHeaderPadding">
						<span class="floatRight colorWhite">
							<span class="font10"><i class="font13 icon-users"></i>No Comments</span>							
						</span>	
					</div>
					<div class="overflowHidden carouselContainer">
						<img src="$session.baseUrl/assets/images/default/featuredBg.png" width="960" height="720" />
					</div>					
					<div id="gBottomTab" class="z500 positionAbsolute carouselBottomTabDim" >
							<div class="outerBox carouselOuterRing floatRight">
								<div class="innerBox carouselInnerRing">									
										<img src="$session.baseUrl /assets/images/default/avatar.png" alt="no user" width="90" height="90" title="No User" style="margin-left: -4px;">
								</div>
							</div>
							<div class="outerBox carouselOuterRing">
								<div class="innerBox carouselInnerRing">
									<span class="icon-user gloonicle colorWhite" title="Gloonicle- user video game blogs"></span>
								</div>
							</div>							
								<p class="applyFranklinGothic font23 colorLightGray carouselTitle">No Gloonicle</p>							
					</div>
				$else:					
					<div id='gTopTab' class="carouselTopTabDim z500 positionAbsolute carouselHeader carouselHeaderPadding">	
						<span class="floatLeft">
							<span class="marginRight10">
								<a class='playPause' href='javascript:;'><i class='icon-pause-3 colorWhite'></i></a>
							</span>
							<span id='gCarouselNav'>
								$for article in carouselData['carouselGloonicles']:						       							
										<span><a href='javascript:;'><i class="icon-circle font7 colorWhite"></i></a></span>								
							</span>
						</span>
						<span class="floatRight colorWhite">
							<span class="font10"><i class="font13 icon-users"></i><span id="gloonicleCommentCount">$carouselData['carouselGloonicles'][0]['articleCommentCount']</span></span>							
						</span>																								
					</div>
					<div id="cGloonicles" class="slider overflowHidden carouselContainer">
						$for article in carouselData['carouselGloonicles']:
							<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']" data-encodedtitle="$article['articleEncodedUrlTitle']" data-title="$article['articleTitle']" data-username="$article['articleAuthor']" data-commentcount="$article['articleCommentCount']"><img src="$article['articleFeaturedImage']" width="960" height="720"/></a>				
					</div>					
					<div id="gBottomTab" class="z500 positionAbsolute carouselBottomTabDim" >
							<div class="outerBox carouselOuterRing carouselOuterRingMarginRight floatRight">
								<div class="innerBox carouselInnerRing">
									<a id='gArticleAuthor' href="/$carouselData['carouselGloonicles'][0]['articleAuthor']">
										<img src="/static/images/photo.jpg" alt="$carouselData['carouselGloonicles'][0]['articleAuthor']" width="90" height="90" title="$carouselData['carouselGloonicles'][0]['articleAuthor']">
									</a>
								</div>
							</div>
							<div class="outerBox carouselOuterRing carouselOuterRingMarginLeft">
								<div class="innerBox carouselInnerRing">
									<span class="icon-user gloonicle colorWhite" title="Gloonicle- user video game blogs"></span>
								</div>
							</div>
							<a id='gArticleTitle' href="/article/$carouselData['carouselGloonicles'][0]['articleAuthor']/$carouselData['carouselGloonicles'][0]['articleEncodedUrlTitle']">
								<p class="applyFranklinGothic font23 colorLightGray carouselTitle">$carouselData['carouselGloonicles'][0]['articleTitle']</p>
							</a>
					</div>	

	</div>
		
</div>
	

</div>
<div class="blackBoxShadow leaderBoardToppers">
	<a href="/users">
        <div id="learderboardUserContainer" class="overflowHidden">
                <div id="number2user" class="floatLeft">
                        <div class="outerBox">
                                <div class="innerBox">
                                        <img src="/static/images/photo.jpg" alt="loonatic86" title="loonatic86" width="100" height="100" style="margin-left: -4px;">
                                </div>
                        </div>
                        <div id="number2UserData">
                                <div class="leaderBoardToppersData">
                                        <span class="statsLabel colorWhite textShadowOrange font35">#2</span>                                                 
                                </div>                                                          
                                <div id="trophyBase" class="applyBevan font12">
                                        <span>
                                                <i class="icon-award-1 font13"></i>500 XP<i class="icon-award-1 font13"></i>
                                        </span>                                                                                                                  
                				</div>
                        </div>
                </div>
                <div id="number1user" class="floatLeft marginLeft30">
                        <div class="outerBox">
                                <div class="innerBox">
                                        <img src="/static/images/photo.jpg" alt="loonatic86" title="loonatic86" width="120" height="120" style="margin-left: -4px;">
                                </div>
                        </div>
                        <div id="number1UserData">
                                <div class="leaderBoardToppersData">
                                        <span class="statsLabel colorWhite textShadowOrange font50">#1</span>                                                 
                                </div>                                                          
                                <div id="trophyBase" class="applyBevan">
                                        <span>
                                                <i class="icon-award-1 font13"></i>1000 XP<i class="icon-award-1 font13"></i>
                                        </span>                                                                                                                    
                                </div>
                        </div>
                </div>
                <div id="number3user" class="floatLeft marginLeft20">
                        <div class="outerBox">
                                <div class="innerBox">
                                        <img src="/static/images/photo.jpg" alt="loonatic86" title="loonatic86" width="80" height="80" style="margin-left: -4px;">
                                </div>
                        </div>
                        <div id="number3UserData">
                                <div class="leaderBoardToppersData">
                                        <span class="statsLabel colorWhite textShadowOrange font27">#3</span>                                                 
                                </div>                                                          
                                <div id="trophyBase" class="applyBevan font13">
                                        <span>
                                                <i class="icon-award-1 font13"></i>210 XP<i class="icon-award-1 font13"></i>
                                        </span>                                                                                                                  
                                </div>
                        </div>
                </div> 
        </div>
        <div id="leaderboardText">
                <span class="applyBevan colorWhite font50">
                        <i class="icon-crown colorOrange"></i>Gloon Champs<i class="icon-crown colorOrange"></i>
                </span>
        </div>
        </a>
</div>

<div id="restContent">
	<div id="recentArticles">					
		<div id="tabs-min" class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul id='top10articles'>

				<li>
					<a href="#all">All</a>
				</li>
				<li>
					<a href="#review">Reviews</a>
				</li>				
				<li>
					<a href="#news">News</a>
				</li>
				<li>
					<a href="#gloonicle">Gloonicles</a>
				</li>
				<li>
					<a href="#video">Videos</a>
				</li>
			</ul>
			<div id='all'>
				$if len(recentNArticles)==0:
						<div class="noData applyBevan">No Data</div>
				$else:	
						<div class="noData applyBevan hiddenDiv">No Data</div>
				<div class="allList overflowHidden">					
						$for article in recentNArticles:
							$if loop.index == 2 or loop.index == 7: 							
								<div class="recentArticleDiv bigPostDiv floatLeft marginLeft20" id="$article['articleTimestamp']">								
									<div class='articleContentPreview' style="background-image: url($article['articleFeaturedImage']);background-size: 620px;">
										<div class="postTop hiddenDiv fontWeightBold font10 colorWhite" style="width: 620px;">
											<span class="floatLeft"><i class="font13 icon-users"></i>$article['articleCommentCount']</span>
											<span class="floatRight"><i class="font13 icon-frown"></i>$article['articleNotCoolScore']</span>
											<span class="floatRight"><i class="font13 icon-smile"></i>$article['articleCoolScore']</span>											
											<span class="floatRight"><i class="icon-fire-1"></i>Cold</span>
										</div>
										<div class="postBottom">
											<div class="outerBox postListOuterBoxRing floatRight postListOuterBoxRingMarginRight">
												<div class="innerBox postListInnerRing">
													<a href="/$article['articleAuthor']">
														<img src="/static/images/photo.jpg" alt="$article['articleAuthor']" title="$article['articleAuthor']" width="40" height="40">
													</a>
												</div>
											</div>
											<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginLeft">
												<div class="innerBox postListInnerRing">
													$if article['articleCategory']=="review":
														<span class="postListCategoryDim icon-thumbs-up-1 $article['articleCategory'] colorWhite" title="Review- user generated crisp and micro reviews"></span>
													$elif article['articleCategory']=="news":
														<span class="postListCategoryDim icon-signal-2 $article['articleCategory'] colorWhite" title="News- user shared news"></span>
													$elif article['articleCategory']=="video":
														<span class="postListCategoryDim icon-play-3 $article['articleCategory'] colorWhite" title="Video- user created and shared videos"></span>
													$else:
														<span class="postListCategoryDim icon-user $article['articleCategory'] colorWhite" title="Gloonicle- user video game blogs"></span>
												</div>
											</div>
											<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']">
												<p class="applyMontserratBold colorWhite font19 postTitle">$article['articleTitle']</p>
											</a>
										</div>
									</div>																
								</div>
							$elif loop.index == 4 or loop.index == 5 or loop.index == 9 or loop.index == 10:	
								<div class="recentArticleDiv smallPostDiv floatLeft marginLeft20" id="$article['articleTimestamp']">								
									<div class='articleContentPreview' style="background-image: url($article['articleFeaturedImage']);background-size: 300px 240px;">
										<div class="postTop hiddenDiv fontWeightBold font10 colorWhite" style="width: 300px;">
											<span class="floatLeft"><i class="font13 icon-users"></i>$article['articleCommentCount']</span>
											<span class="floatRight"><i class="font13 icon-frown"></i>$article['articleNotCoolScore']</span>
											<span class="floatRight"><i class="font13 icon-smile"></i>$article['articleCoolScore']</span>											
											<span class="floatRight"><i class="icon-fire-1"></i>Cold</span>
										</div>
										<div class="postBottom">
											<div class="outerBox floatRight postListOuterBoxRing postListOuterBoxRingMarginRight">
												<div class="innerBox postListInnerRing">
													<a href="/$article['articleAuthor']">
														<img src="/static/images/photo.jpg" alt="$article['articleAuthor']" title="$article['articleAuthor']" width="40" height="40">
													</a>
												</div>
											</div>
											<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginLeft">
												<div class="innerBox postListInnerRing">
													$if article['articleCategory']=="review":
														<span class="postListCategoryDim icon-thumbs-up-1 $article['articleCategory'] colorWhite" title="Review- user generated crisp and micro reviews"></span>
													$elif article['articleCategory']=="news":
														<span class="postListCategoryDim icon-signal-2 $article['articleCategory'] colorWhite" title="News- user shared news"></span>
													$elif article['articleCategory']=="video":
														<span class="postListCategoryDim icon-play-3 $article['articleCategory'] colorWhite" title="Video- user created and shared videos"></span>
													$else:
														<span class="postListCategoryDim icon-user $article['articleCategory'] colorWhite" title="Gloonicle- user video game blogs"></span>
												</div>
											</div>
											<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']">
												<p class="applyMontserratBold colorWhite font14 postTitle">$article['articleTitle']</p>
											</a>	
										</div>
										
									</div>																
								</div>
							$else:
								<div class="recentArticleDiv smallPostDiv floatLeft" id="$article['articleTimestamp']">								
									<div class='articleContentPreview' style="background-image: url($article['articleFeaturedImage']);background-size: 300px 240px;">
										<div class="postTop hiddenDiv fontWeightBold font10 colorWhite" style="width: 300px;" >
											<span class="floatLeft"><i class="font13 icon-users"></i>$article['articleCommentCount']</span>
											<span class="floatRight"><i class="font13 icon-frown"></i>$article['articleNotCoolScore']</span>
											<span class="floatRight"><i class="font13 icon-smile"></i>$article['articleCoolScore']</span>											
											<span class="floatRight"><i class="icon-fire-1"></i>Cold</span>
										</div>
										<div class="postBottom">
											<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginRight floatRight">
												<div class="innerBox postListInnerRing">
													<a href="/$article['articleAuthor']">
														<img src="/static/images/photo.jpg" alt="$article['articleAuthor']" title="$article['articleAuthor']" width="40" height="40">
													</a>
												</div>
											</div>
											<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginLeft">
												<div class="innerBox postListInnerRing">
													$if article['articleCategory']=="review":
														<span class="postListCategoryDim icon-thumbs-up-1 $article['articleCategory'] colorWhite" title="Review- user generated crisp and micro reviews"></span>
													$elif article['articleCategory']=="news":
														<span class="postListCategoryDim icon-signal-2 $article['articleCategory'] colorWhite" title="News- user shared news"></span>
													$elif article['articleCategory']=="video":
														<span class="postListCategoryDim icon-play-3 $article['articleCategory'] colorWhite" title="Video- user created and shared videos"></span>
													$else:
														<span class="postListCategoryDim icon-user $article['articleCategory'] colorWhite" title="Gloonicle- user video game blogs"></span>
												</div>
											</div>
											<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']">
												<p class="applyMontserratBold colorWhite font14 postTitle">$article['articleTitle']</p>
											</a>	
										</div>
									</div>																
								</div>
								
				</div>
			$if len(recentNArticles)>0:
				  <p class="textCenter marginTop20"><button class="loadMore">Fetch More</button></p>
			$else:
				  <p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>					
			</div>
			<div id='review'>
				<div class="noData applyBevan">No Data</div>
				<div class="reviewList overflowHidden"></div>
				<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
			</div>			
			<div id='news'>
				<div class="noData applyBevan">No Data</div>
				<div class="newsList overflowHidden"></div>
				<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
			</div>
			<div id='gloonicle'>
				<div class="noData applyBevan">No Data</div>
				<div class="gloonicleList overflowHidden"></div>
				<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
			</div>
			<div id='video'>
				<div class="noData applyBevan">No Data</div>
				<div class="videoList overflowHidden"></div>
				<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
			</div>

		</div>
	</div>
</div>
			</div>
</div>	
				

<script src="/static/javascripts/platform.js" type="text/javascript"></script>