$var title: Forget Password Mail Sending Process
$var description: Forget Password Mail Sending Process

<div class="mainContainer">
	<div id="container_layout">
		<div class="divider"> </div>
		<div style="background-color: #11151d;min-height: 400px;padding-top: 100px;">
			<div id="forgetPasswordEmailSendingForm">
				<fieldset class="profileFieldset" style="margin: 0 auto;width: 50%;">
					<label class="floatLeft colorGray textShadowBlack fontWeightBold font13  icon-mail-1" for="email">Enter your Email</label>
					<div class="floatLeft">
						<input type="text" id="userEmail" name="userEmail" class="marginLeft20" placeholder="Enter email">  
					</div>
					<div class="textCenter">
						<button id="confirmEmail" class="cursorPointer updatesButton font12">Confirm</button>
					</div>                                                                  
				</fieldset>                                                            
			</div>
			<p id="loadingIcon" class="textCenter font23 colorLightGray hiddenDiv"><i class="icon-spin5 animate-spin"></i></p>
			<p id="mailSentConfirmation" class="colorWhite font13 fontWeightBold textCenter marginTop20 hiddenDiv">A link via an email has been sent to your provided email id. Click it to reset your password. Please check your spam box if email is not avaible in your inbox.</p> 
		</div>
	</div>
</div>		
<script src="/static/javascripts/passwordForgotForm.js" type="text/javascript"></script>