$def with (previewPage)
$var title: Post Preview
$var description: Post Preview at Gamealoon

<div id="previewOverlay">Preview</div>
<div id="coverSection">		
		<div id="coverSectionHead" class="applyFranklinGothic coverSectionHeaderFooter">
			$if previewPage['category']=='news':						
				<span class="textCapitalization icon-signal-2 colorWhite $previewPage['category']">
					$previewPage['category']
				</span>
			$elif previewPage['category']=='review':						
				<span class="textCapitalization icon-thumbs-up-1 colorWhite $previewPage['category']">
					$previewPage['category']
				</span>
			$elif previewPage['category']=='gloonicle':						
				<span class="textCapitalization icon-user colorWhite $previewPage['category']">
					$previewPage['category']
				</span>
			$elif previewPage['category']=='feature':						
				<span class="textCapitalization icon-star colorWhite $previewPage['category']">
					$previewPage['category']
				</span>
			$else:						
				<span class="textCapitalization icon-play-3 colorWhite $previewPage['category']">								
					$previewPage['category']
				</span>
				
			<span class="colorWhite textShadowOrange">
					- $previewPage['title']
			</span>
		</div>
		<div id="coverImage" class="floatLeft">
			<img src="$previewPage['featuredImage']" width="640" height="480"/>
		</div>
		<div id="coverSectionFoot" class="coverSectionHeaderFooter">
			<div id="voteButtons" class="floatLeft applyChunkFive">
				<span id="yeah" class="icon-smile cursorPointer notSelected">Yeah!</span>
				<span id="meh" class="icon-frown cursorPointer notSelected">Meh!</span>				
			</div>			
			<div id="moreInformation" class="floatRight fontWeightBold" >
				<span class="icon-smile">200</span>
				<span class="icon-frown">10</span>
				<span class="icon-users">5k</span>
			</div>
		</div>
		<div id="userInfoAndReview" class="floatLeft textureBg"> 
			
			
			<div id="userInfoBox" class="floatLeft">
                        <div id="userInfoUsername" class="colorWhite">
                                <span class="colorOrange textShadowOrange fontWeightBold font14">by:</span>
                                <a href="/$previewPage['username']">
                                   <span class="colorOrange textShadowOrange fontWeightBold font20 marginLeft10">$previewPage['username']</span>
                                   <img src="$session.userAvatar" height="25">
                                </a>
                        </div>
                        <div id="userInfoData" class="divTable colorOrange textShadowOrange font12 fontWeightBold marginLeft40 marginTop20">
                        	   <div class="divRow">
	                        	   	<div class="divCell">
	                        	   		Followed By:<span class="colorWhite marginLeft5">0</span>
	                        	   	</div>
	                        	   	<div class="divCell">
	                        	   		Achievements:<span class="colorWhite marginLeft5">0</span>
	                        	   		
	                        	   	</div>
                        	   </div>
                        	   <div class="divRow">
	                        	   	<div class="divCell">
	                        	   		Articles Published:<span class="colorWhite marginLeft5">0</span>
	                        	   	</div>
                        	   </div>
                                                                   
                                
                        </div>
                        
                        <div class="colorWhite font12 marginLeft40 fontWeightBold marginRight30">
                        	<br>
                        	<i>
								<span >"</span>
								<span>$previewPage['gameBio']</span>
								<span>"</span>
							</i>	
						</div>                                               
           </div>
           <div id="reviewScoreBox" class="floatLeft overflowHidden">           	
				 $if previewPage['articleGame']:
				 		<input type="hidden" id="networkScore" name="networkScore" value="0">
				 		<input type="hidden" id="userScore" name="userScore" value="$previewPage['gameScore']">
				 		<div id="networkScoreContent" class="floatLeft">
  							<div id="networkScoreDonutHolder" class="donutHolder donutHolderSize150">
  								 <div id="networkScoreDonut" class="donut">
  								 	
  								 </div>
    							 <span id="networkScoreDonutData" class="textShadowBlack donutData donutDataMediumSize">
    							 	
    							 </span>  
  								
  							</div>
  							<div id="scoreTrophy">
  								<div id="trophyRank">
	  								<span class="statsLabel colorWhite textShadowOrange">NR</span>
  								</div>  							
  								<div id="trophyBase" class="applyBevan">
  									<span><i class="icon-star-2"></i>Network Score<i class="icon-star-2"></i></span>
  								</div>
  							</div>
  							
  						</div>  					
  						<div id="userScoreContent" class="floatLeft">
  							<div id="userScoreDonutHolder" class="donutHolder donutHolderSize100">
  								 <div id="userScoreDonut" class="donut">
  								 	
  								 </div>
    							 <span id="userScoreDonutData" class="textShadowBlack donutData donutDataSmallSize">
    							 	
    							 </span>  
  								
  							</div>    												
  							
  						</div>	
			            
		     
      
      
			</div>	
			
		</div>
		
        
        
                
			
	</div>			
	
		
	<div id="articleBodyContainer" class="marginTop20 overflowHidden">
		<div id="quoteBox" class="applyFranklinGothic">
			<p><i class="icon-quote-left"></i></p>
			<blockquote class="marginLeft50"><i>$previewPage['subTitle']</i></blockquote>
		</div>
		<div id="articleAndCommentBox" class="floatLeft marginLeft50">
			<div id="temporaryArticle" class="articleBody applyFjordOneRegular">
				$:previewPage['body']							
	 		</div>
	 		<div id="commentsBox">
	 			<h2 class="marginLeft10">Comments</h2>	 			
	 			<div id="commentForm">	 				
	 				<form id="commentFormInput" method="get" class="overflowHidden">
	 					<textarea id="commentBody"  name="commentBody" cols="60" rows="10"></textarea>
	 					<button id="postContent" class="colorWhite blackBoxShadow icon-comment-1">Post Comment</button>	 					
	 				</form>
	 			</div>
	 			<div id="commentList">	 			
	 					<span id="noComments">Hey! No comments. Add one.</span>	 											 					 		
	 			</div>
	 	</div>
			
	</div>
		
	<div id="sidePanel" class="floatRight">    	
        $if previewPage['articleGame']:                 	
			<div id="gameInformationBox">
				<div id="gameDetailHeader" class="colorWhite font13">
					<span>
						Game Details
					</span>
		        </div>
		        <div class="marginTop5">
		        	<img src="$previewPage['articleGameBoxShot']" height="300" width="250"/>		
		        	<div id="gameInformationTable" class="divTable font12 fontWeightBold">
		        		<div class="divRow">
		        			<div class="divCell">Published By</div>
		        			<div class="divCell">Publisher</div>
		        		</div>
		        		<div class="divRow">
		        			<div class="divCell">Developed By</div>
		        			<div class="divCell">Developer</div>
		        		</div>
		        		<div class="divRow">
		        			<div class="divCell">Releasing Date</div>
		        			<div class="divCell">Release Date</div>
		        		</div>
		        		<div class="divRow">
		        			<div class="divCell">Platforms</div>
		        			<div class="divCell">
		        				Platforms
		        			</div>
		        		</div>	
		        		<div class="divRow">
		        			<div class="divCell">Genre</div>
		        			<div class="divCell">Genre</div>
		        		</div>	
		        		<div class="divRow">
		        			<div class="divCell">Rating</div>
		        			<div class="divCell" >Rating</div>
		        		</div>			        			        	
		        	</div>				
				</div>
		
			</div>     
<!--<div style="width: 100%;height: 300px;border-style: solid;">
		Ad Box 1
     </div>-->	
    </div>
</div>
	

<script type="text/javascript" src="/static/javascripts/single_article.js"></script>