$var title: Post Creator
$var description: Create post from here
<div class="mainContainer">
	<div id="container_layout">
		<div class="divider"> </div>
		<div id="noBg" class="coverSection">		
			<input type="hidden" id="articleState" name="articleState" value="">
			<input type="hidden" id="articleId" name="articleId" value="">
			<a class="videoPlayButton" href="javascript:;"><i class="icon-play-circled2-1"></i></a>
			<div id="coverSectionHeadPostCreator" class="applyFranklinGothic coverSectionHeaderFooter">						
					<span id="selectedCategory" class="selectedCategory cursorPointer textCapitalization colorWhite review" title="Click to choose and select category">
						review
					</span>			
					<ul id="postCreatorCategorySelector">
						<li>
							<span id="review" class="option cursorPointer textCapitalization colorWhite review" title="Write short and crisp game reviews to let the world know what you think.">
								review
							</span>
						</li>
						<li>
							<span id="news" class="option cursorPointer textCapitalization colorWhite news" title="Have any news to share? Write few lines and share link of the news source.">
								news
							</span>
						</li>
						<li>
							<span id="video" class="option cursorPointer textCapitalization colorWhite video" title="Share what you loved visually currently in the world of video gaming.">
								video
							</span>
						</li>
						<li>
							<span id="gloonicle" class="option cursorPointer textCapitalization colorWhite gloonicle" title="Write your heart out. This can be a blog, a frequent section or anything where you want to share what you feel for gaming.">
								gloonicle
							</span>
						</li>
					</ul>
				<span id="postTitle" class="colorWhite textShadowOrange">
						- <span id="postTitleText">My Post Title</span>
						<span id="postTitleEdit" class="hiddenDiv">
							<input class="width300" id="postTitleInput" name="postTitle" type="text" placeholder="Upto 60 characters" maxlength="60"/>
							<a href="javascript:;" class="font16 doneEditiingButton" title="Update Title"><i class="icon-ok"></i></a>	
						</span>
						
				</span>
				<a id="changeTitle" href="javascript:;" title="Add title to this Post"><i class="icon-pencil-1 editButton"> </i></a>
				<a id="imageUploader" href="javascript:;" title="Add featured Cover image of Post"><i class="icon-picture-3 editButton"> </i></a>
				<a id="videoForm" href="javascript:;" title="Add a video to the post"><i class="icon-youtube-squared editButton"> </i></a>
				<span id="addVideoUrl" class="hiddenDiv marginLeft10">
							<input class="width300" id="videoUrlInput" name="videoUrlInput" type="text" placeholder="Youtube video link"/>
							<a href="javascript:;" class="font16 doneEditiingButton" title="Add a video"><i class="icon-ok"></i></a>	
				</span>
				<a id="editorHelper" href="javascript:;" title="click to go through tutorial"><i class="icon-help-circled editButton"> </i></a>
			</div>					    		
		</div>
		<div class="divider"> </div>
                <div id="postContainer" style="">
                	<div id="initRow" class="positionAbsolute">
                		<div id="gameRow">
                			<div id="gameBoxArt">
                				<a id="gameSelector" href="javascript:;" title="Add a game">
                					<input type="hidden" id="gamePlatforms" name="gamePlatforms" value=""/>
                					<img id="noGame" src="$session.baseUrl/assets/images/default/boxShot.png" height="150">
                				</a>
                				
                			</div>
                				<h3 id="reviewGamePlayedOn">
                					 played on 
                					 <a id="playedOn" title="Please select a game before selecting platform">
                					 	<span id="selectedGamePlatform" class="all disableOpacity">
                					 		Select Platform
                					 	</span>
                					 </a>
                					 <div id="platformOptions" class="overflowHidden blackBoxShadow">  					
					  					<h4>Choose Platfom</h4>
					  					<form id="platformListForm" name="plaformListForm">
					  						<div class="checkBoxFont divTable userInterestListBorderBottom">
					  							<div class="divRow">
					  								<div class="divCell"><input type="radio" id="ps3" name="playedOn" class="platform" value="ps3" disabled="disabled"/>Playstation 3</div>
					  								<div class="divCell"><input type="radio" id="xbox360" name="playedOn" class="platform" value="xbox360" disabled="disabled"/>Xbox 360</div>
					  								<div class="divCell"><input type="radio" id="ps4" name="playedOn" class="platform" value="ps4" disabled="disabled"/>Playstation 4</div>
					  							</div>
					  							<div class="divRow">
					  								<div class="divCell"><input type="radio" id="xboxOne" name="playedOn" class="platform" value="xboxOne" disabled="disabled"/>Xbox One</div>
					  								<div class="divCell"><input type="radio" id="wiiu" name="playedOn" class="platform" value="wiiu" disabled="disabled"/>WII-U</div>
					  								<div class="divCell"><input type="radio" id="pc" name="playedOn" class="platform" value="pc" disabled="disabled"/>PC</div>
					  							</div>
					  							<div class="divRow">
					  								<div class="divCell"><input type="radio" id="vita" name="playedOn" class="platform" value="vita" disabled="disabled"/>PS VITA</div>
					  								<div class="divCell"><input type="radio" id="n3ds" name="playedOn" class="platform" value="n3ds" disabled="disabled"/>N3DS</div>
					  								<div class="divCell"><input type="radio" id="ios" name="playedOn" class="platform" value="ios" disabled="disabled"/>IOS</div>
					  							</div>
					  							<div class="divRow">
					  								<div class="divCell"><input type="radio" id="android" name="playedOn" class="platform" value="android" disabled="disabled"/>Android</div>  								
					  								<div class="divCell"><input type="radio" id="windows" name="playedOn" class="platform" value="windows" disabled="disabled"/>Windows Phone</div>
					  								<div class="divCell"><input type="radio" id="blackberry" name="playedOn" class="platform" value="blackberry" disabled="disabled"/>Blackberry 10</div>
					  							</div>
					  							<div class="divRow divTableFooterHeight">  													
					  							</div>
					  						</div>	
					  						<div class="marginTop10">
					  							<button id="platformSet">Close</button>  							
					  						</div>
					  					</form>
		  							</div>
                				</h3>
                				
                		</div>
                		<div id="author" class="floatRight authorPostMargin">
                			<div id="userPostAndCreatorOuterCircle" class="outerBox">
                				<div id="userPostAndCreatorInnerCircle" class="innerBox unfollowRing">
                					<a href="/$session.username"><img src="$session.userAvatar" alt="$session.username" title="$session.username" width="150" height="150"></a>
                				</div>
                			</div>
                		</div>    
                	</div>
                	<div id="contentRow" class="overflowHidden">
                		<div id="postData" class="floatLeft">
                			<div id="snippetText">
                				<i id="snippetTextTitle" class="icon-thumbs-up-1 colorWhite font20">Microverdict</i>
                				<a id="addSnippetText" href="javascript:;"><i title="add your verdict" class="icon-pencil-1 editButton"></i></a>
                				<p class="colorGray marginTop10 font14">Add your micro verdict.</p>
                				<div class="gloonicleText colorGray marginTop10 font14 hiddenDiv">Blog your gaming adventures and thoughts.</div>
                				<div id="postSnippet" class="hiddenDiv">
                					<span id="maxCharLimitContainer" class="colorWhite font14" style="margin-left: 400px;">Limit(<span id="charMaxLimit">200</span>)</span><a href="javascript:;" class="doneEditiingButton floatRight font16 marginRight61"><i class="icon-ok"></i></a><br>
                					<textarea id="snippetTextInput" cols="60" rows="5" class="hiddenDiv"></textarea>
                					<div class="editorButtons displayInline nonGloonicleEditButtons">
									 		<a href="javascript:;" onclick="onBold()"><span class="icon-bold colorBlack" title="Bold"></span></a>
										    <a href="javascript:;" onclick="onUnderline()"><span class="icon-underline colorBlack" title="Underline"></span></a>										     										    										    										    
							 		</div>
                					<div class="editorButtons displayInline gloonicleEditButtons hiddenDiv">
									 		<a href="javascript:;" onclick="onBold()"><span class="icon-bold colorBlack" title="Bold"></span></a>
										    <a href="javascript:;" onclick="onUnderline()"><span class="icon-underline colorBlack" title="Underline"></span></a>
										    <a href="javascript:;" onclick="onItalic()"><span class="icon-italic colorBlack" title="Italic"></span></a>  
										    <a href="javascript:;" onclick="onUlist()"><span class="icon-list-bullet colorBlack" title="Unorderd List"></span></a>
										    <a href="javascript:;" onclick="onOlist()"><span class="icon-list-numbered colorBlack" title="Ordered List"></span></a>
										    <a href="javascript:;" onclick="onLink()"><span class="icon-link colorBlack" title="Insert Link"></span></a>
										    <a href="javascript:;" onclick="onUnlink()"><span class="icon-unlink colorBlack" title="Remove Link"></span></a>
										    <a href="javascript:;" onclick="onOutdent()"><span class="icon-indent-left colorBlack" title="Left Indent"></span></a>
										    <a href="javascript:;" onclick="onIndent()"><span class="icon-indent-right colorBlack" title="Right Indent"></span></a>			     
										    <a href="javascript:;" onclick="onLeft()"><span class="icon-align-left colorBlack" title="Left"></span></a>
										    <a href="javascript:;" onclick="onCenter()"><span class="icon-align-center colorBlack" title="Center"></span></a>
										    <a href="javascript:;" onclick="onRight()"><span class="icon-align-right colorBlack" title="Right"></span></a>
										    <a href="javascript:;" onclick="onJustify()"><span class="icon-align-justify colorBlack" title="Justify"></span></a>
										    <a href="javascript:;" onclick="onInsertImage()"><span class="icon-picture-3 colorBlack" title="Insert Image"></span></a>										    
										    <a href="javascript:;" onclick="onUndo()"><span class="icon-reply colorBlack" title="Undo"></span></a>
										    <a href="javascript:;" onclick="onRedo()"><span class="icon-forward colorBlack" title="Redo"></span></a>
							 		</div>			 						

                					<iframe name="richEditor" id="richEditor" class="nonGlooniclePostSnippet"> </iframe>
                				</div>
                				
                			</div>
                			<div id="reviewPoints" class="overflowHidden marginTop30">
                				<dl id="sweet" class="floatLeft reviewPointWidth">
                					<dt class="icon-emo-grin">
                						<i>Sweet</i>
                						<a id="sweetButton" href="javascript:;" class="reviewPointButtons"><i class="icon-plus"></i>Max 5 Sweets</a>
                					</dt>
                					<p id="noSweetPoint" class="noReviewPoints">No Sweet points</p>                					
                				</dl>
                				
                				<dl id="stink" class="floatLeft reviewPointWidth">
                					<dt class="icon-emo-angry"> 
                						<i>Stinks</i>
                						<a id="stinkButton" href="javascript:;" class="reviewPointButtons"><i class="icon-plus" ></i>Max 5 Stinks</a>
                					</dt>
                					<p id="noStinkPoint" class="noReviewPoints">No Stink points</p>                					
                				</dl>
                		</div>
                		<div id="newsSource" class="marginTop20 hiddenDiv">
                			<i class="icon-link-ext-alt colorWhite font20">Source Link</i>
                			<a id="newsSourceLinkButton" href="javascript:;"><i title="add News Source" class="icon-link editButton"> </i></a>
                			<p id="linkDefaultData" class="font14 marginTop30"><a class="newsLink" target="_blank">Add news source link</a></p>
                			<div id="newsLinkContainer" class="hiddenDiv marginTop30">                					
                					<input type="text" name="newsLink" id="newsLink" class="width300">
                					<a href="javascript:;" class="doneEditiingButton font16"><i class="icon-ok"></i></a><br>                					                					                			
                			</div>
                			<span id="parseError" class="hiddenDiv error font13 fontWeightBold">Unable to parse link</span>
                			<div id="linkContent" class="marginTop20 overflowHidden">
                				<p id="loadingIcon" class="hiddenDiv textCenter font23 colorLightGray"><i class="icon-spin5 animate-spin"></i></p>
                			</div>
                		</div>
                		<div id="postCreatorButtons" class="marginTop30">
                			<button id="save" class="cursorPointer padding2"><span class="icon-doc-inv">Save</span></button>
                			<button id="publish" class="cursorPointer padding2"><span class="icon-publish">Publish</span></button>
                			<button id="close" class="cursorPointer padding2"><span class=" icon-cancel-circled-1">Close</span></button>
                		</div>
                	</div>
                	<div id="score" class="floatLeft">
                		<div id="lineSegment1">
                			<div class="reviewLine"> </div>
                		</div>
                		<div id="authorScore">
                			<div id="userScoreDonutContainer" class="dottedScoreBorder cursorPointer" title="Score Dial">
                				<input class="knob" data-width="100" data-angleOffset=1 data-angleArc=360 data-linecap=round data-min="0" data-displayPrevious=true data-max="100" data-step="1" value="0" data-fgColor="#FF4500" data-thickness=".2">                				
								
                			</div>
                		</div>                  		
                     </div>
               </div>
         </div>
        
   </div>
</div>		
<div id="imageSelectorForEditor" class="imageUploaderBox">
					 	<div class="imageUploaderOverlay"> </div>		
					 	<div id="editorImageSelector">
					 		<div id="imageSection">
					 			<div id="imageHolder">
					 				<img id="none" src="" width="640" height="480" class="cursorPointer"/><br>
					 				<span id="imageCaption" class="font14" contenteditable="true"><i>Click to set caption</i></span>
					 			</div>
					 		</div>
					 		<div id="buttonSection">
					 			<button id="editorImageSet" class="applyBevan imageAndVideoButtons colorWhite" onclick="onSetImage()">SET</button>
					 			<button id="editorImageClose" class="applyBevan imageAndVideoButtons colorWhite" onclick="editorImageClose()">CANCEL</button>
					 		</div>	
					 	</div>			 	
</div>
<ol id="reviewTutorialSteps" class="hiddenDiv">
	<li data-id="changeTitle" data-text="Next" class="custom">
        <h2>Step #1</h2>
        <p>Click to set a title</p>
    </li>
    <li data-id="imageUploader" data-text="Next" class="custom">
        <h2>Step #2</h2>
        <p>Click to browse/upload an image to be used as cover image</p>
    </li>
    <li data-id="gameBoxArt" data-text="Next" data-options="tipLocation:top">
        <h2>Step #3</h2>
        <p>Click to search and add game</p>
    </li>
    <li data-id="selectedGamePlatform" data-text="Next" data-options="tipLocation:top">
        <h2>Step #4</h2>
        <p>Click to add platform on which you have played the game</p>
    </li>    
    <li data-id="addSnippetText" data-text="Next" class="custom">
        <h2>Step #5</h2>
        <p>Click to add review body</p>
    </li>    
    <li data-id="reviewPoints" data-text="Next" class="custom">
        <h2>Step #6</h2>
        <p>Click to add review points. At least 1 review point required. Click "Max 5 Sweets" and "Max 5 Stinks" to add points.</p>
    </li>
    <li data-id="userScoreDonutContainer" data-text="Next" class="custom">
        <h2>Step #7</h2>
        <p>Score the game by rotating the scoring dial</p>
    </li>
    <li data-id="postCreatorButtons" data-button="Close">
        <h2>Step #8</h2>
        <p>Hit save or publish to finish. Save will save the post as draft. Publish will publish the post at will appear in the network.</p>
    </li>
</ol>

<ol id="videoTutorialSteps" class="hiddenDiv">
	<li data-id="changeTitle" data-text="Next" class="custom">
        <h2>Step #1</h2>
        <p>Click to set a title</p>
    </li>
    <li data-id="imageUploader" data-text="Next" class="custom">
        <h2>Step #2</h2>
        <p>Click to browse/upload an image to be used as cover image</p>
    </li>
     <li data-id="videoForm" data-text="Next" class="custom">
        <h2>Step #3</h2>
        <p>Click to add youtube video url. This is mandatory in video category.</p>
    </li> 
    <li data-id="gameBoxArt" data-text="Next" data-options="tipLocation:top">
        <h2>Step #4(Optional)</h2>
        <p>Click to search and add game if this video is related to a particular game.</p>
    </li>
      
    <li data-id="addSnippetText" data-text="Next" class="custom">
        <h2>Step #5</h2>
        <p>Click to add video caption</p>
    </li>    
    <li data-id="postCreatorButtons" data-button="Close">
        <h2>Step #6</h2>
        <p>Hit save or publish to finish. Save will save the post as draft. Publish will publish the post at will appear in the network.</p>
    </li>
</ol>

<ol id="newsTutorialSteps" class="hiddenDiv">
	<li data-id="changeTitle" data-text="Next" class="custom">
        <h2>Step #1</h2>
        <p>Click to set a title</p>
    </li>
    <li data-id="imageUploader" data-text="Next" class="custom">
        <h2>Step #2</h2>
        <p>Click to browse/upload an image to be used as cover image</p>
    </li>
    <li data-id="gameBoxArt" data-text="Next" data-options="tipLocation:top">
        <h2>Step #3(Optional)</h2>
        <p>Click to search and add game if this news is related to a particular game.</p>
    </li>
    <li data-id="addSnippetText" data-text="Next" class="custom">
        <h2>Step #4</h2>
        <p>Click to add news body</p>
    </li>    
    <li data-id="newsSourceLinkButton" data-text="Next" class="custom">
        <h2>Step #5</h2>
        <p>Click to add news source link.</p>
    </li>
    <li data-id="postCreatorButtons" data-button="Close">
        <h2>Step #6</h2>
        <p>Hit save or publish to finish. Save will save the post as draft. Publish will publish the post at will appear in the network.</p>
    </li>
</ol>

<ol id="gloonicleTutorialSteps" class="hiddenDiv">
	<li data-id="changeTitle" data-text="Next" class="custom">
        <h2>Step #1</h2>
        <p>Click to set a title</p>
    </li>
    <li data-id="imageUploader" data-text="Next" class="custom">
        <h2>Step #2</h2>
        <p>Click to browse/upload an image to be used as cover image</p>
    </li>           
    <li data-id="addSnippetText" data-text="Next" class="custom">
        <h2>Step #3</h2>
        <p>Click to add your gloonicle article with images.</p>
    </li>
    <li data-id="postCreatorButtons" data-button="Close">
        <h2>Step #4</h2>
        <p>Hit save or publish to finish. Save will save the post as draft. Publish will publish the post at will appear in the network.</p>
    </li>
</ol>
<script src="/static/javascripts/post_creator.js"></script>
<script src="/static/javascripts/jquery.knob.js"></script>
<script src ="/static/javascripts/jquery.joyride.js"></script>
