$def with (article)
$ platforms = article['articlePlatforms']
$var title: $article['articleTitle']- $article['articleAuthor'] 
<div id="buttons" style="float: right">
	<input id="cool" name="cool" type="button" value="Cool"/>
	<input id="notcool" name="notcool" type="button" value="!Cool"/>
</div>
<div id="carousel">
	<ul>
		<strong>Article Title:</strong>
		<li>
			$article['articleTitle']			
		</li>
		<strong>Article Sub-Title:</strong>
		<li>
			$article['articleSubTitle']			
		</li>
		<strong>Article Body:</strong>
		<li>
			$article['articleBody']
		</li>
		<strong>Article Category:</strong>
		<li>
			$article['articleCategory']
		</li>
		<strong>Article Author:</strong>
		<li>
			$article['articleAuthor']
		</li>
		<strong>Article Platforms:</strong>
		<li>
			$for platform in platforms:
			  <ul>
			  	 <li>
			  	 	$platform
			  	 </li>
			  </ul>
		</li>
	</ul>
</div>
