$def with (article)
$ platforms = article['articlePlatforms']
$ author = article['articleAuthor']
$ categoryInLower = article['articleCategory'].lower()
$var title: $:article['articleTitle']- $author['articleAuthorUsername'] 

	<div id="coverSection">		
		<div id="coverSectionHead" class="applyFranklinGothic coverSectionHeaderFooter">
			$if article['articleCategory']=='news':						
				<span class="textCapitalization icon-signal-2 colorWhite $article['articleCategory']">
					$article['articleCategory']
				</span>
			$elif article['articleCategory']=='review':						
				<span class="textCapitalization icon-thumbs-up-1 colorWhite $article['articleCategory']">
					$article['articleCategory']
				</span>
			$elif article['articleCategory']=='gloonicle':						
				<span class="textCapitalization icon-user colorWhite $article['articleCategory']">
					$article['articleCategory']
				</span>
			$elif article['articleCategory']=='feature':						
				<span class="textCapitalization icon-star colorWhite $article['articleCategory']">
					$article['articleCategory']
				</span>
			$else:						
				<span class="textCapitalization icon-play-3 colorWhite $article['articleCategory']">								
					$article['articleCategory']
				</span>
				
			<span class="colorWhite textShadowOrange">
					- $article['articleTitle']
			</span>
		</div>
		<div id="coverImage" class="floatLeft">
			<img src="$article['articleFeaturedImage']" width="640" height="480"/>
		</div>
		<div id="coverSectionFoot" class="coverSectionHeaderFooter">
			$if session.username=="Guest": 
				<div id="voteButtons" class="floatLeft applyChunkFive">
					<span id="yeah" class="icon-smile cursorPointer notSelected notActiveButton">Yeah!</span>
					<span id="meh" class="icon-frown cursorPointer notSelected notActiveButton">Meh!</span>				
				</div>
			$else:		
				<div id="voteButtons" class="floatLeft applyChunkFive">
					$if article['articleUserCoolState'] == 1:
						<span id="yeah" class="icon-smile cursorPointer selected activeButton">Yeah!</span>
					$else:
						<span id="yeah" class="icon-smile cursorPointer notSelected activeButton">Yeah!</span>
						
					$if article['articleUserNotCoolState'] == 1:					
						<span id="meh" class="icon-frown cursorPointer selected activeButton">Meh!</span>
					$else:
						<span id="meh" class="icon-frown cursorPointer notSelected activeButton">Meh!</span>				
				</div>		
			<div id="moreInformation" class="floatRight fontWeightBold" >
				<span class="icon-smile">$article['articleCoolScore']</span>
				<span class="icon-frown">$article['articleNotCoolScore']</span>
				<span class="icon-users">$article['articleCommentCount']</span>
			</div>
		</div>
		<div id="userInfoAndReview" class="floatLeft textureBg"> 
			
			
			<div id="userInfoBox" class="floatLeft">
                        <div id="userInfoUsername" class="colorWhite">
                                <span class="colorOrange textShadowOrange fontWeightBold font14">by:</span>
                                <a href="/$author['articleAuthorUsername']">
                                   <span class="colorOrange textShadowOrange fontWeightBold font20 marginLeft10">$author['articleAuthorUsername']</span>
                                   <img src="$author['articleAuthorAvatarPath']" height="25">
                                </a>
                        </div>
                        <div id="userInfoData" class="divTable colorOrange textShadowOrange font12 fontWeightBold marginLeft40 marginTop20">
                        	   <div class="divRow">
	                        	   	<div class="divCell">
	                        	   		Followed By:<span class="colorWhite marginLeft5">$author['articleAuthorTotalFollowers']</span>
	                        	   	</div>
	                        	   	<div class="divCell">
	                        	   		Achievements:<span class="colorWhite marginLeft5">$author['articleAuthorTotalAchievements']</span>
	                        	   		
	                        	   	</div>
                        	   </div>
                        	   <div class="divRow">
	                        	   	<div class="divCell">
	                        	   		Articles Published:<span class="colorWhite marginLeft5">$author['articleAuthorTotalFollowing']</span>
	                        	   	</div>
                        	   </div>
                                                                   
                                
                        </div>
                        
                        <div class="colorWhite font12 marginLeft40 fontWeightBold marginRight30">
                        	<br>
                        	<i>
								<span >"</span>
								<span>$author['articleAuthorGameBio']</span>
								<span>"</span>
							</i>	
						</div>                                               
           </div>
           <div id="reviewScoreBox" class="floatLeft overflowHidden">           	
				 $if article['articleGame']:
				 		<input type="hidden" id="networkScore" name="networkScore" value="$article['articleGame']['gameScore']">
				 		<input type="hidden" id="userScore" name="userScore" value="$article['articleGameUserScore']">
				 		<div id="networkScoreContent" class="floatLeft">
  							<div id="networkScoreDonutHolder" class="donutHolder donutHolderSize150">
  								 <div id="networkScoreDonut" class="donut">
  								 	
  								 </div>
    							 <span id="networkScoreDonutData" class="textShadowBlack donutData donutDataMediumSize">
    							 	
    							 </span>  
  								
  							</div>
  							<div id="scoreTrophy">
  								<div id="trophyRank">
  									$if article['articleGame']['totalUsersWhoScoredGame']==0:
	  									<span class="statsLabel colorWhite textShadowOrange">NR</span>
	  								$else:
	  									<span class="statsLabel colorWhite textShadowOrange">$article['articleGame']['gameNetworkScale']</span>
  								</div>  							
  								<div id="trophyBase" class="applyBevan">
  									<span><i class="icon-star-2"></i>Network Score<i class="icon-star-2"></i></span>
  									<br>
  									
	  								<span class="font12">($article['articleGame']['totalUsersWhoScoredGame'])</span>
  								</div>
  							</div>
  							
  						</div>  					
  						<div id="userScoreContent" class="floatLeft">
  							<div id="userScoreDonutHolder" class="donutHolder donutHolderSize100">
  								 <div id="userScoreDonut" class="donut">
  								 	
  								 </div>
    							 <span id="userScoreDonutData" class="textShadowBlack donutData donutDataSmallSize">
    							 	
    							 </span>  
  								
  							</div>    												
  							
  						</div>	
			            
		     
      
      
			</div>	
			
		</div>
		
        
        
                
			
	</div>			
	
		
	<div id="articleBodyContainer" class="marginTop20 overflowHidden">
		<div id="quoteBox" class="applyFranklinGothic">
			<p><i class="icon-quote-left"></i></p>
			<blockquote class="marginLeft50"><i>$article['articleSubTitle']</i></blockquote>
		</div>
		<div id="articleAndCommentBox" class="floatLeft marginLeft50">
			<div id="$article['articleId']" class="articleBody applyFjordOneRegular">
				<span class="colorGray">$article['articlePublishDate'] </span>
				$:article['articleBody']							
	 		</div>
	 		<div id="commentsBox">
	 			<h2 class="marginLeft10">Comments</h2>	 			
	 			<div id="commentForm">	 				
	 				<form id="commentFormInput" method="get" class="overflowHidden">
	 					<textarea id="commentBody"  name="commentBody" cols="60" rows="10"></textarea>
	 					<button id="postContent" class="colorWhite blackBoxShadow icon-comment-1">Post Comment</button>	 					
	 				</form>
	 			</div>
	 			<div id="commentList">
	 			$if len(article['articleComments']) == 0:
	 					<span id="noComments">Hey! No comments. Add one.</span>
	 			$else:
		 				$for comment in article['articleComments']:
						 			<div id="$comment['conversationId']" class="commentData">
						 				<input type="hidden" id="conversationTimestamp" name="conversationTimestamp" value="$comment['conversationTimeStamp']" />
						 				<header class="commentUserBox">
								 			<div class="commentuserAvatarCircle">
								 				<a href="/$comment['ownerName']" target="_blank">
								 					<img src="$comment['ownerAvatarImage']" height="25" alt="avatar">
								 				</a>				 							
								 			</div>
								 			<div class="commentUserName">
								 				<a href="/$comment['ownerName']" target="_blank">
								 					<span>
								 						$comment['ownerName']
								 					</span>
								 				</a>
								 				<div class="commentVoteControl">
								 					<div class="upArrow">
								 						<a href="javascript:;" title="yay" class="colorGray">
								 							<i class="icon-up-dir"></i>
								 						</a>
								 					</div>
								 					<div class="val">
								 							0
								 					</div>
								 					<div class="downArrow">
								 						<a href="javascript:;" title="nay" class="colorGray">
								 							<i class="icon-down-dir"></i>
								 						</a>
								 					</div>
								 				</div>
								 				<div class="commentFlag">
								 					<a href="javascript:;" title="flag as inappropriate" class="colorGray">
								 						<i class='icon-flag'></i>
								 					</a>
								 				</div>
								 			</div>
								 		</header>
								 		<span class="commentBody applyJura">
								 			$:comment['message']
								 		</span>  
								 </div>		
	 					 			
	 		</div>
	 	</div>
			
	</div>
		
	<div id="sidePanel" class="floatRight">    	
        $if article['articleGame']:                 	
			<div id="gameInformationBox">
				<div id="gameDetailHeader" class="colorWhite font13">
					<span>
						Game Details
					</span>
		        </div>
		        <div class="marginTop5">
		        	<a href="/game/$article['articleGame']['gameEncodedUrl']"><img src="$article['articleGame']['boxshotPath']" height="300" width="250"/></a>		
		        	<div id="gameInformationTable" class="divTable font12 fontWeightBold">
		        		<div class="divRow">
		        			<div class="divCell">Published By</div>
		        			<div class="divCell">$article['articleGame']['publisher']</div>
		        		</div>
		        		<div class="divRow">
		        			<div class="divCell">Developed By</div>
		        			<div class="divCell">$article['articleGame']['developer']</div>
		        		</div>
		        		<div class="divRow">
		        			<div class="divCell">Releasing Date</div>
		        			<div class="divCell">$article['articleGame']['releaseDate']</div>
		        		</div>
		        		<div class="divRow">
		        			<div class="divCell">Platforms</div>
		        			<div class="divCell">
		        				$for platform in article['articleGame']['gamePlatforms']:
		        					<a id="$platform['shortTitle']" href="/platform/$platform['shortTitle']/all" title="$platform['title']" target="_blank"><span  class="$platform['shortTitle'] blackBoxShadow interestUserProfileFontSize">$platform['title']</span></a><br>
		        			</div>
		        		</div>	
		        		<div class="divRow">
		        			<div class="divCell">Genre</div>
		        			<div class="divCell">$article['articleGame']['genre']</div>
		        		</div>	
		        		<div class="divRow">
		        			<div class="divCell">Rating</div>
		        			<div class="divCell" ><div id="$article['articleGame']['rating']" class="ratingDimension"></div></div>
		        		</div>			        			        	
		        	</div>				
				</div>
		
			</div>     
<!--<div style="width: 100%;height: 300px;border-style: solid;">
		Ad Box 1
     </div>-->	
    </div>
</div>
	

<script type="text/javascript" src="/static/javascripts/single_article.js"></script>