$def with (user)
$ categoryIconMap={"review":"icon-thumbs-up-1", "news":"icon-signal-2", "gloonicle":"icon-user", "feature":"icon-star ", "video":"icon-play-3"}
$var title: $user['userFirstName'] $user['userLastName'] aka $user['userUserName'] @ Gamealoon - Find all $user['userUserName']'s reviews, gloonicles, news, features and videos on Gamealoon!
$var description: $user['userFirstName'] $user['userLastName'] aka $user['userUserName'] @ Gamealoon - Find all $user['userUserName']'s reviews, gloonicles, news and videos on Gamealoon! 

<div class="mainContainer">
	<div id="container_layout">
		<div class="divider"> </div>
<div class="coverSection" style="padding-top: 200px;background-image: url('/static/images/uc3_2.jpg');background-size: 960px 720px; margin-bottom: 10px;">		
			
  <div style="position: absolute;width: 950px;margin-top: -200px;height: 200px;padding: 5px;border-bottom-style: dashed;border-bottom-width: 2px;border-bottom-color: #f0f0f0;z-index: 1;">
  	<div id="user" style="margin-top: 115px;margin-left: 390px;">
  		<div id="userPostAndCreatorOuterCircle" class="outerBox">
  			<div id="userPostAndCreatorInnerCircle" class="innerBox">
  				<img id="$user['userAvatarId']" src="$user['userAvatarUrl']" alt="$user['userUserName']" title="$user['userUserName']" width="150" height="150" style="margin-left: -4px;">
  			</div>
  		</div>
  	</div>
  	
  	<div style="height: 100px;text-align: center;margin-top: 10px;">
  		<p style="font-size: 30px;color: #fff;font-weight: bold;text-shadow: 0px 2px 3px #000;">
  			$user['userFirstName'] $user['userLastName'] <span style="font-size: 14px;" class="colorGray">aka</span> 
  			<span style="font-size: 18px;color: #FF5555;">$user['userUserName']</span>
  		</p>
  		
  		<p>
  			<span class="colorGray icon-location" style="text-shadow: 0px 2px 3px #000;  font-size: 13px;  font-weight: bolder;">
  				<span style="color: #76A7F5;">$user['userCountry']</span>,</span>  
  				<span class="colorGray icon-gift" style="text-shadow: 0px 2px 3px #000;  font-size: 13px;  font-weight: bolder;">
  					<span style="color: #76A7F5;">$user['userMonth']/$user['userDay']/$user['userYear']</span>,</span>
  					<span class="colorGray icon-trophy" style="text-shadow: 0px 2px 3px #000;  font-size: 13px;  font-weight: bolder;">
  						<span style="color: #76A7F5;">New Gloonie</span>
  					</span>
  		</p>
  		
  		<p style="font-size: 13px;color: #fff;font-weight: bold;font-style: italic;text-shadow: 0px 2px 3px #000;">
  			<span>"</span>
  			<span id="userGameBio">$user['userGameBio']</span>
  			<span>"</span>
		</p>
		
		<div style="width: 100%; text-align: center;">
			 <ul style="color: #fff;width: 57%;margin:25px auto;font-weight: bold;">
			        <li style="float: left;padding: 3px;"><span class="font40">33.3%</span><br>
			        	<i class="icon-doc-text-inv"></i> Published
			        </li>
			        
			        <li style="float: left;margin-left: 20px;border-left-width: 1px;  padding: 3px;"><span class="font40">64.2%</span><br>
			        	<i class="icon-users-1"></i>Following
			        </li>
			        
			        <li style="float: left;margin-left: 20px;border-left-width: 1px;  padding: 3px;"><span class="font40">35.8%</span><br>
			        	<i class="icon-users-1"></i>Followed
			        </li>
			        
			        <li style="float: left;margin-left: 20px;border-left-width: 1px;  padding: 3px;"><span class="font40">75%</span><br>
			        	<i class="icon-award-1"></i>Won
			        </li>
			  </ul>
			
		</div>
   
   
  
 
		</div>  
	</div>
	<div style="height: 300px;background-color: #11151d; opacity: 0.8;"> </div>					
					       			
</div>
<div class="blackBoxShadow leaderBoardToppers">
	<a href="/users">
        <div id="learderboardUserContainer" class="overflowHidden">
                <div id="number2user" class="floatLeft">
                        <div class="outerBox">
                                <div class="innerBox">
                                        <img src="/static/images/photo.jpg" alt="loonatic86" title="loonatic86" width="100" height="100" style="margin-left: -4px;">
                                </div>
                        </div>
                        <div id="number2UserData">
                                <div class="leaderBoardToppersData">
                                        <span class="statsLabel colorWhite textShadowOrange font35">#2</span>                                                 
                                </div>                                                          
                                <div id="trophyBase" class="applyBevan font12">
                                        <span>
                                                <i class="icon-award-1 font13"></i>500 XP<i class="icon-award-1 font13"></i>
                                        </span>                                                                                                                  
                				</div>
                        </div>
                </div>
                <div id="number1user" class="floatLeft marginLeft30">
                        <div class="outerBox">
                                <div class="innerBox">
                                        <img src="/static/images/photo.jpg" alt="loonatic86" title="loonatic86" width="120" height="120" style="margin-left: -4px;">
                                </div>
                        </div>
                        <div id="number1UserData">
                                <div class="leaderBoardToppersData">
                                        <span class="statsLabel colorWhite textShadowOrange font50">#1</span>                                                 
                                </div>                                                          
                                <div id="trophyBase" class="applyBevan">
                                        <span>
                                                <i class="icon-award-1 font13"></i>1000 XP<i class="icon-award-1 font13"></i>
                                        </span>                                                                                                                    
                                </div>
                        </div>
                </div>
                <div id="number3user" class="floatLeft marginLeft20">
                        <div class="outerBox">
                                <div class="innerBox">
                                        <img src="/static/images/photo.jpg" alt="loonatic86" title="loonatic86" width="80" height="80" style="margin-left: -4px;">
                                </div>
                        </div>
                        <div id="number3UserData">
                                <div class="leaderBoardToppersData">
                                        <span class="statsLabel colorWhite textShadowOrange font27">#3</span>                                                 
                                </div>                                                          
                                <div id="trophyBase" class="applyBevan font13">
                                        <span>
                                                <i class="icon-award-1 font13"></i>210 XP<i class="icon-award-1 font13"></i>
                                        </span>                                                                                                                  
                                </div>
                        </div>
                </div> 
        </div>        
        </a>
</div>
		
<div class="marginTop20" id='userPostsAndOtherContents'>
	<div id='userTabContents'>
		<div id="tabs-min" class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul id='contents' >
				<li>
					<a href="#activites">Activities</a>
				</li>
				<li>
					<a href="#userPosts">Posts</a>
				</li>
				<li>
					<a href="#drafts">Drafts</a>
				</li>				
				<li>
					<a href="#social">Social</a>
				</li>				
				<li>
					<a href="#stats">Stats</a>
				</li>
			</ul>
			<div id='activites'>
				<div id="userActivityContent" class="overflowHidden">
					$if len(user['userPublicActivities']) == 0:
						<div class="noData applyBevan">No Data</div>
					$else:
						<div class="overflowHidden activityList">
							<table width="100%">
								<tbody>
									<tr>
										<td width="50%" style="vertical-align: top;">
											$for activity in user['userPublicActivities']:
												$if loop.index%2 != 0:
													<div class="activityRow marginTop10">
														$if activity['activityType'] == 1:								
																<a href="/$activity['activityUserName']" target="_blank">$activity['activityUserName']</a>$activity['message']<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" target="_blank"><strong>$activity['articleTitle']</strong></a>
														$if activity['activityType'] == 2:							
																<a href="/$activity['activityUserName']" target="_blank">$activity['activityUserName']</a>$activity['message']<a href="/$activity['followingUserName']" target="_blank"><strong>$activity['followingUserName']</strong></a>
														$if activity['activityType'] == 3:								
																<a href="/$activity['activityUserName']" target="_blank">$activity['activityUserName']</a>$activity['message']<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" target="_blank"><strong>$activity['articleTitle']</strong></a>
														$if activity['activityType'] == 4:								
																<a href="/$activity['activityUserName']" target="_blank">$activity['activityUserName']</a>$activity['message']<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']#commentList" target="_blank"><strong>$activity['articleTitle']</strong>, &nbsp;&nbsp;<strong><i class="colorGray">"$activity['activityComment']..."</i></strong></a>	
														$if activity['activityType'] == 11:
															<a href="/$activity['activityUserName']">$activity['activityUserName']</a>$activity['message']<a href="/game/$activity['gameEncodedUrl']" target="_blank"><strong>$activity['followingGame']</strong></a>																									
													</div>
										</td>
										<td width="50%" style="vertical-align: top;">
											$for activity in user['userPublicActivities']:
											$if loop.index%2 == 0:
													<div class="activityRow marginLeft10 marginTop10">
														$if activity['activityType'] == 1:								
																<a href="/$activity['activityUserName']" target="_blank">$activity['activityUserName']</a>$activity['message']<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" target="_blank"><strong>$activity['articleTitle']</strong></a>
														$if activity['activityType'] == 2:							
																<a href="/$activity['activityUserName']" target="_blank">$activity['activityUserName']</a>$activity['message']<a href="/$activity['followingUserName']" target="_blank"><strong>$activity['followingUserName']</strong></a>
														$if activity['activityType'] == 3:								
																<a href="/$activity['activityUserName']" target="_blank">$activity['activityUserName']</a>$activity['message']<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" target="_blank"><strong>$activity['articleTitle']</strong></a>
														$if activity['activityType'] == 4:								
																<a href="/$activity['activityUserName']" target="_blank">$activity['activityUserName']</a>$activity['message']<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']#commentList" target="_blank"><strong>$activity['articleTitle']</strong>, &nbsp;&nbsp;<strong><i class="colorGray">"$activity['activityComment']..."</i></strong></a>	
														$if activity['activityType'] == 11:
															<a href="/$activity['activityUserName']">$activity['activityUserName']</a>$activity['message']<a href="/game/$activity['gameEncodedUrl']" target="_blank"><strong>$activity['followingGame']</strong></a>																									
													</div>
											
										</td>
									</tr>
								</tbody>
							</table>							
						</div>													
				</div>			
			</div>
			
<div id='userPosts'>
	<div class="colorWhite fontWeightBold font11 marginTop20 marginLeft20">
		<span id="allTab" class="all icon-doc cursorPointer disableOpacity">All</span>
		<span id="reviewTab" class="review icon-thumbs-up-1 cursorPointer">Review</span>					
		<span id="newsTab" class="news icon-signal-2 cursorPointer">News</span>
		<span id="gloonicleTab" class="gloonicle icon-user cursorPointer">Gloonicle</span>
		<span id="videoTab" class="video icon-play-3 cursorPointer">Video</span>
	</div>
	
<div id='all'>
$if len(user['userRecentArticles'])==0:
	<div class="noData applyBevan">No Data</div>
$else:	
	<div class="noData applyBevan hiddenDiv">No Data</div>
	<div class="allList overflowHidden">					
	$for article in user['userRecentArticles']:
			$if loop.index == 2 or loop.index == 7: 							
				<div class="recentArticleDiv bigPostDiv floatLeft marginLeft20" id="$article['articleTimestamp']">								
					<div class='articleContentPreview' style="background-image: url($article['articleFeaturedImage']);background-size: 620px;">
						<div class="postTop hiddenDiv fontWeightBold font10 colorWhite" style="width: 620px;">
							<span class="floatLeft"><i class="font13 icon-users"></i>$article['articleCommentCount']</span>
							<span class="floatRight"><i class="font13 icon-frown"></i>$article['articleNotCoolScore']</span>
							<span class="floatRight"><i class="font13 icon-smile"></i>$article['articleCoolScore']</span>											
							<span class="floatRight"><i class="icon-fire-1"></i>Cold</span>
						</div>
					
						<div class="postBottom">
							<div class="outerBox postListOuterBoxRing floatRight postListOuterBoxRingMarginRight">
								<div class="innerBox postListInnerRing">
									<a href="/$article['articleAuthor']">
										<img src="/static/images/photo.jpg" alt="$article['articleAuthor']" title="$article['articleAuthor']" width="40" height="40">
									</a>
								</div>
							</div>
							
							<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginLeft">
								<div class="innerBox postListInnerRing">
										$if article['articleCategory']=="review":
											<span class="postListCategoryDim icon-thumbs-up-1 $article['articleCategory'] colorWhite" title="Review- user generated crisp and micro reviews"></span>
										$elif article['articleCategory']=="news":
											<span class="postListCategoryDim icon-signal-2 $article['articleCategory'] colorWhite" title="News- user shared news"></span>
										$elif article['articleCategory']=="video":
											<span class="postListCategoryDim icon-play-3 $article['articleCategory'] colorWhite" title="Video- user created and shared videos"></span>
										$else:
											<span class="postListCategoryDim icon-user $article['articleCategory'] colorWhite" title="Gloonicle- user video game blogs"></span>
								</div>
							</div>
							
							<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']">
								<p class="applyMontserratBold colorWhite font19 postTitle">$article['articleTitle']</p>
							</a>
						</div>
					</div>																
				</div>

			$elif loop.index == 4 or loop.index == 5 or loop.index == 9 or loop.index == 10:	
				<div class="recentArticleDiv smallPostDiv floatLeft marginLeft20" id="$article['articleTimestamp']">								
					<div class='articleContentPreview' style="background-image: url($article['articleFeaturedImage']);background-size: 300px 240px;">
						<div class="postTop hiddenDiv fontWeightBold font10 colorWhite" style="width: 300px;">
							<span class="floatLeft"><i class="font13 icon-users"></i>$article['articleCommentCount']</span>
							<span class="floatRight"><i class="font13 icon-frown"></i>$article['articleNotCoolScore']</span>
							<span class="floatRight"><i class="font13 icon-smile"></i>$article['articleCoolScore']</span>											
							<span class="floatRight"><i class="icon-fire-1"></i>Cold</span>
						</div>
						
							<div class="postBottom">
								<div class="outerBox floatRight postListOuterBoxRing postListOuterBoxRingMarginRight">
									<div class="innerBox postListInnerRing">
										<a href="/$article['articleAuthor']">
											<img src="/static/images/photo.jpg" alt="$article['articleAuthor']" title="$article['articleAuthor']" width="40" height="40">
										</a>
									</div>
								</div>
								
								<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginLeft">
									<div class="innerBox postListInnerRing">
										$if article['articleCategory']=="review":
											<span class="postListCategoryDim icon-thumbs-up-1 $article['articleCategory'] colorWhite" title="Review- user generated crisp and micro reviews"></span>
										$elif article['articleCategory']=="news":
											<span class="postListCategoryDim icon-signal-2 $article['articleCategory'] colorWhite" title="News- user shared news"></span>
										$elif article['articleCategory']=="video":
											<span class="postListCategoryDim icon-play-3 $article['articleCategory'] colorWhite" title="Video- user created and shared videos"></span>
										$else:
											<span class="postListCategoryDim icon-user $article['articleCategory'] colorWhite" title="Gloonicle- user video game blogs"></span>
									</div>
								</div>
							
									<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']">
										<p class="applyMontserratBold colorWhite font14 postTitle">$article['articleTitle']</p>
									</a>	
							</div>
												
						</div>																
				</div>
			$else:
				<div class="recentArticleDiv smallPostDiv floatLeft" id="$article['articleTimestamp']">								
					<div class='articleContentPreview' style="background-image: url($article['articleFeaturedImage']);background-size: 300px 240px;">
						<div class="postTop hiddenDiv fontWeightBold font10 colorWhite" style="width: 300px;" >
							<span class="floatLeft"><i class="font13 icon-users"></i>$article['articleCommentCount']</span>
							<span class="floatRight"><i class="font13 icon-frown"></i>$article['articleNotCoolScore']</span>
							<span class="floatRight"><i class="font13 icon-smile"></i>$article['articleCoolScore']</span>											
							<span class="floatRight"><i class="icon-fire-1"></i>Cold</span>
						</div>
						<div class="postBottom">
							<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginRight floatRight">
									<div class="innerBox postListInnerRing">
											<a href="/$article['articleAuthor']">
												<img src="/static/images/photo.jpg" alt="$article['articleAuthor']" title="$article['articleAuthor']" width="40" height="40">
											</a>
									</div>
							</div>
							<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginLeft">
								<div class="innerBox postListInnerRing">
									$if article['articleCategory']=="review":
										<span class="postListCategoryDim icon-thumbs-up-1 $article['articleCategory'] colorWhite" title="Review- user generated crisp and micro reviews"></span>
									$elif article['articleCategory']=="news":
										<span class="postListCategoryDim icon-signal-2 $article['articleCategory'] colorWhite" title="News- user shared news"></span>
									$elif article['articleCategory']=="video":
										<span class="postListCategoryDim icon-play-3 $article['articleCategory'] colorWhite" title="Video- user created and shared videos"></span>
									$else:
										<span class="postListCategoryDim icon-user $article['articleCategory'] colorWhite" title="Gloonicle- user video game blogs"></span>
								</div>
							</div>
							<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']">
								<p class="applyMontserratBold colorWhite font14 postTitle">$article['articleTitle']</p>
							</a>	
						</div>
					</div>																
				</div>
										
	</div>
$if len(user['userRecentArticles'])>0:
	<p class="textCenter marginTop20"><button class="loadMore">Fetch More</button></p>
$else:
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>					
</div>

<div id='review' class="hiddenDiv">
	<div class="noData applyBevan">No Data</div>
	<div class="reviewList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
</div>
			
<div id='news' class="hiddenDiv">
	<div class="noData applyBevan">No Data</div>
	<div class="newsList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
</div>

<div id='gloonicle' class="hiddenDiv">
	<div class="noData applyBevan">No Data</div>
	<div class="gloonicleList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
</div>

<div id='video' class="hiddenDiv">
	<div class="noData applyBevan">No Data</div>
	<div class="videoList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
</div>
			
</div>			
			
<div id="drafts">
	
</div>			
<div id="social">
	<div id='followers' class="overflowHidden padding5 marginTop30">
		<span class="icon-users-1 applyBevan" style="display: block;width: 300px; font-size:20px; margin-bottom: 30px;background-color: #3B6EAF;color: #fff;padding: 5px;">Followers</span>
		$if len(user['userFollowedBy']) == 0:
			<div class="noData applyBevan">No Followers</div>
		$else:
			<div style="height: 240px;overflow-y: scroll;">
			$for follower in user['userFollowedBy']:
				<div id="$follower['buddyUsername']" class="floatLeft overflowHidden innerBox otherGridDim" style="margin-left: 60px; margin-bottom: 50px;">		    			 	    
					<a href ="/$follower['buddyUsername']"><img src="$follower['buddyUserAvatar']" alt="$follower['buddyUsername']" title="$follower['buddyUsername']"width="100" height="100"/></a>
				</div>
			</div>
			<p class="textCenter marginTop20"><button class="loadMore">Fetch More</button></p>
				  
	</div>

	<div id='following' class="overflowHidden padding5">
		<span class="icon-users-1 applyBevan" style="display: block;width: 300px; font-size:20px; margin-bottom: 30px;background-color: #3B6EAF;color: #fff;padding: 5px;">Following</span>
		$if len(user['userFollowingOthers']) == 0:
			<div class="noData applyBevan">No Followings</div>
		$else:
			<div style="height: 240px;overflow-y: scroll;">
			$for following in user['userFollowingOthers']:
				<div id="$following['buddyUsername']" class="floatLeft overflowHidden innerBox otherGridDim" style="margin-left: 60px; margin-bottom: 50px;">		    			 		
					<a href ="/$following['buddyUsername']"><img src="$following['buddyUserAvatar']" alt="$following['buddyUsername']" title="$following['buddyUsername']" width="100" height="100"/></a>
				</div>
			</div>	   
			<p class="textCenter marginTop20"><button class="loadMore">Fetch More</button></p>
	</div>
	
	<div id='games' class="overflowHidden padding5">
		<span class="icon-joystick applyBevan" style="display: block;width: 300px; font-size:20px; margin-bottom: 30px;background-color: #3B6EAF;color: #fff;padding: 5px;">Games Interested in</span>
		$if len(user['userInterestedGames']) == 0:
			<div class="noData applyBevan">No Games</div>
		$else:
			<div style="height: 240px; overflow-y: scroll;">
			$for game in user['userInterestedGames']:
				<div id="$game['interestedGameId']" class="floatLeft overflowHidden innerBox otherGridDim" style="margin-left: 60px; margin-bottom: 50px;">		    			 		
					<a href ="/game/$game['interestedGameURL']"><img src="$game['interestedGameBoxShot']" alt="$game['interestedGameTitle']" title="$game['interestedGameTitle']" height="140"/></a>
				</div>  
			</div>	 
			<p class="textCenter marginTop20"><button class="loadMore">Fetch More</button></p>
	</div>
</div>			
						
<div id='stats'>
	$if len(user['userAchievements']) == 0:
		<span id="noAwards" class="noData applyBevan">No Awards</span>
	$else:
		<div class="overflowHidden">
		$for award in user['userAchievements']:    				
			<div id="$award['achievementImage']"  class="floatLeft overflowHidden tabGrid otherGridDim">
				<img src="$session.baseUrl/assets/images/default/boxShot.png" title="$award['title']-$award['description']" alt="$award['title']" height="125"/>
			</div>
		</div>	 	
</div>

		</div>
	</div>		
</div>
	</div>
</div>

<script src="/static/javascripts/user_page.js" type="text/javascript"></script>
