$def with (game)
$ categoryIconMap={"review":"icon-thumbs-up-1", "news":"icon-signal-2", "gloonicle":"icon-user", "video":"icon-play-3"}
$var title: $:game['gameTitle'] on Gamealoon - Find all gamer generated $:game['gameTitle'] news, reviews, features, gloonicles and videos at Gamealoon  
$var description:All gamer generated $:game['gameTitle'] news, reviews, features, gloonicles and videos at Gamealoon

<div class="mainContainer">
	<div id="container_layout">
		<div class="divider"> </div>

<div class="coverSection marginBottom10 gameCoverSectionPaddigTop" style="background-image: url('/static/images/uc3_2.jpg');">		
			
  <div class="dashedBorder gameCoverSectionContainer">
  	<div id="game" class="gameCarouselMainRing">
  		<div id="userPostAndCreatorOuterCircle" class="outerBox">
  			$if game['isInterestedIn'] == 1:
				<div id="userPostAndCreatorInnerCircle" class="innerBox followRing">
			$else:
				<div id="userPostAndCreatorInnerCircle" class="innerBox unfollowRing">  			
  			<a href="javascript:;"><img id="$game['gameId']" src="$game['gameBoxShot']" alt="$game['gameTitle']" title="$game['gameTitle']" height="230" style="margin-left: -4px;"></a>
  			</div>
  		</div>
  	</div>
  	
  	<div class="marginTop10 textCenter" style="height: 100px;">
  		<p class="gameTitle">
  			$game['gameTitle']   			
  		</p>
  		
  		<p>
  			<span class="colorGray gameDetailsHeaders">
  				Published By: <span class="userGamePageDetailValueColor">$game['gamePublisher']</span>,</span>  
  				<span class="colorGray gameDetailsHeaders">
  				Developed By:<span class="userGamePageDetailValueColor">$game['gameDeveloper']</span>,</span>
  				<span class="colorGray gameDetailsHeaders">
  				Genre:<span class="userGamePageDetailValueColor">$game['gameGenere']</span>,</span>
  				<span class="colorGray gameDetailsHeaders">
  				Released on:		<span class="userGamePageDetailValueColor">$game['gameReleaseDate']</span></span>  				
  					
  		</p>
  		<ul class="overflowHidden gamePageRatingAndPlatformList">
  			<li class="floatLeft">
  				<ul class="overflowHidden">
  					<li class="floatLeft">
  						<span class="colorGray gameDetailsHeaders">
                                Rating: 
                        </span>
                    </li>
                    <li class="floatLeft marginLeft10 gamePageRatingHeight gamePageRatingWidth">
                    	<div id="$game['gameRating']" class="gamePageRatingHeight"></div>
                    </li>
               </ul>
           </li>
           <li class="floatLeft">
           	<span class="colorGray gameDetailsHeaders">,Platforms:
           			$for platform in game['gamePlatforms']:
           				<span class="$platform['platformShortTitle'] blackBoxShadow interestUserProfileFontSize marginLeft5">$platform['platformTitle']</span>           		                        
            </span>
           </li>     
        </ul>
  		
  		<p class="gameDetailsHeaders colorWhite marginTop10" style="font-style: italic;">
  			<span>"</span>
  			<span id="userGameBio">$game['gameDescription']</span>
  			<span>"</span>
		</p>
		</div>  
	</div>
	<div class="gamePageVeilBg"> </div>					
					       			
</div>
<div class="blackBoxShadow leaderBoardToppers">
        <div class="overflowHidden listDataHolderDiv">
			 <ul class="gameStatsList">
			        <li class="floatLeft"><span class="font40">$game['gameArticlesPublishedRatio']%</span><br>
			        	<i class="icon-doc-text-inv"></i> Published
			        </li>
			        
			        <li  class="floatLeft marginLeft20"><span class="font40">$game['gameInterestedUsersRatio']%</span><br>
			        	<i class="icon-users-1"></i>Interested
			        </li>
			        <li class="floatLeft marginLeft20">
			        	<div id="gameScore">                			
			        		<input type="hidden" id="networkScore" name="networkScore" value="$game['gameScore']">
                			<div id="gameScoreDonutContainer" class="dottedScoreBorder">
                				<div id="networkScoreDonutHolder" class="donutHolder donutHolderSize150" title="This is the generated gamealoon network score or true score. Please note that this score will vary from time to time when and as more users will review this game. This is totally algorithmically generated">
									   <div id="gameScoredonut" class="donut">
																					</div>
									 <span id="gameScoredonutData" class="textShadowBlack donutData donutDataMediumSize">
																				</span>  
																		  </div>                				
                			</div>
                			<div id="scoreTrophy" style="width: 176px;height: 130px;overflow: hidden;margin-left: 28px;">
                				<div id="trophyRank">
								$if game['totalUsersWhoScoredGame']==0:
									<span class="statsLabel colorWhite textShadowOrange">NR</span>
								$else:
									<span class="statsLabel colorWhite textShadowOrange">$game['gameNetworkScale']</span>                					
                				</div>                                                          
                				<div id="trophyBase" class="applyBevan">
                					<span>
                						<i class="icon-star-2"></i>Network Score<i class="icon-star-2"></i>
                					</span>
                					<br>			
                					<span class="font12">($game['totalUsersWhoScoredGame'])</span>	                             				
                               </div>
                           </div>
                       </div>
			        </li>
			        <li class="floatLeft marginLeft20"><span class="font40">$game['gameTotalUsersPlayedRatio']%</span><br>
			        	<i class="icon-users-1"></i>Played
			        </li>
			        
			        <li class="floatLeft marginLeft20"><span class="font40">$game['gameTotalUsersScoredRatio']%</span><br>
			        	<i class="icon-users-1"></i>Scored
			        </li>
			  </ul>
			
		</div>
</div>
<div class="marginTop20" id='userPostsAndOtherContents'>
	<div id='userTabContents'>
		<div id="tabs-min" class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul id='contents' >
				<li>
					<a href="#posts">Posts</a>
				</li>								
				<li>
					<a href="#users">Users</a>
				</li>							
			</ul>
<div id='posts'>
	<div class="colorWhite fontWeightBold font11 marginTop20 marginLeft20">
		<span id="allTab" class="all icon-doc cursorPointer disableOpacity">All</span>
		<span id="reviewTab" class="review icon-thumbs-up-1 cursorPointer">Review</span>					
		<span id="newsTab" class="news icon-signal-2 cursorPointer">News</span>
		<span id="gloonicleTab" class="gloonicle icon-user cursorPointer">Gloonicle</span>
		<span id="videoTab" class="video icon-play-3 cursorPointer">Video</span>
	</div>
	
<div id='all'>
$if len(game['gameArticles'])==0:
	<div class="noData applyBevan">No Data</div>
$else:	
	<div class="noData applyBevan hiddenDiv">No Data</div>
	<div class="allList overflowHidden">					
	$for article in game['gameArticles']:
			$if loop.index == 2 or loop.index == 7: 							
				<div class="recentArticleDiv bigPostDiv floatLeft marginLeft20" id="$article['articleTimestamp']">								
					<div class='articleContentPreview' style="background-image: url($article['articleFeaturedImage']);background-size: 620px;">
						<div class="postTop hiddenDiv fontWeightBold font10 colorWhite" style="width: 620px;">
							<span class="floatLeft"><i class="font13 icon-users"></i>$article['articleCommentCount']</span>
							<span class="floatRight"><i class="font13 icon-frown"></i>$article['articleNotCoolScore']</span>
							<span class="floatRight"><i class="font13 icon-smile"></i>$article['articleCoolScore']</span>											
							<span class="floatRight"><i class="icon-fire-1"></i>$article['articleHotnessLevel']</span>
						</div>
					
						<div class="postBottom">
							<div class="outerBox postListOuterBoxRing floatRight postListOuterBoxRingMarginRight">
								<div class="innerBox unfollowRing postListInnerRing">
									<a href="/$article['articleAuthor']">
										<img src="$article['articleAuthorAvatar']" alt="$article['articleAuthor']" title="$article['articleAuthor']" width="40" height="40">
									</a>
								</div>
							</div>
							
							<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginLeft">
								<div class="innerBox unfollowRing postListInnerRing">
										$if article['articleCategory']=="review":
											<span class="postListCategoryDim icon-thumbs-up-1 $article['articleCategory'] colorWhite" title="Review- user generated crisp and micro reviews"></span>
										$elif article['articleCategory']=="news":
											<span class="postListCategoryDim icon-signal-2 $article['articleCategory'] colorWhite" title="News- user shared news"></span>
										$elif article['articleCategory']=="video":
											<span class="postListCategoryDim icon-play-3 $article['articleCategory'] colorWhite" title="Video- user created and shared videos"></span>
										$else:
											<span class="postListCategoryDim icon-user $article['articleCategory'] colorWhite" title="Gloonicle- user video game blogs"></span>
								</div>
							</div>
							
							<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']">
								<p class="applyMontserratBold colorWhite font19 postTitle">$article['articleTitle']<span class="font11 applyJura marginLeft5">-$article['articleTimeSpentFromPublish']</span></p>
							</a>
						</div>
					</div>																
				</div>

			$elif loop.index == 4 or loop.index == 5 or loop.index == 9 or loop.index == 10:	
				<div class="recentArticleDiv smallPostDiv floatLeft marginLeft20" id="$article['articleTimestamp']">								
					<div class='articleContentPreview' style="background-image: url($article['articleFeaturedImage']);background-size: 300px 240px;">
						<div class="postTop hiddenDiv fontWeightBold font10 colorWhite" style="width: 300px;">
							<span class="floatLeft"><i class="font13 icon-users"></i>$article['articleCommentCount']</span>
							<span class="floatRight"><i class="font13 icon-frown"></i>$article['articleNotCoolScore']</span>
							<span class="floatRight"><i class="font13 icon-smile"></i>$article['articleCoolScore']</span>											
							<span class="floatRight"><i class="icon-fire-1"></i>$article['articleHotnessLevel']</span>
						</div>
						
							<div class="postBottom">
								<div class="outerBox floatRight postListOuterBoxRing postListOuterBoxRingMarginRight">
									<div class="innerBox unfollowRing postListInnerRing">
										<a href="/$article['articleAuthor']">
											<img src="$article['articleAuthorAvatar']" alt="$article['articleAuthor']" title="$article['articleAuthor']" width="40" height="40">
										</a>
									</div>
								</div>
								
								<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginLeft">
									<div class="unfollowRing innerBox postListInnerRing">
										$if article['articleCategory']=="review":
											<span class="postListCategoryDim icon-thumbs-up-1 $article['articleCategory'] colorWhite" title="Review- user generated crisp and micro reviews"></span>
										$elif article['articleCategory']=="news":
											<span class="postListCategoryDim icon-signal-2 $article['articleCategory'] colorWhite" title="News- user shared news"></span>
										$elif article['articleCategory']=="video":
											<span class="postListCategoryDim icon-play-3 $article['articleCategory'] colorWhite" title="Video- user created and shared videos"></span>
										$else:
											<span class="postListCategoryDim icon-user $article['articleCategory'] colorWhite" title="Gloonicle- user video game blogs"></span>
									</div>
								</div>
							
									<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']">
										<p class="applyMontserratBold colorWhite font14 postTitle">$article['articleTitle']<span class="font11 applyJura marginLeft5">-$article['articleTimeSpentFromPublish']</span></p>
									</a>	
							</div>
												
						</div>																
				</div>
			$else:
				<div class="recentArticleDiv smallPostDiv floatLeft" id="$article['articleTimestamp']">								
					<div class='articleContentPreview' style="background-image: url($article['articleFeaturedImage']);background-size: 300px 240px;">
						<div class="postTop hiddenDiv fontWeightBold font10 colorWhite" style="width: 300px;" >
							<span class="floatLeft"><i class="font13 icon-users"></i>$article['articleCommentCount']</span>
							<span class="floatRight"><i class="font13 icon-frown"></i>$article['articleNotCoolScore']</span>
							<span class="floatRight"><i class="font13 icon-smile"></i>$article['articleCoolScore']</span>											
							<span class="floatRight"><i class="icon-fire-1"></i>$article['articleHotnessLevel']</span>
						</div>
						<div class="postBottom">
							<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginRight floatRight">
									<div class="innerBox unfollowRing postListInnerRing">
											<a href="/$article['articleAuthor']">
												<img src="$article['articleAuthorAvatar']" alt="$article['articleAuthor']" title="$article['articleAuthor']" width="40" height="40">
											</a>
									</div>
							</div>
							<div class="outerBox postListOuterBoxRing postListOuterBoxRingMarginLeft">
								<div class="innerBox unfollowRing postListInnerRing">
									$if article['articleCategory']=="review":
										<span class="postListCategoryDim icon-thumbs-up-1 $article['articleCategory'] colorWhite" title="Review- user generated crisp and micro reviews"></span>
									$elif article['articleCategory']=="news":
										<span class="postListCategoryDim icon-signal-2 $article['articleCategory'] colorWhite" title="News- user shared news"></span>
									$elif article['articleCategory']=="video":
										<span class="postListCategoryDim icon-play-3 $article['articleCategory'] colorWhite" title="Video- user created and shared videos"></span>
									$else:
										<span class="postListCategoryDim icon-user $article['articleCategory'] colorWhite" title="Gloonicle- user video game blogs"></span>
								</div>
							</div>
							<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']">
								<p class="applyMontserratBold colorWhite font14 postTitle">$article['articleTitle']<span class="font11 applyJura marginLeft5">-$article['articleTimeSpentFromPublish']</span></p>
							</a>	
						</div>
					</div>																
				</div>
										
	</div>
$if len(game['gameArticles'])>0:
	<p class="textCenter marginTop20"><button class="loadMore">Fetch More</button></p>
$else:
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>		
<p class="contentLoading hiddenDiv textCenter font23 colorOrange"><i class="icon-spin3 animate-spin"></i></p>			
</div>

<div id='review' class="hiddenDiv">
	<div class="noData applyBevan">No Data</div>
	<div class="reviewList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
	<p class="contentLoading hiddenDiv textCenter font23 colorOrange"><i class="icon-spin3 animate-spin"></i></p>
</div>
			
<div id='news' class="hiddenDiv">
	<div class="noData applyBevan">No Data</div>
	<div class="newsList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
	<p class="contentLoading hiddenDiv textCenter font23 colorOrange"><i class="icon-spin3 animate-spin"></i></p>
</div>

<div id='gloonicle' class="hiddenDiv">
	<div class="noData applyBevan">No Data</div>
	<div class="gloonicleList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
	<p class="contentLoading hiddenDiv textCenter font23 colorOrange"><i class="icon-spin3 animate-spin"></i></p>
</div>

<div id='video' class="hiddenDiv">
	<div class="noData applyBevan">No Data</div>
	<div class="videoList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
	<p class="contentLoading hiddenDiv textCenter font23 colorOrange"><i class="icon-spin3 animate-spin"></i></p>
</div>
			
</div>												
						
			
			<div id='users' class="overflowHidden padding5 marginTop30">
				<span class="icon-users-1 applyBevan socialHeaders">Followers</span>
				
				$if len(game['gameInterestedUsers']) == 0:
    				<div class="noData applyBevan">No Users</div>
    			$else:
    			
    				<div id="followersList" class="socialList">
    					$for user in game['gameInterestedUsers']:    			
			    			 <div id="$user['interestedUserUserName']" class="floatLeft overflowHidden innerBox unfollowRing otherGridDim" style="margin-left: 60px; margin-bottom: 50px;">		    			 	    
			    			    	<a href ="/$user['interestedUserUserName']"><img src="$user['interestedAvatarPath']" alt="$user['interestedUserUserName']" title="$user['interestedUserUserName']"width="100" height="100"/></a>
			    			 </div>
    				</div>
    			     
			</div>			
			
		
	</div>	
</div>
</div>
</div>
</div>
</div>
 <script type="text/javascript" src="/static/javascripts/game_page.js"></script>
