$def with (user)
$ categoryIconMap={"review":"icon-thumbs-up-1", "news":"icon-signal-2", "gloonicle":"icon-user", "video":"icon-play-3"}
$var title: $user['userFirstName'] $user['userLastName'] aka $user['userUserName'] @ Gamealoon - Find all $user['userUserName']'s reviews, gloonicles, news and videos on Gamealoon!
$var description: $user['userFirstName'] $user['userLastName'] aka $user['userUserName'] @ Gamealoon - Find all $user['userUserName']'s reviews, gloonicles, news and videos on Gamealoon! 

<div class="mainContainer">
	<div id="container_layout">
		<div class="divider"> </div>
		<p class="profileUpdateStatusNotification hiddenDiv">Please Wait...</p>
<div id="carousel" class="blackBoxShadow">	
	<div id="carouselContent">
		<div id='userCarouselBox' class="carouselContainer">
			<div class="dashedBorder positionAbsolute carouselContent">
				<div id="userRing" class="carouselMainRing">
					<div id="userPostAndCreatorOuterCircle" class="outerBox">
						$if user['isFollowing'] == 1:
							<div id="userPostAndCreatorInnerCircle" class="innerBox followRing">
						$else:
							<div id="userPostAndCreatorInnerCircle" class="innerBox unfollowRing">		
                                
                        <a href="javascript:;"><img id="$user['userAvatarId']" src="$user['userAvatarUrl']" alt="$user['userUserName']" title="$user['userUserName']" width="150" height="150"></a>
                        </div>
                	</div>
        		</div>
        		
        		<div class="carouselEntityDetails">
                	<p class="fontSize30 colorWhite fontWeightBold textShadowBlack textShadowBlackUserPage">
                    	    $user['userFirstName'] $user['userLastName'] <span class="font14 colorGray">aka</span> 
                        	<span id="gamerName" class="userTitle">$user['userUserName']</span>
                	</p>
                
                	<p>
                        <span class="colorGray icon-location textShadowBlackUserPage font13 fontWeightBold">
                                <span class="userGamePageDetailValueColor">$user['userCountry']</span>
                        ,</span>  
                        $if user['userBirthdayVisibility'] == 2:
	                         <span class="colorGray icon-gift textShadowBlackUserPage font13 fontWeightBold">
	                                 <span class="userGamePageDetailValueColor">$user['userMonth']/$user['userDay']/$user['userYear']</span>
	                        ,</span>
                       <span class="colorGray icon-crown textShadowBlackUserPage font13 fontWeightBold">
                                 <span class="userGamePageDetailValueColor">$user['userNetworkCrown']</span>
                        </span>
                	</p>
                
                	<p class="textShadowBlackUserPage font13 fontWeightBold colorWhite" style="font-style: italic;">
                        	<span>"</span>
                        	<span id="userGameBio">$user['userGameBio']</span>
                        	<span>"</span>
                	</p>
                
                	<div class="listDataHolderDiv">
                         <ul class="userPageList">
                                <li><span class="font40">$user['userPublishedRatio']%</span><br>
                                        <i class="icon-doc-text-inv"></i> Published
                                </li>
                                
                                <li class="marginLeft20"><span class="font40">$user['userFollowingRatio']%</span><br>
                                        <i class="icon-users-1"></i>Following
                                </li>
                                
                                <li class="marginLeft20"><span class="font40">$user['userFollowersRatio']%</span><br>
                                        <i class="icon-users-1"></i>Followed
                                </li>
                                
                                <li class="marginLeft20"><span class="font40">$user['userCoolScoreRatio']%</span><br>
                                        <i class="icon-smile"></i>Yeahs
                                </li>
                          </ul>
                        
               	 	</div>
   
   
  
 
                </div>  
        </div>
        <div class="userPageVeilBg"> </div>
        
				$if len(user['userCarouselArticles']) == 0:
					<div id='topTab' class="hiddenDiv carouselTopTabDim z500 positionAbsolute carouselHeader carouselHeaderPadding">						
						<p class="applyFranklinGothic font25 colorLightGray ">No Post Published</p>	
					</div>
					<div class="overflowHidden carouselContainer">
						<img src="$session.baseUrl/assets/images/default/featuredBg.png" width="960" height="720" />	
					</div>
				$else:
					<div id='topTab' class="hiddenDiv carouselTopTabDim z500 positionAbsolute carouselHeader carouselHeaderPadding">							
						<span class="floatLeft">
							<ul>
								<li class="floatLeft">
									<span class="marginRight10">
										<a class='playPause' href='javascript:;'><i class='icon-pause-3 colorWhite'></i></a>
									</span>
								</li>
								<li class="floatLeft">
									<span id='carouselNav'>
									$for article in user['userCarouselArticles']:						       							
										<span><a href='javascript:;'><i class="icon-circle font7 colorWhite"></i></a></span>								
									</span>
								</li>
								<li class="floatLeft marginLeft40">
									<a id='articleTitle' href="/article/$user['userCarouselArticles'][0]['articleAuthor']/$user['userCarouselArticles'][0]['articleEncodedUrlTitle']">
										<p class="applyFranklinGothic font25 colorLightGray">$user['userCarouselArticles'][0]['articleTitle']</p>
									</a>	
								</li>
							</ul>
							
							
						</span>			
						<div class="userCarouselOuterBoxRing postListOuterBoxRingMarginRight floatRight marginTop30">
							<div class="innerBox unfollowRing postListInnerRing">
								<span class="postCategory postListCategoryDim $user['userCarouselArticles'][0]['articleCategory'] colorWhite"></span>
							</div>
						</div>																													
					</div>
					<div id="cPosts" class="slider overflowHidden carouselContainer">
						$for article in user['userCarouselArticles']:
							<a href="/article/$article['articleAuthor']/$article['articleEncodedUrlTitle']" data-encodedtitle="$article['articleEncodedUrlTitle']" data-title="$article['articleTitle']" data-username="$article['articleAuthor']" data-category="$article['articleCategory']"><img src="$article['articleFeaturedImage']" width="960" height="720"/></a>				
			
					</div>									
		</div>		
		
	</div>
	

</div>


<div class="blackBoxShadow leaderBoardToppers padding20">	
        <div class="userLeadeboardInfo overflowHidden">
                
                <div id="number1user" class="floatLeft">
                        <div class="outerBox">
                                <div class="innerBox unfollowRing">
                                        <img id="$user['userAvatarId']" src="$user['userAvatarUrl']" alt="$user['userUserName']" title="$user['userUserName']" width="120" height="120" style="margin-left: -4px;">
                                </div>
                        </div>
                        <div id="number1UserData">
                                <div class="leaderBoardToppersData">
                                        <span class="statsLabel colorLightGray font20">$user['userUserName']</span>                                                 
                                </div>                                                          
                                
                        </div>
                </div>
				<div>
					<div>
						<ul class="overflowHidden">
							<li class="floatLeft marginLeft10">
								<span class="statsLabel colorWhite font20 icon-award-1">XP</span>
								<br>
								<span class="statsLabel colorWhite textShadowOrange font15 userGamifySpanData">$user['userXp'] XP</span></li>
							<li class="floatLeft marginLeft30">
								<span class="icon-rocket statsLabel colorWhite font20">Network Rank</span>
								<br>
								<span class="colorWhite textShadowOrange font20 userGamifySpanData">#$user['userLeaderboardRank']</span></li>
							<li class="floatLeft marginLeft30" style="width: 410px;">
								<span class="statsLabel colorWhite font20 icon-level-up" style="display: block;text-align: center;width: 280px;">Level</span>
								<ul class="overflowHidden">
									<li class="floatLeft">
										<span class="statsLabel colorWhite textShadowOrange font15">LV.$user['userLevel']</span>
									</li>
									<li class="floatLeft"><span class="overflowHidden floatLeft marginLeft10 levelMeter">
										<span class="toGoText">$user['userNextLevelPointsToGo'] to go</span>
											<div class="levelMeterJuice" style="width: $user['userLevelCompletionRatio']%;"></div>
										</span>
									</li>
									<li class="floatLeft">
										<span class="statsLabel colorWhite textShadowOrange font20">LV.$user['userNextLevel']</span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="marginTop40">
						<ul class="overflowHidden">
							<li class="floatLeft">
								<span class="statsLabel colorWhite font20 icon-crown">Next Crown</span>
								<br>
								<span class="statsLabel colorWhite textShadowOrange font15 userGamifySpanData">$user['userNextNetworkCrown']</span>
							</li>
							<li class="floatLeft marginLeft30">
								<span class="statsLabel colorWhite font20 icon-award">Awards Won</span><br>
								<span class="colorWhite textShadowOrange font20 userGamifySpanData">$user['userAchievementRatio']%</span>
							</li>
						</ul>
					</div>
				</div>
                 
        </div>        
        
</div>
		
<div class="marginTop20" id='userPostsAndOtherContents'>
	<div id='userTabContents'>
		<div id="tabs-min" class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul id='contents' >
				<li>
					<a href="#activites">Activities</a>
				</li>
				<li>
					<a href="#userPosts">Posts</a>
				</li>
					$if session.loggedIn and session.username == user['userUserName']:
						<li>
							<a href="#drafts">Drafts</a>
						</li>
					$else:
						<li class="hiddenDiv">
							<a href="#drafts">Drafts</a>
						</li>					
				<li>
					<a href="#social">Social</a>
				</li>				
				<li>
					<a href="#stats">Stats</a>
				</li>
			</ul>
			<div id='activites'>
				<div id="userActivityContent" class="overflowHidden">
					$if len(user['userActivities']) == 0:
						<div class="noData applyBevan">No Data</div>
					$else:
					<div class="overflowHidden activityList">
						<table width="100%">
							<tbody>
								<tr>
									<td width="50%" style="vertical-align: top;">
									$for activity in user['userActivities']:
										$if loop.index%2 != 0:
											<div class="activityRow marginTop10 font13 blackBoxShadow">
												
												$if activity['activityType'] == 1:							
															<div style="height:353px; background-image: url($activity['articleFeaturedImage']); background-size:470px 353px;">
																<div style="height: 50px; background-color: #222;" class="overflowHidden">
																	<div class="floatLeft marginRight5">
																		<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																			<a href="/$activity['activityUserName']">
																				<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																			</a>
																		</div>																		
																	</div>
																	<div>
																		<span class="colorGray">published a new </span>																			
																		<span class="colorWhite $activity['articleCategory']"></span>
																		<span><a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" class="colorOrange" target="_blank"><strong>$activity['articleTitle']</strong></a></span>																		
																	</div>
																</div>
																<div class="activityVeil" style="height: 303px;">
																	<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" target="_blank" style="height: 100%; display: block;">
																		<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="$categoryIconMap[activity['articleCategory']]"></i></p>
																	</a>
																</div>
															</div>
																					
												$if activity['activityType'] == 2:	
														<div style="height:300px; background-image: url(/static/images/diagmonds.png);">
															<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray">now <span class="icon-plus-circled colorWhite interested" title="follows"></span></span>																			
																	<span><a href="/$activity['followingUserName']" target="_blank" class="colorOrange"><strong>$activity['followingUserName']</strong></a></span>																	
																</div>
															</div>
															<div style="height: 250px;">
																	<div style="width:100%;">
																		<div class="outerBox" style="width: 180px;height: 180px;margin: 10px auto;">
																			<div class="innerBox unfollowRing" style="width: 170px;height: 170px;">
																				<img src="$activity['followingUserAvatar']" alt="$activity['followingUserName']" title="$activity['followingUserName']" height="210" style="margin-left: -4px;">
																			</div>
																		</div>
																	</div>
																	<p class="textCenter colorWhite marginTop20 font20 fontWeightBold">$activity['followingUserName']</p>
															</div>	
															<div class="activityVeil" style="position:absolute;width:469px;height: 250px;margin-top: -250px;">
																	<a href="/$activity['followingUserName']" target="_blank" style="height: 100%; display: block;">
																		<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-plus-circled"></i></p>
																	</a>
															</div>																	
														</div>																																				
												$if activity['activityType'] == 3:	
														<div style="height:353px; background-image: url($activity['articleFeaturedImage']); background-size:470px 353px;">
															<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray">found </span>																			
																	<span><a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" class="colorOrange" target="_blank"><strong>$activity['articleTitle']</strong></a></span>
																	<span class="icon-smile colorWhite interested" title="Yeah"></span>	
																</div>
															</div>
															<div class="activityVeil" style="height: 303px;">
																<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" target="_blank" style="height: 100%; display: block;">
																	<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-smile"></i></p>
																</a>
															</div>			
														</div>							
																		
												$if activity['activityType'] == 4:								
														<div style="height:353px; background-image: url($activity['articleFeaturedImage']); background-size:470px 353px;">
															<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="icon-comment-1 colorWhite interested" title="comments"></span>
																	<span class="colorGray">on </span>																			
																	<span><a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']#commentList" class="colorOrange" target="_blank"><strong>$activity['articleTitle']</strong></a></span>
																	<span class="colorWhite">,<strong><i class="colorLightGray">"$activity['activityComment']..."</i></strong></span>																		
																</div>
															</div>
															<div class="activityVeil" style="height: 303px;">
																<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']#commentList" target="_blank" style="height: 100%; display: block;">
																	<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-comment-1"></i></p>
																</a>
															</div>
														</div>	
														
												$if activity['activityType'] == 7:								
														<div style="height:300px; background-image: url(/static/images/diagmonds.png);">
															<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray">won <span class="icon-award colorWhite interested" title="follows"></span></span>																			
																	<span><a href="javascript:;" target="_blank" class="colorOrange"><strong>$activity['achievementTitle']</strong></a></span>																	
																</div>
															</div>
															<div style="height: 250px;">
																	<div style="width:100%; text-align: center;">
																		
																		
																				<img src="$activity['achievementImage']" alt="$activity['achievementTitle']" title="$activity['achievementTitle']" height="170">
																		
																		
																	</div>
																	<p class="textCenter colorWhite marginTop20 font20 fontWeightBold">$activity['achievementTitle']</p>
															</div>	
															<div class="activityVeil" style="position:absolute;width:469px;height: 250px;margin-top: -250px;">
																	<a href="javascript:;" target="_blank" style="height: 100%; display: block;">
																		<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-award"></i></p>
																	</a>
															</div>																	
														</div>	
														
												$if activity['activityType'] == 8:								
														<div style="height:300px; background-image: url(/static/images/diagmonds.png);">
															<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray">now <span class="icon-minus-circled colorWhite notInterested" title="no more follows"></span></span>																			
																	<span><a href="/$activity['notFollowingUserName']" target="_blank" class="colorOrange"><strong>$activity['notFollowingUserName']</strong></a></span>																	
																</div>
															</div>
															<div style="height: 250px;">
																	<div style="width:100%;">
																		<div class="outerBox" style="width: 180px;height: 180px;margin: 10px auto;">
																			<div class="innerBox unfollowRing" style="width: 170px;height: 170px;">
																				<img src="$activity['notFollowingUserAvatar']" alt="$activity['notFollowingUserName']" title="$activity['notFollowingUserName']" height="210" style="margin-left: -4px;">
																			</div>
																		</div>
																	</div>
																	<p class="textCenter colorWhite marginTop20 font20 fontWeightBold">$activity['notFollowingUserName']</p>
															</div>	
															<div class="activityVeil" style="position:absolute;width:469px;height: 250px;margin-top: -250px;">
																	<a href="/$activity['notFollowingUserName']" target="_blank" style="height: 100%; display: block;">
																		<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-minus-circled"></i></p>
																	</a>
															</div>																	
														</div>		
																
												$if activity['activityType'] == 11:
													<div style="height:300px; background-image: url(/static/images/diagmonds.png);">
														<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray"><span class="icon-plus-circled colorWhite interested" title="interested"></span> in</span>																			
																	<span><a href="/game/$activity['gameEncodedUrl']" target="_blank" class="colorOrange"><strong>$activity['followingGame']</strong></a></span>																	
																</div>
														</div>
														<div style="height: 250px;">
																	<div style="width:100%;">
																		<div class="outerBox" style="width: 180px;height: 180px;margin: 10px auto;">
																			<div class="innerBox unfollowRing" style="width: 170px;height: 170px;">
																				<img src="$activity['gameBoxShot']" alt="$activity['followingGame']" title="$activity['followingGame']" height="250" style="margin-left: -4px;">
																			</div>
																		</div>
																	</div>
																	<p class="textCenter colorWhite marginTop20 font20 fontWeightBold">$activity['followingGame']</p>
														</div>	
														<div class="activityVeil" style="position:absolute;width:469px;height: 250px;margin-top: -250px;">
															<a href="/game/$activity['gameEncodedUrl']" target="_blank" style="height: 100%; display: block;">
																<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-plus-circled"></i></p>
															</a>
														</div>	
													</div>	
													
												$if activity['activityType'] == 12:
													<div style="height:300px; background-image: url(/static/images/diagmonds.png);">
														<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray"><span class="icon-minus-circled colorWhite notInterested" title="not interested"></span> in</span>																			
																	<span><a href="/game/$activity['gameEncodedUrl']" target="_blank" class="colorOrange"><strong>$activity['notFollowingGame']</strong></a></span>																	
																</div>
														</div>
														<div style="height: 250px;">
																	<div style="width:100%;">
																		<div class="outerBox" style="width: 180px;height: 180px;margin: 10px auto;">
																			<div class="innerBox unfollowRing" style="width: 170px;height: 170px;">
																				<img src="$activity['gameBoxShot']" alt="$activity['notFollowingGame']" title="$activity['notFollowingGame']" height="250" style="margin-left: -4px;">
																			</div>
																		</div>
																	</div>
																	<p class="textCenter colorWhite marginTop20 font20 fontWeightBold">$activity['notFollowingGame']</p>
														</div>	
														<div class="activityVeil" style="position:absolute;width:469px;height: 250px;margin-top: -250px;">
															<a href="/game/$activity['gameEncodedUrl']" target="_blank" style="height: 100%; display: block;">
																<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-minus-circled"></i></p>
															</a>
														</div>	
													</div>	
													
												$if activity['activityType'] == 14:
													<div style="height:353px; background-image: url($activity['articleFeaturedImage']); background-size:470px 353px;">
															<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray">found </span>																			
																	<span><a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" class="colorOrange" target="_blank"><strong>$activity['articleTitle']</strong></a></span>
																	<span class="icon-frown colorWhite notInterested" title="Meh"></span>	
																</div>
															</div>
															<div class="activityVeil" style="height: 303px;">
																<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" target="_blank" style="height: 100%; display: block;">
																	<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-frown"></i></p>
																</a>
															</div>			
														</div>	
																																							
											</div>
									</td>
									<td width="50%" style="vertical-align: top;">
									$for activity in user['userActivities']:
										$if loop.index%2 == 0:
												<div class="activityRow marginLeft10 marginTop10 font13 blackBoxShadow">
												
												
												$if activity['activityType'] == 1:							
															<div style="height:353px; background-image: url($activity['articleFeaturedImage']); background-size:470px 353px;">
																<div style="height: 50px; background-color: #222;" class="overflowHidden">
																	<div class="floatLeft marginRight5">
																		<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																			<a href="/$activity['activityUserName']">
																				<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																			</a>
																		</div>																		
																	</div>
																	<div>
																		<span class="colorGray">published a new </span>																			
																		<span class="colorWhite $activity['articleCategory']"></span>
																		<span><a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" class="colorOrange" target="_blank"><strong>$activity['articleTitle']</strong></a></span>																		
																	</div>
																</div>
																<div class="activityVeil" style="height: 303px;">
																	<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" target="_blank" style="height: 100%; display: block;">
																		<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="$categoryIconMap[activity['articleCategory']]"></i></p>
																	</a>
																</div>
															</div>
																					
												$if activity['activityType'] == 2:							
															<div style="height:300px; background-image: url(/static/images/diagmonds.png);">
																<div style="height: 50px; background-color: #222;" class="overflowHidden">
																	<div class="floatLeft marginRight5">
																		<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																			<a href="/$activity['activityUserName']">
																				<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																			</a>
																		</div>																		
																	</div>
																	<div>
																		<span class="colorGray">now <span class="icon-plus-circled colorWhite interested" title="follows"></span></span>																			
																		<span><a href="/$activity['followingUserName']" target="_blank" class="colorOrange"><strong>$activity['followingUserName']</strong></a></span>																	
																	</div>
																</div>	
																<div style="height: 250px;">
																	<div style="width:100%;">
																		<div class="outerBox" style="width: 180px;height: 180px;margin: 10px auto;">
																			<div class="innerBox unfollowRing" style="width: 170px;height: 170px;">
																				<img src="$activity['followingUserAvatar']" alt="$activity['followingUserName']" title="$activity['followingUserName']" height="210" style="margin-left: -4px;">
																			</div>
																		</div>
																	</div>
																	<p class="textCenter colorWhite marginTop20 font20 fontWeightBold">$activity['followingUserName']</p>																	
																</div>	
																<div class="activityVeil" style="position:absolute;width:458px;height: 250px;margin-top: -250px;">
																	<a href="/$activity['followingUserName']" target="_blank" style="height: 100%; display: block;">
																		<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-plus-circled"></i></p>
																	</a>
																</div>																
														</div>
															
												$if activity['activityType'] == 3:	
														<div style="height:353px; background-image: url($activity['articleFeaturedImage']); background-size:470px 353px;">
															<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray">found </span>																			
																	<span><a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" class="colorOrange" target="_blank"><strong>$activity['articleTitle']</strong></a></span>
																	<span class="icon-smile colorWhite interested" title="Yeah"></span>	
																</div>
															</div>
															<div class="activityVeil" style="height: 303px;">
																<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" target="_blank" style="height: 100%; display: block;">
																	<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-smile"></i></p>
																</a>
															</div>
																		
														</div>							
																		
												$if activity['activityType'] == 4:		
														<div style="height:353px; background-image: url($activity['articleFeaturedImage']); background-size:470px 353px;">
															<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="icon-comment-1 colorWhite interested" title="comments"></span>
																	<span class="colorGray">on </span>																			
																	<span><a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']#commentList" class="colorOrange" target="_blank"><strong>$activity['articleTitle']</strong></a></span>
																	<span class="colorWhite">,<strong><i class="colorLightGray">"$activity['activityComment']..."</i></strong></span>																		
																</div>
															</div>
															<div class="activityVeil" style="height: 303px;">
																<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']#commentList" target="_blank" style="height: 100%; display: block;">
																	<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-comment-1"></i></p>
																</a>
															</div>
														</div>
														
												$if activity['activityType'] == 7:								
														<div style="height:300px; background-image: url(/static/images/diagmonds.png);">
															<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray">won <span class="icon-award colorWhite interested" title="follows"></span></span>																			
																	<span><a href="javascript:;" target="_blank" class="colorOrange"><strong>$activity['achievementTitle']</strong></a></span>																	
																</div>
															</div>
															<div style="height: 250px;">
																	<div style="width:100%; text-align: center;">
																		
																		
																				<img src="$activity['achievementImage']" alt="$activity['achievementTitle']" title="$activity['achievementTitle']" height="170">
																		
																		
																	</div>
																	<p class="textCenter colorWhite marginTop20 font20 fontWeightBold">$activity['achievementTitle']</p>
															</div>	
															<div class="activityVeil" style="position:absolute;width:469px;height: 250px;margin-top: -250px;">
																	<a href="javascript:;" target="_blank" style="height: 100%; display: block;">
																		<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-award"></i></p>
																	</a>
															</div>																	
														</div>
												
												$if activity['activityType'] == 8:								
														<div style="height:300px; background-image: url(/static/images/diagmonds.png);">
															<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray">now <span class="icon-minus-circled colorWhite notInterested" title="no more follows"></span></span>																			
																	<span><a href="/$activity['notFollowingUserName']" target="_blank" class="colorOrange"><strong>$activity['notFollowingUserName']</strong></a></span>																	
																</div>
															</div>
															<div style="height: 250px;">
																	<div style="width:100%;">
																		<div class="outerBox" style="width: 180px;height: 180px;margin: 10px auto;">
																			<div class="innerBox unfollowRing" style="width: 170px;height: 170px;">
																				<img src="$activity['notFollowingUserAvatar']" alt="$activity['notFollowingUserName']" title="$activity['notFollowingUserName']" height="210" style="margin-left: -4px;">
																			</div>
																		</div>
																	</div>
																	<p class="textCenter colorWhite marginTop20 font20 fontWeightBold">$activity['notFollowingUserName']</p>
															</div>	
															<div class="activityVeil" style="position:absolute;width:469px;height: 250px;margin-top: -250px;">
																	<a href="/$activity['notFollowingUserName']" target="_blank" style="height: 100%; display: block;">
																		<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-minus-circled"></i></p>
																	</a>
															</div>																	
														</div>
																																							
												$if activity['activityType'] == 11:
													<div style="height:300px; background-image: url(/static/images/diagmonds.png);">
														<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray"><span class="icon-plus-circled colorWhite interested" title="interested"></span> in </span>																			
																	<span><a href="/game/$activity['gameEncodedUrl']" target="_blank" class="colorOrange"><strong>$activity['followingGame']</strong></a></span>																	
																</div>
														</div>
														<div style="height: 250px;">
															<div style="width:100%;">
																<div class="outerBox" style="width: 180px;height: 180px;margin: 10px auto;">
																	<div class="innerBox unfollowRing" style="width: 170px;height: 170px;">
																		<img src="$activity['gameBoxShot']" alt="$activity['followingGame']" title="$activity['followingGame']" height="250" style="margin-left: -4px;">
																	</div>
																</div>
															</div>
															<p class="textCenter colorWhite marginTop20 font20 fontWeightBold">$activity['followingGame']</p>
														</div>	
														<div class="activityVeil" style="position:absolute;width:458px;height: 250px;margin-top: -250px;">
															<a href="/game/$activity['gameEncodedUrl']" target="_blank" style="height: 100%; display: block;">
																<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-plus-circled"></i></p>
															</a>
														</div>													
													</div>	
													
												$if activity['activityType'] == 12:
													<div style="height:300px; background-image: url(/static/images/diagmonds.png);">
														<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray"><span class="icon-minus-circled colorWhite notInterested" title="not interested"></span> in</span>																			
																	<span><a href="/game/$activity['gameEncodedUrl']" target="_blank" class="colorOrange"><strong>$activity['notFollowingGame']</strong></a></span>																	
																</div>
														</div>
														<div style="height: 250px;">
																	<div style="width:100%;">
																		<div class="outerBox" style="width: 180px;height: 180px;margin: 10px auto;">
																			<div class="innerBox unfollowRing" style="width: 170px;height: 170px;">
																				<img src="$activity['gameBoxShot']" alt="$activity['notFollowingGame']" title="$activity['notFollowingGame']" height="250" style="margin-left: -4px;">
																			</div>
																		</div>
																	</div>
																	<p class="textCenter colorWhite marginTop20 font20 fontWeightBold">$activity['notFollowingGame']</p>
														</div>	
														<div class="activityVeil" style="position:absolute;width:469px;height: 250px;margin-top: -250px;">
															<a href="/game/$activity['gameEncodedUrl']" target="_blank" style="height: 100%; display: block;">
																<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-minus-circled"></i></p>
															</a>
														</div>	
													</div>	
													
												$if activity['activityType'] == 14:
													<div style="height:353px; background-image: url($activity['articleFeaturedImage']); background-size:470px 353px;">
															<div style="height: 50px; background-color: #222;" class="overflowHidden">
																<div class="floatLeft marginRight5">
																	<div class="innerBox unfollowRing postListInnerRing" style="width: 30px;height: 30px;" title="$activity['activityUserName']">
																		<a href="/$activity['activityUserName']">
																			<img src="$activity['activityUserAvatar']" alt="$activity['activityUserName']" title="$activity['activityUserName']" width="30" height="30">
																		</a>
																	</div>																		
																</div>
																<div>
																	<span class="colorGray">found </span>																			
																	<span><a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" class="colorOrange" target="_blank"><strong>$activity['articleTitle']</strong></a></span>
																	<span class="icon-frown colorWhite notInterested" title="Meh"></span>	
																</div>
															</div>
															<div class="activityVeil" style="height: 303px;">
																<a href="/article/$activity['activityUserName']/$activity['articleEncodedUrl']" target="_blank" style="height: 100%; display: block;">
																	<p class="textCenter colorWhite textShadowWhite" style="font-size: 150px; opacity: 0.4;"><i class="icon-frown"></i></p>
																</a>
															</div>			
														</div>	
													
																																						
												</div>
									</td>
								</tr>
							</tbody>
						</table>							
					</div>													
				</div>			
			</div>
			
<div id='userPosts'>
	<div class="colorWhite fontWeightBold font11 marginTop20 marginLeft20">
		<span id="allTab" class="all icon-doc cursorPointer disableOpacity">All</span>
		<span id="reviewTab" class="review icon-thumbs-up-1 cursorPointer">Review</span>					
		<span id="newsTab" class="news icon-signal-2 cursorPointer">News</span>
		<span id="gloonicleTab" class="gloonicle icon-user cursorPointer">Gloonicle</span>
		<span id="videoTab" class="video icon-play-3 cursorPointer">Video</span>
	</div>
	
<div id='all'>
	<div class="noData applyBevan">No Posts</div>
	<div class="allList overflowHidden"></div>					
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
	<p class="contentLoading hiddenDiv textCenter font23 colorOrange"><i class="icon-spin3 animate-spin"></i></p>				
</div>

<div id='review' class="hiddenDiv">
	<div class="noData applyBevan">No Reviews</div>
	<div class="reviewList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
	<p class="contentLoading hiddenDiv textCenter font23 colorOrange"><i class="icon-spin3 animate-spin"></i></p>
</div>
			
<div id='news' class="hiddenDiv">
	<div class="noData applyBevan">No News</div>
	<div class="newsList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
	<p class="contentLoading hiddenDiv textCenter font23 colorOrange"><i class="icon-spin3 animate-spin"></i></p>
</div>

<div id='gloonicle' class="hiddenDiv">
	<div class="noData applyBevan">No Gloonicles</div>
	<div class="gloonicleList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
	<p class="contentLoading hiddenDiv textCenter font23 colorOrange"><i class="icon-spin3 animate-spin"></i></p>
</div>

<div id='video' class="hiddenDiv">
	<div class="noData applyBevan">No Videos</div>
	<div class="videoList overflowHidden"></div>
	<p class="textCenter marginTop20"><button class="loadMore hiddenDiv">Fetch More</button></p>	
	<p class="contentLoading hiddenDiv textCenter font23 colorOrange"><i class="icon-spin3 animate-spin"></i></p>
</div>
			
</div>			
			
<div id="drafts">
	<div class="noData applyBevan">No Drafts</div>
	<div class="draftList overflowHidden"></div>		
</div>			
<div id="social">
	<div id='followers' class="overflowHidden padding5 marginTop30">
		<span class="icon-users-1 applyBevan socialHeaders">Followers</span>
		
			<div class="noData applyBevan">No Followers</div>		
			<div id="followersList" class="socialList"></div>
			
				  
	</div>

	<div id='following' class="overflowHidden padding5">
		<span class="icon-users-1 applyBevan socialHeaders">Following</span>		
			<div class="noData applyBevan">No Followings</div>		
			<div id="followingList"  class="socialList"></div>	   
			
	</div>
	
	<div id='games' class="overflowHidden padding5">
		<span class="icon-joystick applyBevan socialHeaders">Games Interested in</span>		
			<div class="noData applyBevan">No Games</div>		
			<div id="interestedGamesList"  class="socialList"></div>	 
			
	</div>
</div>			
						
<div id='stats'>
		<div id="awards"  class="overflowHidden padding5 marginTop30">
			<span class="icon-trophy applyBevan socialHeaders">Awards</span>
			<div class="noData applyBevan">No Awards</div>	
			<div id="userAwards" class="overflowHidden"></div>
		</div>	
			 	
</div>

		</div>
	</div>		
</div>
	</div>
</div>

<script src="/static/javascripts/user_page.js" type="text/javascript"></script>
