$def with (users)
$var title: All Users at Gamealoon
$var description: All Game lovers at Gamealoon

<div id='users'>
				$if len(users) == 0:
    				<div id="noUsers" class="noData applyBevan">No Users</div>
    			$else:
    				$for user in users:  
    				     <div class="floatLeft textCenter gridDim">  				    					
			    			 <div id="$user['userUserName']" class="overflowHidden tabGrid">		    			 	    
			    			    	<a href ="/$user['userUserName']"><img src="$user['userAvatar']" alt="$user['userUserName']" title="$user['userUserName']"width="100" height="100"/></a>
			    			 </div>
			    			 <a href ="/$user['userUserName']"><span class="applyBevan colorGray">$user['userUserName']</span></a>
		    			 </div>
</div>