$def with (user)
$var title: My Gloon Profile
$var description: My Gloon Profile
<div class="mainContainer">
	<div id="container_layout">
		<div class="divider"> </div>
		<div id="profile_container">	
			<div id="userDetailsContainer" class="grayBoxShadow overflowHidden">
		  		<div id="userDetails" class="floatLeft overflowHidden">
		  			<div id="userAvatar" class="floatLeft height320">
		  				<a id="userAvatarImageUpload" href="javascript:;">
		  					<img id="$user['userAvatarId']" class="grayBoxShadow selectAvatar" src="$user['userAvatarUrl']" height="200">  					
		  				</a>
		  				<div id="userAvatarUploadBox" class="hiddenDiv textureBg">
		  					<form id="userAvatarUpload" method="post" enctype="multipart/form-data">
		  						<img id='selectedUserAvatar' class="grayBoxShadow" src="$user['userAvatarUrl']" height="200">
		  						<br>
		  						<span id="userAvatarErrorMessage" class="font14 fontWeightBold textShadowBlack error"> </span>
		  						<br>
		  						<br>
		  						<input type="file" name="userAvatarFile" id="userAvatarFile" value="Upload Avatar" class="colorWhite"/>
		  						<span class="colorLightGray font12 fontWeightBold textShadowBlack">(Image upto 100 kb of preferably 200x200 dim)</span>
		  						<input type="button" id="upload" name="upload" class="imageAndVideoButtons applyBevan colorWhite" value="Upload Avatar" />
		  					</form>
		  				</div>
		  				<br>
		  				<br>
		  				<button id="passwordButton">
		  					<img src="/static/images/refresh.png" height="15"/>
		  					<span>Password</span>
		  				</button>
		  				<div id='changePasswordModal'>
				                           <form class="colorWhite textCenter" id='resetPassword' action='' method='post'>
				                           
				                           <input type='password' name='current' id='current' placeholder="Current Password"/>
				                           	<br>	                           
				                           <input type='password' name='newPass' id='newPass' placeholder="New Password" class="marginTop10"/>
											<br>	
				                           <input type='password' name='confirm' id='confirm' placeholder=" Confirm Password" class="marginTop10"/>
				                           
				                           <p class="marginTop10"><input class="colorWhite resetPasswordButton" type='button' name='updatePass' id='updatePass' value='RESET'/></p>
				                           </form>
				  		</div>
		  			</div>
		  			<div id="userInformation" class="floatLeft height320">
		  				<div id="userNameDetails" class="applyBevan">
		  					<span id="userFirstName" class="userNameFont userProfileNameFont cursorPointer">$user['userFirstName']</span>
		  					<span id="userLastName" class="userNameFont userProfileNameFont cursorPointer">$user['userLastName']</span>		  					
						</div>
		  				<div id="userContact">
		  					<div id="contactDetails">
		  							<span id="email">
		  								<span id="emailLabel" class="colorGray textShadowBlack icon-mail-1 fontWeightBold">
		  									Email
		  								</span>
		  								<span id="emailId" class="userContactsFont">$user['userEmail']</span>
		  							</span>
		  							<span class="leftGap">
		  								
		  							</span>
		  							<span id="birthday">
		  								<span id="birthdayLabel" class="colorGray textShadowBlack icon-gift fontWeightBold">Born on</span>  								
		  								<span id="birthdayData" class="cursorPointer userContactsFont">$user['userMonth']/$user['userDay']/$user['userYear']</span>
		  								<span>
		  									$if user['userBirthdayVisibility'] == 2:
		  										<button id="visibility" class="public visibilityFont" title="Click to Make your birthday PRIVATE">PUBLIC</button>
		  									$else:
		  										<button id="visibility" class="private visibilityFont" title="Click to Make your birthday PUBLIC">PRIVATE</button>
		  								</span>
		  							</span>
		  
							</div>
		  					<div id="place">
		  						<span id="placeLabel" class="colorGray textShadowBlack icon-location fontWeightBold">Country</span>
		  						<span id="placeData" class="cursorPointer userContactsFont">$user['userCountry']</span>
							</div>  
					</div> 
		 				<div id="gameBio">
		  					<div id="gameBioHeader" class="colorGray textShadowBlack icon-rocket fontWeightBold">
		  						<span>Game-Bio</span>
		  					</div>
		  					<div id="gameBioContent" class="cursorPointer applyChunkFive">
		  						<span>"</span>
		  						<span id="userGameBio">$user['userGameBio']</span>
		  						<span>"</span>
							</div>
						</div>
					</div>
				</div>	 			
			</div>
		 </div>
	</div>
</div>	


<script src="/static/javascripts/user_profile.js" type="text/javascript"></script>
<script src="/static/javascripts/editor.js"></script>
<script src="/static/javascripts/jquery.knob.js"></script>