$def with (users)
$var title: All Users at Gamealoon
$var description: All Game lovers at Gamealoon
<div class="mainContainer">
			<div id="container_layout">			
				<div class="divider"> </div>
				<div class="blackBoxShadow usersContainer">
							$if len(users) == 0:
    							<div id="noUsers" class="noData colorWhite applyBevan">No Users</div>
    						$else:
    							<table class="usersTable">
    								$for user in users:  
				    				     <tr class="textCenter gridDim overflowHidden marginBottom10">
				    				     	<td>
				    				     		$if loop.index >= 1 and loop.index <= 3: 
				    				     			<span class="colorWhite textShadowOrange font35 fontWeightBold">#$loop.index</span>
				    				     		$else:
				    				     			<span class="colorWhite textShadowOrange font25 fontWeightBold">#$loop.index</span>	
				    				     	</td>
				    				     	<td>
				    				     		<div class="outerBox" style="width: 110px;height: 110px;margin-left: 20px;">
					                                <div class="innerBox unfollowRing" style="width: 100px;height: 100px;">
					                                        <a href ="/$user['userUserName']"><img src="$user['userAvatar']" alt="$user['userUserName']" title="$user['userUserName']"width="100" height="100"/>
					                                </div>
				                        		</div>
				    				     	</td>
				    				     	<td>
				    				     		<a href ="/$user['userUserName']"><span class="applyBevan colorGray">$user['userUserName']</span></a>
				    				     	</td>  	
				    				     	<td>
				    				     		<span class="statsLabel colorWhite textShadowOrange font15 userGamifySpanData">$user['userXp'] XP</span>
				    				     	</td>				    				     	 		    											    
				    				     	<td>
				    				     		<ul class="overflowHidden">
													<li class="floatLeft">
														<span class="statsLabel colorWhite textShadowOrange font15">LV.$user['userLevel']</span>
													</li>
													<li class="floatLeft"><span class="overflowHidden floatLeft marginLeft10 levelMeter">
														<span class="toGoText">$user['userNextLevelPointsToGo'] to go</span>
															<div class="levelMeterJuice" style="width: $user['userLevelCompletionRatio']%;"></div>
														</span>
													</li>
													<li class="floatLeft">
														<span class="statsLabel colorWhite textShadowOrange font20">LV.$user['userNextLevel']</span>
													</li>
												</ul>
				    				     	</td>									    			 
						    			 </tr>
    							</table>
    							
				</div>
			</div>	
		</div>
